{% block estimatedWaitingTime %}
{% if calldisplay.scopes|length == 1 or calldisplay.clusters|length == 1 %}
    <div class="wartezeit_aktuell">
        <div class="wartezeit_text">{% trans %}Wartezeit ohne Termin{% endtrans %}</div>
        <div id="wartezeit">{% trans %}keine{% endtrans %}</div>
    </div>
</div>
{% endif %}
{% endblock %}


