{% extends "layout/main.twig" %}

{% block title %}404{% endblock %}

{% block content %}
<h1>404 - Unbekannte Adresse</h1>
<p>
{% trans %}Die von Ihnen aufgerufene Seite konnte nicht gefunden werden. Prüfen Sie bitte die Adresszeile ihres Browsers, falls Sie die URL per Hand eingegeben haben.{% endtrans %}
</p>
{% endblock %}
