{% extends "layout/main.twig" %}

{% use "block/content/buttons.twig" %}
{% use "block/content/feedback.twig" %}

{% block pageid %}index{% endblock %}
{% block contact %}
    <div class="adressangabe_behoerde">Friedrichshain-Kreuzberg</div>
    <div class="adressangabe_name"> Bürgeramt</div>
{% endblock %}
{% block content %}

	<div class="werbeblock_oben">
		{% trans "Anzahl vor Ihnen wartender Kunden" %}:
		<span id="wartende">
		    {% if waitingQueueAmount %} {{ waitingQueueAmount }} {% else %} {% trans "keine" %} {% endif %}
		</span>
		<br>
		<div class="wartezeit">
			<span id="wartezeit">{{ waitingTime }}</span>
		</div>
	</div>

	{{ block("button_singlerow") }}
	{{ block("feedback_print") }}
	</div>
</div>
{% endblock %}


