{% extends "layout/main.twig" %}

{% use "block/content/IntroText.twig" %}
{% use "block/content/buttons.twig" %}

{% block pageid %}index{% endblock %}
{% block content %}

    <div class="werbeblock_mehrfachkiosk_oben">
    	{{ block("IntroText") }}
    </div>
    	{# {% set buttonLabelPrefix = "Wartenummer für " %} #}
    {{ block(buttonDisplay) }}

{% endblock %}


