{% extends "layout/main.twig" %}

{% use "block/content/buttons.twig" %}

{% block pageid %}index{% endblock %}
{% block content %}

	<div class="werbeblock_mehrfachkiosk_oben">
        {% trans "Bitte fordern Sie eine Wartenummer an für" %}:<br />
	</div>

	{{ block(buttonDisplay) }}
	</div>
</div>
{% endblock %}


