{% extends "layout/main.twig" %}
{% use "block/header/pageheader.twig" %}
{% use "block/navigation/navigation.twig" %}
{% block title %}Anmeldung{% endblock %}

{% block pageheader_middle %}
    {% if workstation %}
        {{ parent() }}
    {% else %}
    <span class="sitename">Statistik - Anmeldung für Behördenmitarbeiter</span>
        {% endif %}
{% endblock %}

{% block pageheader_right %}
{% endblock %}

{% block content %}
	{{ parent() }}
    <div class="lineup--login">
        {% if workstation %}
        <div class="lineup_actor--left">
            {% include "block/index/logout.twig" %}
        </div>
        {% else %}
        <div class="lineup_actor--left">
            {% include "block/index/welcome.twig" %}
        </div>
        <div class="lineup_actor--right">
            {% include "block/index/loginform.twig" %}
        </div>
        {% endif %}
    </div>
{% endblock %}
