{% extends "layout/main.twig" %}

{% from 'element/helper/form.twig' import custombutton, inputfield %}

{% block pageid %}message{% endblock %}
{% block content %}
<p>Die Apparat-ID wurde zurückgesetzt</p>
{% endblock %}