$buttonSuccessColor:        $blue !default;
$buttonAlertColor:          $red !default;
$buttonInactiveFontColor:   $fontInactiveColor !default;

.button-emergency {
    @extend 
        .btn, 
        .btn--full, 
        .btn--large,
        .btn--bold, 
        .btn--alert;
    margin-bottom:          $gridGutter;
}

.button-submit {
    @extend 
        .btn,
        //.btn--success,
        .btn--shadow;
    margin-bottom:          ($gridGutter / 2);
    font-size:              1rem;
}

.button-save {
    @extend 
        .btn,
        .btn--success,
        .btn--shadow;
    margin-bottom:          ($gridGutter / 2);
    font-size:              1rem;
}

.button-delete {
    @extend 
        .btn,
        .btn--alert,
        .btn--shadow;
    margin-bottom:          ($gridGutter / 2);
    font-size:              1rem;
}

.button-nextclient { 
    @extend 
        .btn, 
        .btn--full, 
        .btn--large,
        .btn--bold;
}

/**
 * Button modifiers.
 */

.btn--bold {
    font-weight: bold;
}

.btn--alert,
.btn--alert:hover,
.btn--alert:active,
.btn--alert:focus{
    background-color:       $buttonAlertColor;
    border-color:           $buttonAlertColor;
    color:                  $white;
}

.btn--success,
.btn--success:hover,
.btn--success:active,
.btn--success:focus{
    background-color:       $buttonSuccessColor;
    border-color:           $buttonSuccessColor;
    color:                  $white;
}

.btn--inactive,
.btn--inactive:hover,
.btn--inactive:active,
.btn--inactive:focus{
    background-color:       darken($btn-background, 5%);
    border-color:           lighten($btn-background, 15%);
    color:                  $buttonInactiveFontColor;
    cursor:                 text;     
}

.btn--shadow {
    box-shadow:             1px 1px 0px 0px #333333;
}
