.lightbox {
  display: flex;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  justify-content: center;
  align-items: center;

  background-color: rgba(255, 255, 255, 0.8);
  z-index: 10;
}

&.fixed {
    position: fixed;
}

.lightbox__content {
  .loader {
    margin: 0;
    border-left: 1.1em solid #ddd;
  }
}
