a {
    color:              $linkColor;
    text-decoration:    none;
    &:hover,
    &:focus {
        text-decoration:underline;
    }

    &.active {
        text-decoration:   underline;
    }
}
