/***************************************************
 *
 *   Accessibility adjustments
 *
 */

#{$namespace}.navigation-primary {
    border: 1px solid #f5f5f5;
}

#{$namespace}#page-header {
    border: 1px solid #33445e;
}

#{$namespace}#page-footer {
    border: 1px solid #ddd;
}

#{$namespace}ul.checkbox-list {
    list-style:none;
    padding-left:0px;
}

#{$namespace} form .form-group {
    display:flex;
    flex-direction: column;
    margin-bottom:1em;
}
#{$namespace} form .form-group .controls {
    display:flex;
    flex-direction: column;
}
#{$namespace} form .form-group .controls .message--error{
    font-weight:normal;
    margin-bottom:0px;
    padding:0.5em;
}


