
// Settings & Mixins
//@import "vendor/bo/layout-admin/source/scss/zms-styles.scss";
@import "vendor/bo/layout-admin/source/scss/default-settings"; 
@import "vendor/bo/layout-admin/source/scss/zms-settings"; 
@import "vendor/bo/layout-admin/source/scss/mixins";

// Template 
//@import "vendor/bo/layout-admin/source/scss/template/**/*.scss";
@import './vendor/bo/layout-admin/source/scss/template/aural.scss';
@import './vendor/bo/layout-admin/source/scss/template/body.scss';
@import './vendor/bo/layout-admin/source/scss/template/content-wrapper.scss';
@import './vendor/bo/layout-admin/source/scss/template/flatpickr.scss';
@import './vendor/bo/layout-admin/source/scss/template/font.scss';
@import './vendor/bo/layout-admin/source/scss/template/grids.scss';
@import './vendor/bo/layout-admin/source/scss/template/html.scss';
@import './vendor/bo/layout-admin/source/scss/template/js-collapse-me.scss';
@import './vendor/bo/layout-admin/source/scss/template/js-is_palm.scss';
@import './vendor/bo/layout-admin/source/scss/template/normalize.scss';
@import './vendor/bo/layout-admin/source/scss/template/page-wrapper.scss';
@import './vendor/bo/layout-admin/source/scss/template/print.scss';
@import './vendor/bo/layout-admin/source/scss/template/responsive-tools.scss';

// Atoms
//@import "vendor/bo/layout-admin/source/scss/atoms/**/*.scss";
@import './vendor/bo/layout-admin/source/scss/atoms/blockquote.scss';
@import './vendor/bo/layout-admin/source/scss/atoms/button.scss';
@import './vendor/bo/layout-admin/source/scss/atoms/headings.scss';
@import './vendor/bo/layout-admin/source/scss/atoms/icons.scss';
@import './vendor/bo/layout-admin/source/scss/atoms/image.scss';
@import './vendor/bo/layout-admin/source/scss/atoms/links.scss';
@import './vendor/bo/layout-admin/source/scss/atoms/list.scss';
@import './vendor/bo/layout-admin/source/scss/atoms/paragraph.scss';
@import './vendor/bo/layout-admin/source/scss/atoms/table.scss';

// Molecules
//@import "vendor/bo/layout-admin/source/scss/molecules/**/*.scss";
@import './vendor/bo/layout-admin/source/scss/molecules/block/accordion.scss';
@import './vendor/bo/layout-admin/source/scss/molecules/block/block.scss';
@import './vendor/bo/layout-admin/source/scss/molecules/block/legend.scss';
@import './vendor/bo/layout-admin/source/scss/molecules/block/message.scss';
@import './vendor/bo/layout-admin/source/scss/molecules/block/searchfilter.scss';
@import './vendor/bo/layout-admin/source/scss/molecules/form/extended-search.scss';
@import './vendor/bo/layout-admin/source/scss/molecules/form/form--profile.scss';
@import './vendor/bo/layout-admin/source/scss/molecules/form/form--search.scss';
@import './vendor/bo/layout-admin/source/scss/molecules/form/form-actions--sticky.scss';
@import './vendor/bo/layout-admin/source/scss/molecules/form/form-alerts.scss';
@import './vendor/bo/layout-admin/source/scss/molecules/form/form-infotext.scss';
@import './vendor/bo/layout-admin/source/scss/molecules/form/form.scss';
@import './vendor/bo/layout-admin/source/scss/molecules/navigation/breadcrumb.scss';
@import './vendor/bo/layout-admin/source/scss/molecules/navigation/footer-servicelinks.scss';
@import './vendor/bo/layout-admin/source/scss/molecules/navigation/header-hamburger.scss';
@import './vendor/bo/layout-admin/source/scss/molecules/navigation/header-metanavi.scss';
//@import './vendor/bo/layout-admin/source/scss/molecules/navigation/metanavi-popup.scss';
@import './vendor/bo/layout-admin/source/scss/molecules/navigation/navigation-primary.scss';
@import './vendor/bo/layout-admin/source/scss/molecules/navigation/pagination.scss';
//@import './vendor/bo/layout-admin/source/scss/molecules/swiper/swiper.scss';

// Organisms
//@import "vendor/bo/layout-admin/source/scss/organisms/**/*.scss";
@import './vendor/bo/layout-admin/source/scss/organisms/page-footer.scss';
@import './vendor/bo/layout-admin/source/scss/organisms/page-header.scss';


// OLD
@import "node_modules/react-datepicker/dist/react-datepicker";
@import "block/emergency";

// ToDo: Put this into Patternlab
button, input, optgroup, select, textarea {
    max-width: 90vw;
}
.message {
    > :first-child h2,
    > :first-child h3 {
        margin-top: 0;
    }
    > :last-child > :last-child {
        margin-bottom: 0;
    }
}

form {
    .form-group.has-error {
        input, select, textarea {
            border-color: #d52f2e;
            border-width: 1px 1px 1px 5px;
        }
    }
    // Todo: we need a global checkbox select layout
    .checkboxselect .inner {
        border:     1px solid #DDDDDD;
        background-color: #ffffff;
        padding: 0.5em;
    }
    .checkboxdeselect .inner {
        border:     1px solid #DDDDDD;
        padding: 0.5em;
    }
}
.button {
    &.button--ghost {
        border-color:   $baseTextColor;
        background-color: transparent;
        color:  $baseTextColor;
    }
    &.button--white {
        border-color:   $baseTextColor;
        background-color: $white;
        color:  $baseTextColor;
    }
}
pre {
    white-space: normal;
}
.list--horizontal {
    flex-wrap: wrap;
}
.grid__item > :first-child {
    margin-top: 0;
}
.navigation-primary {
    .nav__wrapper {
        margin-bottom:      1em;
    }
}
.align-center {
    text-align: center;
}

// Todo: make header a grid!
#page-header {
    display:    block;
    .page-header__left,
    .page-header__middle,
    .page-header__right {
        width:  auto;
        align-self: center;
    }
    align-items: center !important;
}
.page-header__logo svg {
    max-height: 100%;
    max-width: 100%;
    border: 0;
}


// ZMS only
.block__zmsheader {
    // Todo: we need a global block header layout
    @media screen and (max-width: 45rem) {
        > * {
            margin-bottom: 1em;
        }
    }
    @media print, (min-width: 45.001rem) {
        display:    flex;
        .aside {
            flex-shrink: 0;
            margin-left: 2em;
        }
        .form-group {
            margin-bottom: 0;
        }
        .right {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            flex-grow: 1;
            flex-shrink: 0;
            margin-left: 2em;
            > * {
                margin-left: 0.5em;
                margin-bottom: 0;
            }
        }
    }
}
.emergency {
    margin:                 0 24px 1.75em 0;
    .button--emergency {
        background-color:       #E75656;
        border-color:           #E75656;
        color:                  #ffffff;
        margin:                 0;
        padding:                0.75em;
        width:                  100%;
        &:hover {
            background-color:       darken(#E75656, 10%);
            border-color:           #E75656;
        }
    }
}
.button-callnextclient {
    background-color:       #ffffff;
    box-shadow: 1px 1px 0px 0px #333333;
    position: relative;
    max-width: 12em;
    height: auto;
    text-align: center;
    padding: 1em 1em ;
    border: 1px solid #D2D2D2;
    .user {
        position: relative;
        display: block;
        font-size: 6.5em;
        line-height: 1.2em;
        color: #33445E;
    }
    .arrow {
        display: block;
        font-size: 2.5em;
        line-height: 1.2em;
        position: absolute;
        right: 0.5em;
        top: 1.1em;
        color: #33445E;
    }
    .text {
        display: block;
        margin-top: 0.0em;
        font-weight: bold;
        font-size: 1.1em;
        color: #000000;
    }
}
.queue-table {
    table tr.future .queue-status {
        background-color: rgb(116, 202, 240);
    }
}


$ownerlist-item-padding: 0.5rem 0.75rem;
$ownerlist-organisation-title-bg: #008CCA;
$ownerlist-department-title-bg: #F0F0F0;
$ownerlist-border-color: #dddddd;
$ownerlist-border-color-light: #f1f1f1;

.owner-list {
    ul, li {
        margin: 0;
    }
    .fa-edit {
        font-size:  14px;
    }
    .owner-title {
        display: block;
        padding: $ownerlist-item-padding;
        padding-top: 0;
        padding-left: 0;
        margin: 0;
    }
    .organisation-list {
        > li {
            margin-bottom: 2em;
        }
        .organisation-title {
            padding: $ownerlist-item-padding;
            background-color: $ownerlist-organisation-title-bg;
            color: #FFFFFF;
            margin: 0;
            display: block;
            a {
                color:  #ffffff;
            }
        }
        .department-list {
            .department-title {
                background-color: $ownerlist-department-title-bg;
                border-bottom: 1px solid $ownerlist-border-color;
                padding: $ownerlist-item-padding;
                margin: 0;
                display: block;
            }
            .cluster-list {
                > li {
                    border-bottom: 1px solid $ownerlist-border-color;
                    &:last-child {
                        border-bottom: 0;
                    }
                }
                .cluster-title  {
                    padding: $ownerlist-item-padding;
                    border-bottom: 1px dotted $ownerlist-border-color-light;
                    display: block;
                    margin: 0;
                }
                + .scope-list > li:first-child {
                    border-top: 1px solid $ownerlist-border-color;
                }
            }
            .scope-list {
                > li  {
                    padding: $ownerlist-item-padding;
                    border-bottom: 1px dotted $ownerlist-border-color-light;
                    &:last-child {
                         border-bottom: 0;
                     }
                }
            }
        }
    }
}

form fieldset {
    margin-bottom: 1em;
    legend {
        background: #666666;
        color: white;
        margin-left: -20px;
        margin-right: -20px;
        padding:  0.75em  20px;
        box-sizing: content-box;
        display:    block;
        width: 100%;
    }
}

.calendar {
    .block--grey {
        padding: 5px;
    }
    .calendar-page {
        .block--grey,
        .block--white {
            padding: 0px;
        }
        table {
            font-size: 12px;
            padding: 0px;
            //background: white;
        }
    }
}