// The basic board layout

$boardElementPadding:         $baseBoxElementPadding;

.board {
    margin:                 0 0 $gridGutter 0;
    padding:                0;
    ul {
        @extend .list-bare;
    }
    .board_header {
        padding:            $boardElementPadding;
        background-color:   $blue;
    }
    .board_body {
        padding:            0;
        background-color:   $grey;
        border:             1px solid $greyDark;
        .inner {
            padding:        $boardElementPadding;
            + .inner {
                border-top: 1px solid $greyDark;
            }
        }
        > *:last-child {
            margin-bottom:  0;
        }
    }
    .board_footer {
        border:             1px solid $greyDark;
        border-width:       0px 1px 1px 1px;
        margin-top:         -1px;
        padding:            $boardElementPadding;
        padding-top:        $gridGutter;
        background-color:   $grey;
        font-size:          0.85em;
    }
    .board_header__title {
        font-size:          1em;
        line-height:        1.25em;
        margin:             0;
        padding:            0;
        color:              $white;
    }
}

