// The basic box layout

$boxElementPadding:         ($gridGutter / 3) ($gridGutter / 2);

.box {
    margin:                 0 0 $gridGutter 0;
    padding:                0;
    .box-header {
        padding:            $boxElementPadding;
        background-color:   $blue;
    }
    .box-body {
        padding:            $boxElementPadding;
        background-color:   $grey;
        border:             1px solid $greyDark;
    }
    .box-footer {
        padding:            $boxElementPadding;
        background-color:   $grey;
        border:             1px solid $greyDark;
        border-width:       0px 1px 1px 1px;
    }
    .box__title {
        font-size:          1em;
        line-height:        1.25em;
        margin:             0;
        padding:            0;
        color:              $white;
    }
}

