// Basic page and global elements layout

a {
    color:              $linkColor;
}

.page {
    margin:             0 auto $gridGutter auto;
    max-width:          $pageMaxWidth;
    padding:            0 $gridGutter $gridGutter $gridGutter;
    background-color:   $white;
}

// We extend wizardrys inline-block bug fix, otherwise it does not work
@if $use-markup-fix != true {
    .grid__item {
        margin-right: -0.1em;
    }
}
