// The base grid layout

.page {
    margin:             0 auto $gridGutter auto;
    max-width:          $pageMaxWidth;
    padding:            0 $gridGutter $gridGutter $gridGutter;
    background-color:   $white;
}

.page-canvas {
    @extend .grid, .grid--rev;
    .page-canvas_navigation {
        @extend .grid__item,  .one-sixth, .portable--one-whole;
    }
    .page-canvas_maincontent {
        @extend .grid__item, .five-sixths, .portable--one-whole;
    }
}

.region {
    @extend .grid;
    &.region--workstation {
        .region-clientinfo {
            @extend .grid__item, .one-fifth, .lap--one-whole, .palm--one-whole;
        }
        .region-appointment {
            @extend .grid__item, .three-fifths, .lap--two-thirds, .palm--one-whole;
        }
        .region-calendar {
            @extend .grid__item, .one-fifth, .lap--one-third, .palm--one-whole;
        }
    }
    &.region--counter {
        .region-clientinfo {
            @extend .grid__item, .one-fifth, .lap--two-thirds, .palm--one-whole;
        }
        .region-appointment {
            @extend .grid__item, .three-fifths, .lap--two-whole, .palm--one-whole;
        }
        .region-calendar {
            @extend .grid__item, .one-fifth, .lap--one-third, .palm--one-whole;
        }
    }
}

// We extend wizardrys inline-block bug fix, otherwise it does not work
@if $use-markup-fix != true {
    .grid__item {
        margin-right: -0.1em;
    }
}
