/**
 * OUR SETTINGS
 */

// Colors
$white:                         #FFFFFF;
$black:                         #000000;
$grey:                          #F0F0F0;
$greyDark:                      #D2D2D2;
$greyWhite:                     #F4F4F4;
$blue:                          #008CCA;
$blueDark:                      #33445E;
$blueLight:                     #ECF9FF;
$red:                           #E75656;
$baseTextColor:                 $black;
$pageheaderBackgroundColor:     $blueDark;

$linkColor:                     $baseTextColor;

// Dimensions
$pageMaxWidth:                  93.846em; // 1220px bei 13px font size;
$gridGutter:                    1.538em; // 20px; bei 13px font size;
$baseBoxElementPadding:         ($gridGutter / 3) ($gridGutter / 2);


/**
 * CSSWIZARDRY SETTING
 */
 
$use-markup-fix:                false;
$gutter:                        $gridGutter;


/**
 * INUT SETTINGS
 */

// iniut Base Settings
$inuit-base-font-size:          13px; //0.813em; // 13px bei 16px base
$inuit-base-line-height:        20px; //1.500em; // 20px bei 16px base
$inuit-base-text-color:         $baseTextColor;
$inuit-base-background-color:   $greyWhite;

// iniut Dimensions
$inuit-base-spacing-unit:       20px; // we need pixel here. em does not get through the sass/inuit compiler

// iniut Buttons
$inuit-btn-background:          $red;
$inuit-btn-color:               $white;
$inuit-enable-btn--full:        true;

// inuit Tables
$inuit-enable-table--cells:     true;
$inuit-enable-table--compact:   false;

