{% block clock %}
<div id="Uhr" class="uhr">
    <div id="clock_big" class="container"></div>
    <div id="clock_medium" class="container"></div>
    <div id="clock" class="container"></div>
</div>
<div id="aufrufanzeige_Datum" class="aufrufanzeige_Datum"></div>
{% endblock %}
