{% block clock %}
<div id="Uhr" class="uhr"></div>

<div id="aufrufanzeige_Datum" class="aufrufanzeige_Datum">
    {{ getNow()|localizeddate("short","none",NULL,NULL,"EEEE, dd.MM.y") }}<br>
</div>
{% endblock %}
