/* ----------------------------------------------
    Infospalte verstecken
---------------------------------------------- */
body.noInfoColumn{
    background: url(img/background_anzeige1_behoerde_80.png) top left repeat-x #C8D5E6  !important;
}
@media screen and (max-width:900px) { /* 768 * 1366 */
    body.noInfoColumn{
        background: url(img/background_anzeige1_hoch_behoerde_80.png) top left repeat-x #C8D5E6  !important;
    }
}
@media screen and (min-width:900px) and (max-width:1180px) { /* 1080 * 1920 */
    body.noInfoColumn{
        background: url(img/background_anzeige1_hoch_1920_behoerde_80.png) top left repeat-x #C8D5E6  !important;
    }
}
@media screen and (min-width:1820px) { /* 1920 * 1080 */
    body.noInfoColumn{
        background: url(img/background_anzeige1_1920_behoerde_80.png) top left repeat-x #C8D5E6 !important;
    }
}
body.noInfoColumn .aufrufanzeige table.aufrufanzeige_aufruf {
    table-layout: auto !important;
}

/* ----------------------------------------------
    Spezial-Groessen
---------------------------------------------- */
@media screen and (max-width:900px) { /* 768 * 1366 */
    body{
        background: url(img/background_anzeige1_hoch.png) top left repeat-x #C8D5E6;
    }
    .aufrufanzeige .uhr {
        left:21px;
        top:154px;
        width:275px;
    }
    .aufrufanzeige .aufrufanzeige_Datum {
        font-size:20px;
        left:21px;
        top:410px;
        width:275px;
    }
    .aufrufanzeige .aufrufanzeige_main {
        left:222px;
        top:155px;
    }
    .aufrufanzeige table.aufrufanzeige_aufruf td,
    .aufrufanzeige table.aufrufanzeige_aufruf th {
        border-right: 4px solid #C8D5E6;
    }
    .aufrufanzeige table.aufrufanzeige_aufruf th {
        font-size: 20px;
        line-height: 37px;
    }
    .aufrufanzeige table.aufrufanzeige_aufruf th.wartenummer {
        width:61.5%;
    }
    .aufrufanzeige table.aufrufanzeige_aufruf {
        width:376px;
    }
    .aufrufanzeige .aufrufanzeige_text {
        line-height:26px;
        left: 28px;
        top:699px;
    }
    .aufrufanzeige .waitingColumn {
        top:450px;
        left:15px;
    }
    .aufrufanzeige .wartende_aktuell {
        font-size:20px;
        width:275px;
    }

    .aufrufanzeige .wartezeit_aktuell {
        font-size:20px;
        width:275px;
    }

	span.terminkundennummer
	{
		font-size: 60px;
		line-height:60px;
	}

  span.terminkundennummer.smallerFont8Chars {
    font-size: 45px;
    line-height:45px;
  }

	span.abholeranzeige
	{
		font-size: 30px;
	   line-height: 40px;
	}
}


@media screen and (min-width:900px) and (max-width:1180px) { /* 1080 * 1920 */
    body{
        background: url(img/background_anzeige1_hoch_1920.png) top left repeat-x #C8D5E6;
        height:1920px;
    }
    #main-header .adressangabe {
        font-size:3em;
        left:54px;
        top:22px;
    }
    .aufrufanzeige .uhr {
        left:40px;
        top:223px;
        width:350px;
    }
    .aufrufanzeige .uhr #clock {
        display:none;
    }
    .aufrufanzeige .uhr #clock_medium {
        display:block;
    }
    .aufrufanzeige .aufrufanzeige_Datum {
        font-size:28px;
        left:21px;
        top:575px;
        width:350px;
    }
    .aufrufanzeige .aufrufanzeige_main {
        left:344px;
        top:216px;
    }
    .aufrufanzeige table.aufrufanzeige_aufruf td,
    .aufrufanzeige table.aufrufanzeige_aufruf th {
        border-right: 6px solid #C8D5E6;
    }
    .aufrufanzeige table.aufrufanzeige_aufruf th {
        font-size: 32px;
        line-height: 54px;
    }
    .aufrufanzeige table.aufrufanzeige_aufruf th.wartenummer {
        width:61.5%;
    }
    .aufrufanzeige table.einspaltig {
        width:530px;
    }
    .aufrufanzeige table.zweispaltig {
        width:350px;
    }
    .aufrufanzeige .aufrufanzeige_text {
        line-height:26px;
        left: 28px;
        top:985px;
        width:350px;
    }
    .aufrufanzeige .waitingColumn {
        top:625px;
        left:15px;
    }
    .aufrufanzeige_text img {height:260px;}
    .aufrufanzeige .wartende_aktuell {
        font-size:26px;
        width:350px;
    }

    .aufrufanzeige .wartezeit_aktuell {
        font-size:26px;
        width:350px;
    }
  span.terminkundennummer.abholeranzeige.abholeranzeige
	{
		font-size: 40px;
	   line-height: 40px;
	}

  span.terminkundennummer.smallerFont8Chars {
    font-size: 50px;
    line-height:50px;
  }
}

@media screen and (min-width:1820px) { /* 1920 * 1080 */
    body{
        background: url(img/background_anzeige1_1920.png) top left repeat-x #C8D5E6;
        width:1920px;
        height:1080px;
        overflow: hidden;
    }
    #main-header .adressangabe {
        font-size:3em;
        left:54px;
        top:22px;
    }
    .aufrufanzeige .uhr {
        left:47px;
        top:160px;
        width:400px;
    }
    .aufrufanzeige .uhr #clock {
        display:none;
    }
    .aufrufanzeige .uhr #clock_big {
        display:block !important;
    }
    .aufrufanzeige .aufrufanzeige_Datum {
        font-size:32px;
        top:580px;
        width:400px;
    }
    .aufrufanzeige .aufrufanzeige_main {
        left:10%;
        width: 80%;
        top:162px;
    }
    span.terminkundennummer, span.wartenummer {
        font-size:80px;
        line-height:80px;
    }
    span.terminkundennummer.smallerFont8Chars {
      font-size: 65px;
      line-height:65px;
    }
    span.abholeranzeige
	{
		font-size: 70px;
	}
    .aufrufanzeige table.aufrufanzeige_aufruf th {
        font-size: 32px;
    }
    .aufrufanzeige table.aufrufanzeige_aufruf {
        width:745px;
    }
    .aufrufanzeige .aufrufanzeige_text {
        line-height:26px;
        left: 1535px;
        top:104px;
        width:361px;
    }
    .aufrufanzeige_text img {height:244px;}

    .aufrufanzeige .waitingColumn {
        top:630px;
    }
    .aufrufanzeige .wartende_aktuell {
        font-size:32px;
        width:400px;
    }

    .aufrufanzeige .wartezeit_aktuell {
        font-size:32px;
        width:400px;
    }

    div.aber_zweispaltig {
        margin-left:-25px;
    }
    .aufrufanzeige table.zweispaltig {
        width:100%;
    }
    .aufrufanzeige table.zweispaltig th.wartenummer {
        width:60%;
    }
    .aufrufanzeige table.zweispaltig th,
    .aufrufanzeige table.zweispaltig td {
        border-right:6px solid #C8D5E6;
    }
    .zweispaltig span.terminkundennummer {
        font-size:50px;
    }
    .zweispaltig span.terminkundennummer,
    .zweispaltig span.terminkundennummer.abholeranzeige,
    .zweispaltig span.terminkundennummer.smallerFont8Chars {
        line-height: 120px;
    }
    .puffer {padding-left:40px;}
}
