{% block oneColumn %}
<div class="aufrufanzeige_anzeigebereich_einzeilig">
    <table class="aufrufanzeige_aufruf einspaltig">
        {% include "element/queueTable/head.twig" with {"leftHead": tableSettings.head.left, "rightHead": tableSettings.head.right} %}
        <tbody>
        {% for queue in queueList %}
        	{% if loop.index <= 6 %}
        	<tr>
        		{% include "element/queueTable/leftCol.twig" %}
				{% include "element/queueTable/rightCol.twig" %}
        	</tr>
        	{% endif %}
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
