{% embed "block/scaffholding/board.twig" with {'class': 'client-next'} %}

    {% block board_title %}<span class="color-blue"><i class="fas fa-info-circle" aria-hidden="true"></i></span> 
 Kundeninformationen{% endblock %}

    {% block board_body %}
        {% if processNotFoundInQueue %}
        <!-- The section tag now has relative positioning -->
        <section style="position: relative; border-color:#cccccc;" class="dialog message" role="alert">
            <!-- Icon in a green square box, adjusting its positioning -->
            <div style="position: absolute; top: -15px; left: 7px; background-color: #fcaa67; width: 30px; height: 30px; display: flex; justify-content: center; align-items: center;">
                <i class="fas fa-exclamation-circle" title="Wichtiger Hinweis" aria-hidden="true" style="color: white;"></i>
            </div>
            <h2 class="message__heading">Aktuell gibt es keine wartenden Kunden</h2>
            <div class="message__body">
                Vielen Dank für die fleißigen Aufrufe.           
            </div>
        </section>
        {% endif %}
        <div class="button-callnextclient">
            <button data-exclude="{{ exclude }}" type="button" title="Nächsten Kunden aufrufen" class="button" aria-haspopup="menu">
                <span class="user"><i class="fas fa-user" aria-hidden="true"></i></span>
                <span class="arrow"><i class="fas fa-arrow-alt-circle-right" aria-hidden="true"></i></span>
                <span class="text">Aufruf nächster Kunde</span>
            </a>
        </div>
    {% endblock %}

    {% block board_footer %}
    {% include "block/process/footer.twig" %}
    {% endblock %}

{% endembed %}
