{% embed "block/scaffholding/board.twig" with {'class': 'appointment-form'} %}
    {% block board_title %}Terminvereinbarung{% endblock %}
    {% block board_body %}
        <div class="loader"></div>
    {% endblock %}
{% endembed %}
