/**
 * The basic board layout has a blue header and a grey body
 */

$boardElementPadding:                   $baseBoxElementPadding !default;
$boardFooterBackground:                 #F8F8F8 !default;
$contentTopLineupBoardBodyMinHeight:  21em; // (calendar,appointment,clientinfo,queueinfo,...)
$contentTopLineupBoardBodyMaxHeight:  28em; // (calendar,appointment,clientinfo,queueinfo,...)

/* use the board css to extend the layout of the blocks */
.board {
    margin:                 0 0 $gridGutter 0;
    padding:                0;
    > .header {
        @extend .board_header;
    }
    > .body {
        @extend 
            .board_body,
            .board--addBodyPadding;
        &.no-padding {
            @extend .board--removeBodyPadding;
        }
    }
    > .footer {
        @extend .board_footer;
    }
    ul {
        @extend .list-bare;
    }
}



/* set the board layout */

.board_header {
    padding:            $boardElementPadding;
    background-color:   $blue;
    position:           relative;
    color:              $white;
    a {
        color:          $white;
    }
    .title {
        @extend 
            .board_header__title;
        display:            inline-block;
    }
    .right {
        float:          right;
    }
    .header_controls * {
        display:        inline-block;
        margin:         0;
    }
}

.board_body {
    background-color:   $grey;
    border:             1px solid $greyBorder;
    border-width:       0 1px 1px 1px;
    position:           relative;
    > *:first-child {
        margin-top:     0;
        > *:first-child {
            margin-top:     0;
        }
    }
}

.board_footer {
    font-size:          0.9em;
    border:             1px solid $greyDark;
    border-width:       0px 1px 1px 1px;
    padding:            $boardElementPadding;
    background-color:   $grey;
    position:           relative;
    background-color:   $boardFooterBackground;
    > *:last-child {
        margin-bottom:  0;
    }
    > *:first-child {
        margin-top:     0;
    }
}
.board_header__title {
    font-size:          1em;
    line-height:        1.25em;
    margin:             0;
    padding:            0;
}



/* variations */

.board--addBodyPadding {
    padding:        $boardElementPadding;
    > *:last-child {
        margin-bottom:  0;
        > *:last-child {
            //margin-bottom:  0;
        }
    }
}

.board--removeBodyPadding {
    padding:        0;
}
.board_body--minHeight {
    > .body {
        min-height:     $contentTopLineupBoardBodyMinHeight;
    }
}

.board_body--maxHeight {
    > .body {
        max-height:     $contentTopLineupBoardBodyMaxHeight;
        overflow:       auto;
    }
}

.board--red {
    > .header {
        @extend .board_header--red;
    }
    > .body {
        @extend .board_body--red;
    }
}

.board_header--red {
    background-color:   $red;
}

.board_body--red {
    background-color:   lighten($red,30%);
    border-color:       lighten($red,20%);
    border-width:       0 0 1px 0;
}
