// The base grid with a navigation and a content area
$canvasSidebarWidth:    15% !default;
$canvasMainbarWidth:    85% !default;

.canvas {
    @extend .grid, .grid--rev;
    .canvas_sidebar {
        @extend 
            .grid__item,  
            .one-sixth, 
            .portable--one-whole;
        // we need more space in the content area, so overwrite the grid 
        @include media-query(desk) {
            width:  $canvasSidebarWidth; 
        }
    }
    .canvas_mainbar {
        @extend 
            .grid__item, 
            .five-sixths, 
            .portable--one-whole;
        // we need more space in the content area, so overwrite the grid 
        @include media-query(desk) {
            width:  $canvasMainbarWidth;
        }
    }
}
