/**
 * 1) Iconname:             icon-search (http://fontello.com)
 * 2) Imagename:            magnifying-glass.svg (http://www.entypo.com) 
 * 3) Unicode:              U+2315 0x2315 (Telephone Recorder)
 * 4) Letter:               ⌕
 */
 
/**
 * 1) Iconname:             icon-user (http://fontello.com)
 * 2) Imagename:            user.svg (http://www.entypo.com) 
 * 3) Unicode:              U+1f464 0x1f464 (Bust in silhouette)
 * 4) Letter:               👤
 */

/**
 * 1) Iconname:             icon-user-add (http://fontello.com)
 * 2) Imagename:            add-user.svg (http://www.entypo.com) 
 * 3) Unicode:              U+1f465 0x1f465 (Busts in silhouette)
 * 4) Letter:               👥
 */

/**
 * 1) Iconname:             icon-menu (http://fontello.com)
 * 2) Imagename:            menu.svg (http://www.entypo.com) 
 * 3) Unicode:              U+2261 0x2261 (Identical to)
 * 4) Letter:               ≡
 */
 
/**
 * 1) Iconname:             icon-check (http://fontello.com)
 * 2) Imagename:            check.svg (http://www.entypo.com) 
 * 3) Unicode:              U+2713 0x2713 (Check mark)
 * 4) Letter:               ✓
 */

/**
 * 1) Iconname:             icon-cancel (http://fontello.com)
 * 2) Imagename:            cross.svg (http://www.entypo.com) 
 * 3) Unicode:              U+2a2f 0x2a2f (Vector or cross product)
 * 4) Letter:               ⨯
 */

/**
 * 1) Iconname:             icon-plus (http://fontello.com)
 * 2) Imagename:            plus.svg (http://www.entypo.com) 
 * 3) Unicode:              U+002b 0x2b (Plus sign)
 * 4) Letter:               +
 */
 
/**
 * 1) Iconname:             icon-minus (http://fontello.com)
 * 2) Imagename:            minus.svg (http://www.entypo.com) 
 * 3) Unicode:              U+2212 0x2212 (Minus sign)
 * 4) Letter:               −
 */

/**
 * 1) Iconname:             icon-help (http://fontello.com)
 * 2) Imagename:            help.svg (http://www.entypo.com) 
 * 3) Unicode:              U+003f 0x3f (Question mark)
 * 4) Letter:               ?
 */

/**
 * 1) Iconname:             icon-help-circled (http://fontello.com)
 * 2) Imagename:            help-with-circle.svg (http://www.entypo.com) 
 * 3) Unicode:              U+2753 0x2753 (Black question mark ornament)
 * 4) Letter:               ❓
 */

/**
 * 1) Iconname:             icon-info (http://fontello.com)
 * 2) Imagename:            info.svg (http://www.entypo.com) 
 * 3) Unicode:              U+2139 0x2139 (Information source)
 * 4) Letter:               ℹ
 */
 
/**
 * 1) Iconname:             icon-info-circled (http://fontello.com)
 * 2) Imagename:            info-circled.svg (http://www.entypo.com) 
 * 3) Unicode:              U+1F6C8 0x1F6C8 (Circled Information Source)
 * 4) Letter:               🛈
 */

/**
 * 1) Iconname:             icon-home (http://fontello.com)
 * 2) Imagename:            home.svg (http://www.entypo.com) 
 * 3) Unicode:              U+2302 0x2302 (House)
 * 4) Letter:               ⌂
 */

/**
 * 1) Iconname:             icon-attach (http://fontello.com)
 * 2) Imagename:            attachment.svg (http://www.entypo.com) 
 * 3) Unicode:              U+1f4ce 0x1f4ce (Paperclip)
 * 4) Letter:               📎
 */

/**
 * 1) Iconname:             icon-lock (http://fontello.com)
 * 2) Imagename:            lock.svg (http://www.entypo.com) 
 * 3) Unicode:              U+1f512 0x1f512 (Lock)
 * 4) Letter:               🔒
 */

/**
 * 1) Iconname:             icon-lock-open (http://fontello.com)
 * 2) Imagename:            lock-open.svg (http://www.entypo.com) 
 * 3) Unicode:              U+1F513 0x1F513 (Open Lock)
 * 4) Letter:               🔓
 */

/**
 * 1) Iconname:             icon-eye (http://fontello.com)
 * 2) Imagename:            eye.svg (http://www.entypo.com) 
 * 3) Unicode:              U+25CE 0x25CE (Bullseye)
 * 4) Letter:               ◎
 */
 
/**
 * 1) Iconname:             icon-eye-with-line -> von entypo importiert
 * 2) Imagename:            eye-with-line.svg (http://www.entypo.com) 
 * 3) Unicode:              U+25c9 0x25c9 (Fisheye)
 * 4) Letter:               ◉
 */
 
/**
 * 1) Iconname:             icon-bookmark (http://fontello.com)
 * 2) Imagename:            bookmark.svg (http://www.entypo.com) 
 * 3) Unicode:              U+1F516 0x1F516 (Bookmark)
 * 4) Letter:               🔖
 */
 
/**
 * 1) Iconname:             icon-download (http://fontello.com)
 * 2) Imagename:            download.svg (http://www.entypo.com) 
 * 3) Unicode:              U+2B73 0x2B73 (Downwards Triangle-Headed Arrow To Bar)
 * 4) Letter:               💾
 */
 
/**
 * 1) Iconname:             icon-export (http://fontello.com)
 * 2) Imagename:            export.svg (http://www.entypo.com) 
 * 3) Unicode:              U+23cd 0x23cd (Square foot)
 * 4) Letter:               ⏍
 */
 
/**
 * 1) Iconname:             icon-pencil (http://fontello.com)
 * 2) Imagename:            edit.svg (http://www.entypo.com) 
 * 3) Unicode:              U+270E 0x270E (Lower right pencil)
 * 4) Letter:               ✎
 */
 
/**
 * 1) Iconname:             icon-print (http://fontello.com)
 * 2) Imagename:            print.svg (http://www.entypo.com) 
 * 3) Unicode:              U+2399 0x2399 (Print screen symbol)
 * 4) Letter:               ⎙
 */

/**
 * 1) Iconname:             icon-bell (http://fontello.com)
 * 2) Imagename:            bell.svg (http://www.entypo.com) 
 * 3) Unicode:              U+237E 0x237E (Bell symbol)
 * 4) Letter:               ⍾
 */
 
/**
 * 1) Iconname:             icon-attention (http://fontello.com)
 * 2) Imagename:            warning.svg (http://www.entypo.com) 
 * 3) Unicode:              U+26A0 0x26A0 (Warning sign)
 * 4) Letter:               ⚠
 */
 
/**
 * 1) Iconname:             icon-location (http://fontello.com)
 * 2) Imagename:            location-pin.svg (http://www.entypo.com) 
 * 3) Unicode:              U+1F4CC 0x1F4CC (Pushpin)
 * 4) Letter:               📌
 */
 
/**
 * 1) Iconname:             icon-trash (http://fontello.com)
 * 2) Imagename:            trash.svg (http://www.entypo.com) 
 * 3) Unicode:              U+1F5D1 0x1F5D1 (Wastebasket)
 * 4) Letter:               🗑
 */

/**
 * 1) Iconname:             icon-book (http://fontello.com)
 * 2) Imagename:            book.svg (http://www.entypo.com) 
 * 3) Unicode:              U+1F4D6 0x1F4D6 (Open Book)
 * 4) Letter:               📖
 */

/**
 * 1) Iconname:             icon-folder (http://fontello.com)
 * 2) Imagename:            folder.svg (http://www.entypo.com) 
 * 3) Unicode:              U+1F4C1 0x1F4C1 (File Folder)
 * 4) Letter:               📁
 */

/**
 * 1) Iconname:             icon-old-phone -> von entypo importiert
 * 2) Imagename:            old-phone.svg (http://www.entypo.com) 
 * 3) Unicode:              U+260E 0x260E (Black Telephone)
 * 4) Letter:               ☎
 */

/**
 * 1) Iconname:             icon-phone (http://fontello.com)
 * 2) Imagename:            phone.svg (http://www.entypo.com) 
 * 3) Unicode:              U+1F4DE 0x1F4DE (Telephone Receiver)
 * 4) Letter:               📞
 */

/**
 * 1) Iconname:             icon-old-mobile -> von entypo importiert
 * 2) Imagename:            old-mobile.svg (http://www.entypo.com) 
 * 3) Unicode:              U+1F4F1 0x1F4F1 (Mobile Phone)
 * 4) Letter:               📱
 */

/**
 * 1) Iconname:             icon-cog (http://fontello.com)
 * 2) Imagename:            cog.svg (http://www.entypo.com) 
 * 3) Unicode:              U+2699 0x2699 (Gear)
 * 4) Letter:               ⚙
 */
 
/**
 * 1) Iconname:             icon-calendar (http://fontello.com)
 * 2) Imagename:            calendar.svg (http://www.entypo.com) 
 * 3) Unicode:              U+1F4C5 0x1F4C5 (Calendar)
 * 4) Letter:               📅
 */

/**
 * 1) Iconname:             icon-login (http://fontello.com)
 * 2) Imagename:            login.svg (http://www.entypo.com) 
 * 3) Unicode:              U+1F511 0x1F511 (Key)
 * 4) Letter:               🔑
 */
 
/**
 * 1) Iconname:             icon-logout (http://fontello.com)
 * 2) Imagename:            log-out.svg (http://www.entypo.com) 
 * 3) Unicode:              U+274E 0x274E (Negative Squared Cross Mark)
 * 4) Letter:               ❎
 */
 
/**
 * 1) Iconname:             icon-clock (http://fontello.com)
 * 2) Imagename:            clock.svg (http://www.entypo.com) 
 * 3) Unicode:              U+1F553 0x1F553 (Clock Face Four Oclock)
 * 4) Letter:               🕓
 */
 
/**
 * 1) Iconname:             icon-hourglass (http://fontello.com)
 * 2) Imagename:            hour-glass.svg (http://www.entypo.com) 
 * 3) Unicode:              U+231B 0x231B (Hourglass)
 * 4) Letter:               ⌛
 */
 
/**
 * 1) Iconname:             icon-lamp (http://fontello.com)
 * 2) Imagename:            light-bulb.svg (http://www.entypo.com) 
 * 3) Unicode:              U+1F4A1 0x1F4A1 (Electric Light Bulb)
 * 4) Letter:               💡
 */
 
/**
 * 1) Iconname:             icon-arrow-combo (http://fontello.com)
 * 2) Imagename:            select-arrows.svg (http://www.entypo.com) 
 * 3) Unicode:              U+2195 0x2195 (Up down arrow)
 * 4) Letter:               ↕
 */
 
/**
 * 1) Iconname:             icon-down-dir (http://fontello.com)
 * 2) Imagename:            triangle-down.svg (http://www.entypo.com) 
 * 3) Unicode:              U+25bc 0x25bc (Black down-pointing triangle)
 * 4) Letter:               ▼
 */

/**
 * 1) Iconname:             icon-left-dir (http://fontello.com)
 * 2) Imagename:            triangle-left.svg (http://www.entypo.com) 
 * 3) Unicode:              U+25C0 0x25C0 (Black left-pointing triangle)
 * 4) Letter:               ◀
 */

/**
 * 1) Iconname:             icon-right-dir (http://fontello.com)
 * 2) Imagename:            triangle-right.svg (http://www.entypo.com) 
 * 3) Unicode:              U+25B6 0x25B6 (Black right-pointing triangle)
 * 4) Letter:               ▶
 */

/**
 * 1) Iconname:             icon-up-dir (http://fontello.com)
 * 2) Imagename:            triangle-up.svg (http://www.entypo.com) 
 * 3) Unicode:              U+25B2 0x25B2 (Black up-pointing triangle)
 * 4) Letter:               ▲
 */

/**
 * 1) Iconname:             icon-cw (http://fontello.com)
 * 2) Imagename:            cw.svg (http://www.entypo.com) 
 * 3) Unicode:              U+1F503 0x1F503 (Clockwise Downwards and Upwards Open Circle Arrows)
 * 4) Letter:               🔃
 */

/**
 * 1) Iconname:             icon-flash (http://fontello.com)
 * 2) Imagename:            flash.svg (http://www.entypo.com) 
 * 3) Unicode:              U+26a1 0x26a1 (High voltage sign)
 * 4) Letter:               ⚡
 */


/**
 * 1) Iconname:             icon-dot (http://fontello.com)
 * 2) Imagename:            dot-single.svg (http://www.entypo.com) 
 * 3) Unicode:              U+00B7 0x00B7 (Middle Dot)
 * 4) Letter:               ·
 */

/**
 * 1) Iconname:             icon-floppy (http://fontello.com)
 * 2) Imagename:            save.svg (http://www.entypo.com) 
 * 3) Unicode:              U+1F4BE 0x1F4BE (Floppy Disk)
 * 4) Letter:               💾
 */






@charset "UTF-8";
@font-face {
  font-family: 'neo_iconfont';
  src: url('./fonts/neo_iconfont.eot');
  src: url('./fonts/neo_iconfont.eot#iefix') format('embedded-opentype'),
       url('./fonts/neo_iconfont.woff') format('woff'),
       url('./fonts/neo_iconfont.ttf') format('truetype'),
       url('./fonts/neo_iconfont.svg#neo_iconfont') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'neo_iconfont';
    src: url('./fonts/neo_iconfont.svg#neo_iconfont') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "neo_iconfont";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-plus:before { content: '\2b'; } /* '+' */
.icon-help:before { content: '\3f'; } /* '?' */
.icon-dot:before { content: '\b7'; } /* '·' */
.icon-info:before { content: '\2139'; } /* 'ℹ' */
.icon-arrow-combo:before { content: '\2195'; } /* '↕' */
.icon-minus:before { content: '\2212'; } /* '−' */
.icon-menu:before { content: '\2261'; } /* '≡' */
.icon-home:before { content: '\2302'; } /* '⌂' */
.icon-search:before { content: '\2315'; } /* '⌕' */
.icon-hourglass:before { content: '\231b'; } /* '⌛' */
.icon-bell:before { content: '\237e'; } /* '⍾' */
.icon-print:before { content: '\2399'; } /* '⎙' */
.icon-export:before { content: '\23cd'; } /* '⏍' */
.icon-up-dir:before { content: '\25b2'; } /* '▲' */
.icon-right-dir:before { content: '\25b6'; } /* '▶' */
.icon-down-dir:before { content: '\25bc'; } /* '▼' */
.icon-left-dir:before { content: '\25c0'; } /* '◀' */
.icon-eye-with-line:before { content: '\25c9'; } /* '◉' */
.icon-eye:before { content: '\25ce'; } /* '◎' */
.icon-old-phone:before { content: '\260e'; } /* '☎' */
.icon-cog:before { content: '\2699'; } /* '⚙' */
.icon-attention:before { content: '\26a0'; } /* '⚠' */
.icon-flash:before { content: '\26a1'; } /* '⚡' */
.icon-pencil:before { content: '\270e'; } /* '✎' */
.icon-check:before { content: '\2713'; } /* '✓' */
.icon-logout:before { content: '\274e'; } /* '❎' */
.icon-help-circled:before { content: '\2753'; } /* '❓' */
.icon-cancel:before { content: '\2a2f'; } /* '⨯' */
.icon-download:before { content: '\2b73'; } /* '⭳' */
.icon-user:before { content: '👤'; } /* '\1f464' */
.icon-user-add:before { content: '👥'; } /* '\1f465' */
.icon-lamp:before { content: '💡'; } /* '\1f4a1' */
.icon-floppy:before { content: '💾'; } /* '\1f4be' */
.icon-folder:before { content: '📁'; } /* '\1f4c1' */
.icon-calendar:before { content: '📅'; } /* '\1f4c5' */
.icon-location:before { content: '📌'; } /* '\1f4cc' */
.icon-attach:before { content: '📎'; } /* '\1f4ce' */
.icon-book:before { content: '📖'; } /* '\1f4d6' */
.icon-phone:before { content: '📞'; } /* '\1f4de' */
.icon-old-mobile:before { content: '📱'; } /* '\1f4f1' */
.icon-cw:before { content: '🔃'; } /* '\1f503' */
.icon-login:before { content: '🔑'; } /* '\1f511' */
.icon-lock:before { content: '🔒'; } /* '\1f512' */
.icon-lock-open:before { content: '🔓'; } /* '\1f513' */
.icon-bookmark:before { content: '🔖'; } /* '\1f516' */
.icon-clock:before { content: '🕓'; } /* '\1f553' */
.icon-trash:before { content: '🗑'; } /* '\1f5d1' */
.icon-info-circled:before { content: '🛈'; } /* '\1f6c8' */
