// Build the CSS for form. Use Bootrstaps sass forms as base model?

$formItemBasePadding:   ($gridGutter / 4) ($gridGutter / 3) !default;
$formErrorColor:        #a94442 !default;
$legendBackgroundColor: #666666 !default;
$formBorderColor:       $greyBorder !default;
$elementMaxWidth:       40em !default;

form {
    margin-bottom:      $gridGutter;
}

fieldset{
    padding:        $gridGutter;
    border:         0 none;
    margin:         0;
    legend {
        background-color:   $legendBackgroundColor;
        border:             0 none;
        box-sizing:         content-box;
        color:              $white;
        margin:             0px (-$gridGutter);
        padding:            ($gridGutter / 2) $gridGutter;
        display:            block;
        width:              100%;
        font-weight:        bold;
        font-size:          1em; 
    }
}


label {
    display:            block;
    font-weight:        bold;
    font-size:          0.9em;
    margin-bottom:      0.1em;
    margin-left:        1px;
    max-width:          100%;
    vertical-align:     top;
}

.form-input,
textarea,
select {
    @extend .form-input--default;
}

input[type="checkbox"],
input[type="radio"],
.form-checkbox {
    margin-right:           0.3em;
    &:focus {
        outline: thin dotted;
        outline-offset: -2px;
    }
}


// A form-element is a label, its input and a field description
.form-element {
    margin-bottom:          $gridGutter;
    max-width:              $elementMaxWidth;
    span + input {
        margin-left:        1em;
    }
    &.actions {
        @extend .clearfix;
    }
}

.form-actions {
    @extend 
        .align-right;
        //.inline-group;
    margin:                     $gridGutter 0;
    max-width:                  100%;
}

.form-input-description {
    font-size:              0.8em;
}

.has-error {
    label { 
        color:              $formErrorColor;
    }
    .form-input,
    textarea,
    select {
        border-color:       $formErrorColor;
        &:focus {
            border-color:   $formErrorColor;
            box-shadow:     0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px $formErrorColor;
            outline:        0 none;
        }
    }
}

.checkbox-inline, 
.radio-inline {
    display:                    inline-block;
    margin-bottom:              0;
    position:                   relative;
    vertical-align:             middle;
    cursor:                     pointer;
}


// Modifications

.form-input--default {
    background-color:       #fff;
    background-image:       none;
    border:                 1px solid $formBorderColor;
    border-radius:          4px;
    box-shadow:             none;
    box-sizing:             border-box;
    color:                  #555;
    width:                  100%; 
    font-size:              14px;
    line-height:            1.42857;
    padding:                $formItemBasePadding !important;
    transition:             border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    max-width:              100%;
    min-height:             34px;
    &:focus {
        border-color:       #66afe9;
        box-shadow:         0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6);
        outline:            0 none;
    }
}

.display-inline {
    .form-element {
        @extend .grid;
        margin-bottom:          $gridGutter;
        max-width:              none;
        label {
            @extend 
                .grid__item, 
                .three-twelfths,
                .portable--one-whole;
        }
        .form-input,
        textarea,
        select,
        .form-input-description {
            @extend 
                .grid__item, 
                .nine-twelfths,
                .portable--one-whole;
        }
        span, p {
            letter-spacing: normal;
        }
        .form-input-description {
            @extend 
                .push--desk--three-twelfths;
            padding-left:   0;
            position:       relative;
        }
    }
}

.__display-inline {
    .form-element,
    &.form-element {
        max-width:          none;
    }
    label {
        display:                inline-block;
        width:                  16%;
        width:                  12rem;
    }
    .form-input-description {
        margin-left:            16%;
        margin-left:            12rem;
    }
    .form-input,
    textarea,
    select {
        max-width:              70%;
    }
    .inline-group {
        max-width: 90%;
    }
}


.form-input--half {
    width:                  49%  !important;
    margin-right:           0.4em  !important;
}

.form-input--small {
    width:                  10em  !important;
    margin-right:           0.4em  !important;
}

.form-input--tiny {
    width:                  5em !important;
    margin-right:           0.4em  !important;
}


/**
  * Add a grid to special form elements
  */
// Base
.inline-group {
    @extend .grid;
    max-width:              $elementMaxWidth + $gridGutter;
    .form-element {
        @extend 
            .grid__item, 
            .one-whole;
    }
}

// 10/2 grid
.inline-group {
    .scope-description {
        @extend 
            .grid__item, 
            .ten-twelfths,
            .portable--eight-twelfths;
    }
    .scope-shortcut {
        @extend 
            .grid__item, 
            .two-twelfths,
            .portable--four-twelfths;
    }
}
