/**
 * A "lineup" is a set of "actors" (like twitter bootstraps "row" is a set of "span"s)
 */

.lineup {
    @extend .grid;
    .lineup_actor {
        @extend 
            .grid__item;
    }
    &--workstation {
        @extend .grid;
        .lineup_actor {
            &--left {
                @extend 
                    .grid__item, 
                    .four-twelfths, 
                    .lap--one-whole, 
                    .palm--one-whole;
            }
            &--middle {
                @extend 
                    .grid__item, 
                    .six-twelfths, 
                    .lap--two-thirds, 
                    .palm--one-whole;
            }
            &--right {
                @extend 
                    .grid__item, 
                    .two-twelfths, 
                    .lap--one-third, 
                    .palm--one-whole;
            }
        }
    }
    &--counter {
        @extend .grid;
        .lineup_actor {
            &--left {
                @extend 
                    .grid__item, 
                    .seven-twelfths,
                    .lap--one-whole, 
                    .palm--one-whole;
            }
            &--middle {
                @extend 
                    .grid__item, 
                    .three-twelfths,
                    .lap--two-thirds, 
                    .palm--one-whole;
            }
            &--right {
                @extend 
                    .grid__item, 
                    .two-twelfths, 
                    .lap--one-third, 
                    .palm--one-whole;
            }
        }
    }
    &--availability {
        @extend .grid;
        .lineup_actor {
            &--left {
                @extend 
                    .grid__item, 
                    .nine-twelfths,
                    .lap--one-whole, 
                    .palm--one-whole;
            }
            &--right {
                @extend 
                    .grid__item, 
                    .three-twelfths, 
                    .lap--one-third, 
                    .palm--one-whole;
            }
        }
    }
}




