// Basic page and global elements layout

html {
    font-family:        $base-font-family;
    line-height:        $inuit-base-line-height;
}

// The page container
.page {
    margin:             0 auto $gridGutter auto;
    max-width:          $pageMaxWidth;
    //padding:            0 $gridGutter $gridGutter $gridGutter;
    padding:           0;
    background-color:   $white;
}

// Global settings
a {
    color:              $linkColor;
    text-decoration:        none;
    &:hover,
    &:focus {
        text-decoration:    underline;
    }
}
p {
    margin:             0 0 1em 0;
}

hr {
    height:             1px;
    border:             0 none;
    margin:             $gridGutter 0;
    color:              $greyBorder;
    background:         $greyBorder;
}

// Element alignments
.align-left {
    text-align:         left;
}
.align-center {
    text-align:         center;
}
.align-right {
    text-align:         right;
}
.pull-left {
    float:              left;
}
.pull-right {
    float:              right;
}

.text--highlight {
    color:              $blue;
}

// We extend wizardrys inline-block bug fix, otherwise it does not work
@if $use-markup-fix != true {
    .grid__item {
        margin-right: -0.1em;
    }
}
