table {
    @extend 
        .table;
    .center {
        text-align:     center;
    }
    th {
        font-size:      $fontSizeLabels;
        font-weight:    bold;
    }
    .spacer {
        width:100%;
    }
    td {
        vertical-align: top;
    }
}
