{% embed "block/scaffholding/board.twig" with {'class': 'exception'} %}
    {% block board_title %}{{ boardTitle|default("Zugangsdaten fehlerhaft")|trans }}{% endblock %}
    {% block board_body %}
        <p>
            {{ exclamationIcon|raw }} {{ errorPrefix }}: {% trans %}Das eingegebene Passwort und der Nutzername passen nicht zusammen{% endtrans %}
        </p>
    {% endblock %}
{% endembed %}
