{% embed "block/scaffholding/board.twig" with {'class': 'welcome'} %}
    
        
        {% block board_title %}
            {{ title|trans }}
        {% endblock %} 
        
        {% set class = '' %}
        {% block board_body %}
            {% if oidclogin %}
            <p class="message message--error">
            <strong>{% trans %}Wichtiger Hinweis{% endtrans %}</strong>: {% trans %}Es muss ein Passwort vergeben werden, wenn  sie sich zukünftig direkt im System einloggen wollen. Weiterhin müssen zwingend Standorte zugewiesen werden - dies kann nur ein Standortadministrator für Sie tun. Wenden Sie sich an ihren Standortadministrator.{% endtrans %}
            </p>
            {% else %}
            <p>Um alle Funktionen des Systems nutzen zu können, identifizieren Sie sich bitte mit ihrem <strong>Nutzernamen</strong> und ihrem <strong>Passwort</strong> und wählen Sie im folgenden Schritt einen <strong>Standort</strong> und falls erforderlich eine <strong>Platz- oder Raum-Nummer</strong>.</p>
            {% endif %}
        {% endblock %} 

        {% block board_footer %}
            <span>Version {{ currentVersion() }}</span>
        {% endblock %} 
{% endembed %}
