vendor
vendor.zmsbase
node_modules
config.php
**.swp
.DS_Store
.sass-cache
bower_components
tests/*.html
public/_tests
public/_js/
public/_libs/
cache
vendor.old
vendor.update
#composer.*.lock
#package-lock.json
.cache
.parcel-cache
.phpunit.result.cache
