/**
 * OUR SETTINGS
 */

// Colors
$white:                         #FFFFFF;
$black:                         #000000;

$baseTextColor:                 #494C4A;

// Dimensions
//$pageMaxWidth:                  1024px;
//$pageMaxHeight:					768px;
//$contentMaxWidth:               800px;
$pageMaxWidth:                  auto;
$pageMaxHeight:					auto;
$contentMaxWidth:               auto;

// Fonts
$base-font-family:				Arial, sans-serif;
$base-font-size:				28px;
$base-line-height:				36px;

$alert-font-size:				14px;
$alert-line-height:				18px;
