{% block advanceInfoClient %}
    <p>*  eine SMS kostet 0,15 EUR</p>
    <p>** in Klammern werden seit dem Monat Juni 2016 ausschließlich nicht erschienene Kunden gezählt. Vor Juni 2016 enthalten die Werte ggf. zusätzliche Terminkunden, die vor dem Zustandekommen ihre Termine abgesagt haben, so dass in Werten vor Juni 2016 nicht eindeutig auf nicht erschienene Kunden geschlossen werden kann.<p>
{% endblock %}

{% block advancedInfoWaiting %}
    <p>Angegeben sind die beim Ziehen der Wartenummer berechneten Wartezeiten und die tatsächlichen Wartezeiten der im angegebenen Zeitraum erschienenen Bürger. </p>
    <p>Die Zeitangaben erfolgen in Minuten.</p>
{% endblock %}
