{% extends "block/scaffholding/board.twig" %}

{% block board_title %}
    {% trans %}Auswertung{% endtrans %}
{% endblock %}

{% block board_header_right %}
    <a href="{{ urlGet(currentRoute().name, currentRoute().params, {'type':'xlsx'}) }}" target="_blank" title="Download" class="btn btn--bigicon download">⤓</a>
{% endblock %}
