{% extends "block/scaffholding/board.twig" %}

{% block board_title %}
    Auswertung
{% endblock %}


{% block board_header_right %}
    <a
        href="#"
        target="_blank"
        title="Download"
        class="btn btn--bigicon download"
        >⤓</a>

{% endblock %}
