{% extends "block/scaffholding/board.twig" %}

{% block board_title %}
    {% trans %}Auswertung{% endtrans %}
{% endblock %}


{% block board_header_right %}
    {% if download == "raw" %}
        <a href="{{ urlGet('DownloadRawReport', {'subject': category, 'subjectid': subjectid, 'period': period}, {'type':'xlsx'}) }}" target="_blank" title="Download" class="btn btn--bigicon download">⤓</a>
    {% else %}
        <a href="{{ urlGet('DownloadReport', {'category': category, 'subject': subject, 'period': period}, {'type':'xlsx'}) }}" target="_blank" title="Download" class="btn btn--bigicon download">⤓</a>
    {% endif %}

{% endblock %}
