<div class="report-period">

    {% block breadcrumb %}
    <ul class="report-period--breadcrumb">
        <li class="report-period--subject">Auswertung</li>
    </ul>
    {% endblock %}

    <ul class="report-period--list">
        <li class="report-period--year">
            <h4><a href="#">2017</a></h4>
            <ul class="report-period--month-list">
                <li><a href="#">Januar</a></li>
                <li><a href="#">Februar</a></li>
                <li><a href="#">März</a></li>
                <li><a href="#">April</a></li>
                <li><a href="#">Mai</a></li>
                <li><a href="#">Juni</a></li>
                <li><a href="#">Juli</a></li>
                <li><a href="#">August</a></li>
                <li><a href="#" class="report-period--month-current">September</a></li>
            </ul>
        </li>
        <li class="report-period--year">
            <h4><a href="#" class="report-period--year-active">2016</a></h4>
            <ul class="report-period--month-list">
                <li><a href="#">Januar</a></li>
                <li><a href="#">Februar</a></li>
                <li><a href="#">März</a></li>
                <li><a href="#">April</a></li>
                <li><a href="#">Mai</a></li>
                <li><a href="#">Juni</a></li>
                <li><a href="#" class="report-period--month-active">Juli</a></li>
                <li><a href="#">August</a></li>
                <li><a href="#">September</a></li>
                <li><a href="#">Oktober</a></li>
                <li><a href="#">November</a></li>
                <li><a href="#">Dezember</a></li>
            </ul>
        </li>
        <li class="report-period--year report-period--old">
            <h4><a href="#">2015</a></h4>
            <ul class="report-period--month-list">
                <li><a href="#">Juni</a></li>
                <li><a href="#">Juli</a></li>
                <li><a href="#">August</a></li>
                <li><a href="#">September</a></li>
                <li><a href="#">Oktober</a></li>
                <li><a href="#">November</a></li>
                <li><a href="#">Dezember</a></li>
            </ul>
        </li>
        <li class="report-period--show-all" id="report-period--show-all">
            <a href="#report-period--show-all">Alle Jahre anzeigen</a>
        </li>
    </ul>
</div>
