vendor
vendor.zmsbase
node_modules
config.php
**.swp
.DS_Store
.sass-cache
bower_components
tests/*.html
public/_tests
cache
vendor.old
vendor.update
#composer.*.lock
.cache
.parcel-cache
.phpunit.result.cache
