.m-spinner-container {
  background-color: var(
    --color-beau-blue-xlight,
    var(--color-neutrals-blue-xlight)
  );
  padding: 25px;
  min-height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}
