vendor
vendor.zmsbase
node_modules
config.php
**.swp
.sass-cache
.parcel-cache
.DS_*
bower_components
cache/
vendor.old
vendor.update
VERSION
public/_tests
public/_js/index.js
public/_js/index.js.map
public/_js/reactcomponents.js
public/_js/reactcomponents.js.map
public/_libs/
public/_css/admin.css
public/_css/admin.css.map
.cache
.phpunit.*
coverage
