vendor
vendor.zmsbase
node_modules
config.php
**.swp
.sass-cache
.parcel-cache
.DS_Store
bower_components
cache/
vendor.old
vendor.update
VERSION
public/_tests
public/_js/
public/_css/
public/_libs/
.cache
.phpunit.*