{% block estimatedWaitingClients %}
{% trans "Anzahl vor Ihnen wartender Kunden" %}:
<span id="wartende">
    {% if waitingClients %}
        {{ waitingClients }}
    {% else %}
        {% trans "keine" %}
    {% endif %}
</span>
<br>
{% endblock %}
