{% block estimatedWaitingClients %}
<div class="wartende_aktuell">
	<div class="wartende_text">{% trans "Anzahl der Wartenden" %}:</div>
    <div id="wartende">
    {% if queueList.length %}
        {{ queueList.length }}
    {% else %}
        {% trans "keine" %}
    {% endif %}
    </div>
</div>
{% endblock %}>