{% block sms_feedback %}
<div class="SMSRueckmeldung" id="SMSRueckmeldung">
	<p>
		Ihre Handynummer <br/>wurde erfolgreich aufgenommen.
    </p>
</div>
{% endblock %}

{% block sms_feedback_print %}
<div class="SMSDruckRueckmeldung" id="SMSDruckRueckmeldung">
	<p>
		Ausdruck erfolgt! Ihre Handynummer <br/>wurde erfolgreich aufgenommen.
	</p>
</div>
{% endblock %}

{% block feedback_print %}
<div class="AusdruckRueckmeldung" id="AusdruckRueckmeldung">
	<p>
		Wartenummernausdruck erfolgt
	</p>
</div>
{% endblock %}

{% block small_sms_feedback %}
<div class="kleineSMSRueckmeldung" id="SMSRueckmeldung">
	<p>
		Ihre Handynummer <br/>wurde erfolgreich aufgenommen.
    </p>
</div>
{% endblock %}

{% block small_sms_feedback_print %}
<div class="kleineSMSDruckRueckmeldung" id="SMSDruckRueckmeldung">
	<p>
		Ausdruck erfolgt! Ihre Handynummer <br/>wurde erfolgreich aufgenommen.
	</p>
</div>
{% endblock %}

{% block small_feedback_print %}
<div class="kleineAusdruckRueckmeldung" id="AusdruckRueckmeldung">
	<p>
		Wartenummernausdruck erfolgt
	</p>
</div>
{% endblock %}