{% block IntroMultiButtonText %}
<div class="werbeblock_mehrfachkiosk_oben">
{% trans "Bitte fordern Sie eine Wartenummer an für" %}:<br />
</div>
{% endblock %}

{% block IntroButtonText %}
{% trans "Bitte fordern Sie eine Wartenummer an für" %}:<br />
{% endblock %}