{% block queueTable %}
<table class="aufrufanzeige_aufruf einspaltig" >
    <thead>
        <tr>
            <th class="wartenummer"> Nummer </th>
            <th class="platznummer"> Platz </th>
        </tr>
    </thead>
    <tbody>
        {% for queue in queueList %}
        	queue.number
        {% endfor %}
    </tbody>
  </table>
{% endblock %}