{% extends "layout/main.twig" %}

{% use "block/marginal/clock.twig" %}
{% use "block/queue/queueTable.twig" %}
{% use "block/queue/estimatedWaitingClients.twig" %}
{% use "block/queue/estimatedWaitingTime.twig" %}

{% block title %}{% trans %}calldisplay{% endtrans %}{% endblock %}
{% block customizedClass %} noInfoColumn{% endblock %}

{% block content %}
<div class="aufrufanzeige_leftcol">
	{{ block("clock") }}
	{{ block("estimatedWaitingClients") }}
	{{ block("estimatedWaitingTime") }}
</div>

<div class="aufrufanzeige_main">
	{% include "block/default/importContainer.twig" %}
</div>
{% endblock %}

