{% block infoColumn %}
<!--Logo und Text-->
<div align="center">
   	<img src="data:image/{{ calldisplay.image.mime }};base64,{{ calldisplay.image.data }}" width="200" border="0" alt="">

</div>
{% endblock %}
