{% embed "block/scaffholding/board.twig" with {'class': 'exception'} %}

    {% block board_title %}Es ist ein Fehler aufgetreten.{% endblock %}
    {% block board_body %}
        <h2 class="exceptionData-headline">
            Die Wartenummer existiert nicht
        </h2>
        <p>
            {{ exclamationIcon|raw }} {{ errorPrefix }}: {% trans %}Zu Ihrer Auswahl konnte kein Vorgang gefunden werden. Bitte prüfen Sie die angegebene Wartenummer.{% endtrans %}
        </p>
        <div class="form-actions">
            <a class="btn button-cancel button-callback right" href="#">Abbrechen</a>
        </div>
    {% endblock %}

{% endembed %}


