{% block devhint %}
<div class="devhint noprint">
    <div class="alert alert-info">
    	<strong>Hinweis:</strong> Sie befinden sich auf einem Entwicklungssystem. Die folgenden Inhalte sind nicht aktuell. <br />

    </div>
</div>
{% endblock %}
