{% embed "block/scaffholding/board.twig" with {'class': 'exception', 'data': {'exceptionData': 'reservation-failed'}} %}
    {% block board_title %}Es ist ein Fehler aufgetreten.{% endblock %}

    {% block board_body %}
        <h2 class="exceptionData-headline">
            Reservierung gescheitert
        </h2>
        <p>
            {{ exclamationIcon|raw }} {{ errorPrefix }}: {% trans %}Der Termin konnte nicht reserviert werden, möglicherweise war jemand schneller als Sie.{% endtrans %}
        </p>
    {% endblock %}

{% endembed %}
