{% block navigation %}
    <nav class="navigation-primary" aria-labelledby="navigation-primary-title">
        <h2 class="aural" id="navigation-primary-title">Hauptnavigation</h2>
        <div class="nav__wrapper">
            <ul class="nav__list">
                <li class="nav__block">
                    <span class="nav__heading js-nav-heading">Weiterführende Links</span>
                    <ul class="nav__list">
                        <li class="nav__link extern">
                            <a href="https://service.berlin.de" target="_blank">Serviceportal Berlin</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
{% endblock %}
               
