.availability-timetable .availability-timetable_container .inner .bars.opening-level {
    top: 4rem;
}


.availability-timetable .availability-timetable_legend .legend__item.legend_opening {
    top: 4rem;
}

.availability-timetable .availability-timetable_container {
    height: 11rem;
}

.availability-timetable .availability-timetable_container .inner .background-level {
    height: 6rem;
}