div.wartebuttonbereich_einzeilig {
    position: absolute;
    top: 295px;
    width: 875px;
    left: 160px;
    user-select: none;
}

div.wartebuttonbereich_zweizeilig
{
	position: absolute;
	top:180px;
	width:1005px;
	left:35px;
    user-select: none;
}

div.wartebuttonbereich_zweizeilig_tief {
    position: absolute;
    top: 295px;
    width: 875px;
    left: 95px;
    user-select: none;
}

div.warteschlangebutton_gross button.eintragen,
div.warteschlangebutton_gross a.eintragen {
    background: url(img/wartenummer_anfordern.png) 0 24px no-repeat;
    background-size: cover;
    border: 0;
    color: #fff;
    font-size: 38px;
    font-family: Arial, sans-serif;
    font-weight: bold;
    height: 195px;
    width: 660px;
    display:block;
    text-align:center;
    padding: 0px 35px;
    user-select: none;
}

div.variablerwarteschlangebutton {
    float: left;
    margin-right: 25px;
    user-select: none;
}

div.variablerwarteschlangebutton button.eintragen,
div.variablerwarteschlangebutton a.eintragen {
    background: url(img/multibutton.png) 0 24px no-repeat;
    background-size: cover;
    border: 0;
    color: #fff;
    padding-bottom: 0px;
    padding-top: 15px;
    font-size: 28px;
    line-height: 36px;
    font-family: Arial, sans-serif;
    font-weight: bold;
    height: 158px;
    padding-right: 10px;
    width: 455px;
    display:block;
    user-select: none;	
}

div.variablerwarteschlangebutton a.eintragen,
div.warteschlangebutton_gross a.eintragen {
	text-align:center;
	display: table-cell;
    vertical-align: middle;
    padding:0px;
    margin:0px;
    text-decoration:none;
    user-select: none;
}

div.variablerwarteschlangebutton button.disabled {
	color:#fff;
	background: url(img/multibutton_disabled.png) 0 24px no-repeat;
    background-size: cover;
	user-select: none;
}

button.buttonTelefonnummernachtragen
{
    background: url(img/handynummer_nachtragen.png) 0 24px no-repeat;
    border:0;
    color:#fff;
    font-size:28px;
    font-family: Arial, sans-serif;
    font-weight:bold;
    height: 105px;
    width: 800px;
    left: 96px;
    top: 665px;
    padding: 38px 121px;
    position:absolute;
	user-select: none;
}

a.button {
	display: table-cell;
    text-align: center;
    vertical-align: middle;
    line-height: auto;
    text-decoration:none;
	user-select: none;
}

a.button.ja_nein, .ja_nein {
    background: url(img/ja_nein.png) 0 5px no-repeat;
    border: 0;
    color: #fff;
    font-size: 42px;
    font-family: Arial, sans-serif;
    font-weight: bold;
    height: 141px;
    width: 314px;
	user-select: none;
}

.smsbuttons
{
    left:155px;
    position:absolute;
    top:545px;
    width:700px;
    display:table;
	user-select: none;
}
.smsbuttons .nachtrag
{
    background: url(img/handynummer_uebermitteln.png) 5px 10px no-repeat;
    border:0;
    color:#fff;
    font-size:28px;
    font-family: Arial, sans-serif;
    font-weight:bold;
    height: 80px;
    margin: 0px 0 0 0px;
    padding:0;
    width: 439px;
	user-select: none;
}

.smsbuttons .nachtrag.active
{
    background: url(img/handynummer_uebermitteln_a.png) 5px 10px no-repeat;
	user-select: none;
}

.smsbuttons .nachtrag.disabled
{
    background: url(img/handynummer_uebermitteln_i.png) 5px 10px no-repeat;
	user-select: none;
}

.smsbuttons .abbrechen
{
    background: url(img/abbrechen.png) 5px 10px no-repeat;
    border:0;
    color:#fff;
    font-size:28px;
    font-family: Arial, sans-serif;
    font-weight:bold;
    height: 80px;
    width: 210px;
    line-height: 80px;
	user-select: none;
}

#message .back
{
    background: url(img/abbrechen.png) 5px 10px no-repeat;
    border:0;
    color:#fff;
    font-size:20px;
    font-family: Arial, sans-serif;
    font-weight:bold;
    height: 80px;
    width: 210px;
    line-height: 80px;
	user-select: none;
}

.smsbuttons .abbrechen.active
{
    background: url(img/abbrechen_a.png) 5px 10px no-repeat;
	user-select: none;
}
.smsbuttons .hilfe
{
	margin-top: 20px;
    font-size: 20px;
	user-select: none;
}
