.content {
    //overflow-y: auto;
    //width: 800px;
    //height: 600px;
    //margin: 110px 0px 0px 160px;
    //padding: 0px;
  display: flex;
  flex-direction: column; /* Damit die Inhalte untereinander bleiben */
  justify-content: center; /* Zentriert vertikal */
  align-items: center; /* Zentriert horizontal */
}

.content p {
	width:85%;
}

.print {
	display:none;
}