.wartenummern .kleineSMSRueckmeldung, 
.wartenummern .kleineAusdruckRueckmeldung, 
.wartenummern .kleineAusgabeFehlermeldung, 
.wartenummern .kleineSMSDruckRueckmeldung {
    background: url(img/textflaeche_gross.png) no-repeat 0 0px;
    border: 0;
    font-size: 28px;
    font-family: Arial, sans-serif;
    font-weight: bold;
    height: 117px;
    line-height: 60px;
    padding: 1px 0 0;
    margin: 0px 5px 0px 6px;
    text-align: center;
    width: 830px;
    position: absolute;
    left: 62px;
    top: 85px;
}

.wartenummern .SMSRueckmeldung, 
.wartenummern .AusdruckRueckmeldung, 
.wartenummern .AusgabeFehlermeldung, 
.wartenummern .SMSDruckRueckmeldung {
    background: url(img/textflaeche_gross.png) no-repeat 0 0px;
    border: 0;
    font-size: 28px;
    font-family: Arial, sans-serif;
    font-weight: bold;
    height: 155px;
    line-height: 30px;
    padding: 1px 0 0;
    text-align: center;
    width: 857px;
    position: absolute;
    left: 62px;
    top: 150px;
}