.wartenummern {
    //height: 	758px;
    //left: 		0;
    //position: 	absolute;
    //top: 		0;
    //width: 		1014px;
    margin: 20px;
}

.hiddencursor, button, input, select {
    // ZMSKVR-1132: Use base64 data URL to avoid IE11 URL mangling bug (converts dots to underscores)
    // Original file: scss/img/invisible-mauszeiger.cur - revert to url(img/invisible-mauszeiger.cur) when modern kiosks are rolled out
    cursor: url(data:application/x-icon;base64,AAABAAEAICAQAAAAAADoAgAAFgAAACgAAAAgAAAAQAAAAAEABAAAAAAAgAIAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACAAACAAAAAgIAAgAAAAIAAgACAgAAAwMDAAICAgAAAAP8AAP8AAAD//wD/AAAA/wD/AP//AAD///8AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAD//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////w==), crosshair !important;
}

.wartenummern .werbeblock_oben {
    position: 	absolute;
    top: 		150px;
}

.wartenummern .werbeblock_mehrfachkiosk_oben {
    position: 	absolute;
    top: 		130px;
    left: 		35px;
    width: 		800px;
}

.wartenummern .nummernanzeige {
    color: 			#004376;
    font-size: 		112px;
    font-family: 	Arial, sans-serif;
    font-weight: 	bold;
    line-height: 	149px;
    text-align: 	center;
}

.wartenummern div.smsoptionbutton {
	display:table;
	margin-top:10px;
}

.wartenummern div.smsoptionbutton form {
	display: table-cell;
	margin-top:0px;
}

.wartenummern .content {
    font-size: 		28px;
    font-family: 	Arial, sans-serif;
    font-weight: 	bold;
    line-height: 	36px;
}
