{% extends "layout/main.twig" %}

{% use "block/marginal/clock.twig" %}
{% use "block/queue/estimatedWaitingClients.twig" %}
{% use "block/queue/estimatedWaitingTime.twig" %}

{% block title %}{% trans %}calldisplay{% endtrans %}{% endblock %}
{% block pageid %}customized{% endblock %}

{% block content %}
<div class="aufrufanzeige_leftcol">
	{{ block("clock") }}
	{{ block("estimatedWaitingClients") }}
	{{ block("estimatedWaitingTime") }}
</div>
<div class="aufrufanzeige_main">
	{% include "block/default/importContainer.twig" with {"tableLayout": tableLayout} %}
</div>

<div class="aufrufanzeige_text">
	{% include "block/marginal/infoColumn.twig" %}
</div>
{% endblock %}

{% block tableLayoutSettings %}
<script type="text/javascript">window.bo.zmscalldisplay.tableLayout.head.right="Raum"</script>
<script type="text/javascript">window.bo.zmscalldisplay.tableLayout.maxResults=10</script>
{% endblock %}

