version: '3.3'

services:
  mockup:
    image: jordimartin/mmock
    ports:
      - 8082:8082
      - 8083:8083
    volumes:
      - type: bind
        source: "./tests/mockup/config"
        target: "/config"
        consistency: cached
  test:
    depends_on:
      - mockup
    image: ghcr.io/it-at-m/eappointment-php-base:8.3-dev
    volumes:
      - type: bind
        source: "."
        target: "/app"
        consistency: cached
      - type: bind
        source: "../zmsslim"
        target: "/zmsslim"
      - type: bind
        source: "../zmsentities"
        target: "/zmsentities"
      - type: bind
        source: "../mellon"
        target: "/mellon"
    environment:
      ZMS_API_URL: http://mockup:8083
      XDEBUG_MODE: ${XDEBUG_MODE:-off}
      PHP_INI_SCAN_DIR: "/usr/local/etc/php/conf.d:/tmp/php/conf.d"
    working_dir: /app
    command: >
      sh -c "
        mkdir -p /tmp/php/conf.d &&
        if [ \"$${XDEBUG_MODE:-off}\" != \"off\" ]; then
          echo 'zend_extension=xdebug.so' > /tmp/php/conf.d/xdebug.ini &&
          echo 'xdebug.mode=$${XDEBUG_MODE}' >> /tmp/php/conf.d/xdebug.ini &&
          echo 'xdebug.start_with_request=yes' >> /tmp/php/conf.d/xdebug.ini
        fi &&
        tail -f /dev/null
      "
