<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd" backupGlobals="false" bootstrap="tests/bootstrap.php" colors="true" stopOnFailure="false" processIsolation="false" cacheDirectory=".phpunit.cache" backupStaticProperties="false" requireCoverageMetadata="false">
  <testsuites>
    <testsuite name="Zmsclient Test Suite">
      <directory>./tests/Zmsclient/</directory>
    </testsuite>
  </testsuites>
  <source>
    <include>
      <directory suffix=".php">./src</directory>
    </include>
    <exclude>
      <directory>./vendor</directory>
      <directory>./tests</directory>
    </exclude>
  </source>
</phpunit>
