{% block navigation %}
                <div class="navigation navigation__index">
                    <ul class="nav">
                        <li>
                            <h3 class="navigation__title">Weiterführende Links</h3>
                            <ul>
                                <li>
                                    <a class="nav__item extern" href="https://service.berlin.de" target="_blank">Serviceportal Berlin</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
{% endblock %}
               
