import(document.currentScript ? new URL('./{{path}}', document.currentScript.src).href : './{{path}}');
import(document.currentScript ? new URL('./../wrapper.js', document.currentScript.src).href : './../wrapper.js');
