import(document.currentScript ? new URL('./{{path}}', document.currentScript.src).href : './{{path}}');
import(document.currentScript ? new URL('./../src/wrapper.js', document.currentScript.src).href : './../src/wrapper.js');
