#{$namespace}.metanavi__popup {
    @include media-query(lap-and-up) {
        display:                none;
        width:                  20em;
        max-width:              100%;
        &.opened {
            display:            block;
            z-index:            10;
        }
        .nav__heading {
            display:            none !important;
        }
    }
    @include media-query(palm) {
        display:                block !important;
        position:               static !important;
    }
    background-color:       $color-white;
    @include getRem('padding', $mediumGapPx);
    color:                  $color-text-base;
    @include media-query(lap-and-up) {
        box-shadow:             0px 0px 8px rgba(0,0,0,0.2);
    }
    a {
        color:              $color-text-base;
    } 
    ul {
        list-style:         none;
        padding:            0;
        margin:             0;
        li {
            margin-bottom:  1em;
        }
    }
    .user {
        white-space:        normal;              
        margin-bottom:      0;
        padding-top:        1.5em;
        padding-bottom:     1em;
        display:            flex;
        align-items:        center;
        @include getRem('padding-left', $pagePaddingPx);
        @include media-query(palm) {
            background-color:   $color-blue;
            color:              $color-white;
            margin:             0;
            @include getRem('padding-left', $pagePaddingPalmPx);
            padding-top:        0;
            a {
                color:          $color-white;
            }
        }
    }
    .user__portrait {
        font-size:          2.5em;
        margin-right:       0.2em;
        color:              $color-blue;
        @include media-query(palm) {
            color:          $color-white;
        }
    }
    .user__name {
        font-size:          1.2em;
        font-weight:        bold;
    }
    .fa-toggle-off,
    .fa-toggle-on {
        font-size:          1.5em;
        margin-left:        0.5em;
    }
}
