<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
    backupStaticAttributes="false"
    colors="true"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    processIsolation="false"
    stopOnFailure="false"
    bootstrap="tests/bootstrap.php"
>
    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">./src</directory>
        </include>
        <exclude>
            <directory>./vendor</directory>
            <directory>./tests</directory>
        </exclude>
        <report>
            <html outputDirectory="./coverage/html" />
            <clover outputFile="./coverage/clover.xml" />
        </report>
    </coverage>
    <testsuites>
        <testsuite name="Dldb">
            <directory>./tests/Dldb/</directory>
        </testsuite>
    </testsuites>
</phpunit>