{% embed "block/scaffholding/board.twig" with {'class': 'queue-info'} %}

        {% block board_title %}
            Informationen
        {% endblock %} 

        {% block board_body %}
            <div class="loader"></div>
        {% endblock %} 

{% endembed %}
