{% embed "block/scaffholding/board.twig" with {'class': 'board--spaceless queue-table'} %}
    {% block board_title %}{% endblock %}
    {% block board_body %}
        <div class="loader"></div>
    {% endblock %}
{% endembed %}
