swagger: '2.0'
info:
  version: 1.0.0
  title: ZMS 2.0 API
  description: Access to the backend function of the time management system called ZMS
  termsOfService: 'http://service.berlin.de/terminvereinbarung/'
  contact:
    name: Mathias Fischer
    email: mathias.fischer@berlinonline.de
    url: 'http://www.berlinonline.net/unternehmen/team/'
  license:
    name: Commercial
    url: 'http://www.berlinonline.net'
host: api.service.berlin.de
basePath: /v1
schemes:
  - https
consumes:
  - application/json
produces:
  - application/json
paths:
  '/process/{id}':
    get:
      description: Return a process by ID
      operationId: readProcessById
      produces:
        - application/json
      parameters:
        - name: id
          in: path
          type: integer
          required: true
      responses:
        '200':
          description: get a process
          schema:
            $ref: '#/definitions/process'
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/errorModel'
definitions:
  appointment:
    type: object
    description: representation of an appointment
    properties:
      date:
        type: integer
        description: unix timestamp representing the date and time of the appointment
      scope:
        $ref: "#/definitions/scope"
      slotCount:
        type: integer
        description: numer of time slots used
  availability:
    type: object
    description: representation of opening hours for appointments
    properties:
      bookable:
        type: object
        properties:
          startInDays:
            type: integer
            description: "number of days relative to today to start offering appointments"
          endInDays:
            type: integer
            description: "maximum number of days in the future to offer appointments"
      description:
        type: string
        description: "short note for internal usage"
      endDate:
        type: integer
        description: "unix timestamp of a day until this availability is valid"
      endTime:
        type: string
        description: "format '0:00' or '16:30'"
      id:
        type: integer
      multipleSlotsAllowd:
        type: boolean
        description: "an appointment is allowed to take more than one time slot"
      type:
        type: string
        description: |
          The following type are available
          * appointment - defines times for appointments
          * openinghours - defines times where a scope is opened
          * break - defines times for a break (not implemented yet)
      repeat:
        type: object
        properties:
          afterWeeks:
            type: integer
            description: "number of weeks for repeating the times, usually 1, 2 or 3"
          weekOfMonth:
            type: integer
            description: "number of week in month, on a value of 5 the last week of the month, even it is the 4th"
      scope:
        $ref: "#/definitions/scope"
      slotTimeInMinutes:
        type: integer
        description: ""
      startDate:
        type: integer
        description: "unix timestamp of a day to start offering appointments"
      startTime:
        type: string
        description: "format '0:00' or '17:30'"
      weekday:
        type: object
        properties:
          monday:
            type: boolean
          tuesday:
            type: boolean
          wednesday:
            type: boolean
          thursday:
            type: boolean
          friday:
            type: boolean
          saturday:
            type: boolean
          sunday:
            type: boolean
      workstationCount:
        type: object
        properties:
          callcenter:
            type: integer
            description: "number of workstations to handle appointments if handed out to the client by a callcenter"
          intern:
            type: integer
            description: "maximum of workstations expected to handle appointments"
          public:
            type: integer
            description: "number of workstations to offer appointments for booking using a public website"
  client:
    type: object
    description: representation of a client who intends to take a service
    required:
    - familyName
    properties:
      email:
        type: string
        description: mail address
      emailSendCount: 
        type: integer
        description: number of reminder mails send 
      familyName:
        type: string
        description: name of the client
      notificationsSendCount:
        type: integer
        description: number of reminder sms send
      surveyAccepted:
        type: boolean
        description: true if clients allows survey requests
      telephone:
        type: string
        description: telephone number
  cluster:
    type: object
    description: "group of scopes"
    properties:
      callDisplayText:
        type: string
        description: "text for the call display if only the cluster is selected"
      hint:
        type: string
        description: "information for the client like the address to a cluster location"
      id:
        type: integer
        description: "auto increment"
      name:
        type: string
        description: "name for internal usage"
      shortNameEnabled:
        type: boolean
        description: "true if the scope short name should be display next to the workstation name"
  contact:
    type: object
    properties:
      city:
        type: string
      country:
        type: string
      lat:
        type: number
      lon:
        type: number
      name:
        type: string
      postalCode:
        type: string
      region:
        type: string
      street:
        type: string
      streetNumber:
        type: string
      
  department:
    type: object
    description: 'subunit in organisation like "Bürgeramt", "Standesamt", "Vertrieb"'
    properties:
      id:
        type: integer
      dayoff:
        type: array
        items:
          $ref: "#/definitions/dayoff"
      email:
        type: string
        description: sender address for reminder mails to the clients
      links:
        type: array
        items:
          type: object
          properties:
            name:
              type: string
            url:
              type: string
            target:
              type: boolean
              description: true if url should open in a new window
      organisation:
        $ref: "#/definitions/organisation"
      preferences:
        type: object
        properties:
          notifications:
            type: object
            properties:
              enabled: 
                type: boolean
                description: "true if sms are allowed"
              identification:
                type: string
                description: "usually an email address"
              sendConfirmationEnabled:
                type: boolean
                description: "true if confirmation sms are enabled"
              sendReminderEnabled:
                type: boolean
                description: "true if reminder sms are enabled"
  dayoff:
    type: object
    description: free day where a department is closed
    required:
    - date
    - name
    properties:
      date:
        type: integer
        description: unix timestamp
      name:
        type: string
        description: e.g. "Weihnachten", "Betriebsfeier"
  process:
    type: object
    description: process a service for a client
    properties:
      amendment:
        type: string
        description: additional information for this process from the client
      appointments:
        type: array
        items:
          $ref: '#/definitions/appointment'
      authKey:
        type: string
        description: key for client to delete or change process
      clients:
        type: array
        items:
          $ref: "#/definitions/client"
      createIP:
        type: string
        description: IP Address of the creator
      createTimestamp:
        type: integer
        description: unix timestamp representing creation of the process
      id:
        type: integer
        description: |
          Number is used to identify appointments like on call displays
      queue:
        $ref: "#/definitions/queue"
      reminderTimestamp:
        type: integer
        description: timestamp of last reminder message
      requests:
        type: array
        items:
          $ref: "#/definitions/request"
      status:
        type: string
        description: |
          Status of the process. The following values are possible:
            * free: open for reservation
            * reserved: for updating data, no validation yet
            * confirmed: appointment
            * queued: confirmed and in waiting queue
            * called: show on call displays
            * processing: client appeared and gets service
            * pending: client has to return for getting papers
            * finished: successfully processed
            * missed: no client appeared
            * archived: only used in statistics
      scope:
        $ref: '#/definitions/scope'
      workstation:
        $ref: "#/definitions/workstation"
  organisation:
    type: object
    description: "top organisation units"
    properties:
      contact:
        $ref: "#/definitions/contact"
      id:
        type: integer
      name:
        type: string
      owner:
        $ref: "#/definitions/owner"
      preferences:
        type: object
        properties:
          ticketPrinterProtectionEnabled:
            type: boolean
            description: "true if protection for ticket printer is enabled"
  owner:
    type: object
    description: "contract partner"
    properties:
      contact:
        $ref: "#/definitions/contact"
      id:
        type: integer
      name:
        type: string
  queue:
    type: object
    description: waiting queue entry with clients
    required:
    - arrivalTime
    - callCount
    - callTime
    - number
    - waitingTime
    properties:
      arrivalTime:
        type: integer
        description: time when client was added to the queue or appointment time
      callCount:
        type: integer
        description: number of calls for the client to appear at the workstation
      callTime:
        type: integer
        description: unix timestamp of last call
      number:
        type: string
        description: number to display on a call display
      waitingTime:
        type: integer
        description: minutes since arrival of client
  request:
    type: object
    description: reference to a service
    required:
    - id
    - name
    - source
    properties:
      id:
        type: string
        description: reference to a service
      name:
        type: string
        description: name of the referenced service (explicit redundant)
      source:
        type: string
        description: source of the service to resolve reference id
  scope:
    type: object
    description: unit for processing services for clients
    properties:
      contact:
        $ref: "#/definitions/contact"
      department:
        $ref: "#/definitions/department"
      hint:
        type: string
        description: "hint for the client like a description where to find the scope"
      id:
        type: integer
        description: "auto increment"
      preferences:
        type: object
        properties:
          appointment:
            type: object
            properties:
              deallocationDuration:
                type: integer
                description: "minutes before an deleted appointment is free for booking again to prevent appointment trading"
              endInDaysDefault:
                type: integer
                description: "maximum number of days in the future to offer appointments"
              multipleSlotsEnabled:
                type: boolean
                description: "true if more than one timeslot per appointment is allowed"
              reservationDuration:
                type: integer
                description: "minutes an appointment can have the status reserved"
              startInDaysDefault:
                type: integer
                description: "number of days relative to today to start offering appointments"
          client:
            type: object
            properties:
              alternateAppointmentUrl:
                type: string
                description: "redirect url if client should book appointments over a specialised application"
              amendmentLabel:
                type: string
                description: "label for the form field to enter additional informations to a process"
              amendmentRequired:
                type: boolean
                description: "true if an amendment is required"
              emailRequired:
                type: boolean
                description: "true if client is required to enter an email address"
              telephoneActivated:
                type: boolean
                description: "true if client is allowed to enter a telephone number"
              telephoneRequired:
                type: boolean
                description: "true if client is required to enter a telephone number"
          notifications:
            type: object
            properties:
              confirmationContent:
                type: string
                description: "text to send to client to confirm the appointment"
              headsUpTime:
                type: integer
                description: "minutes before call to send a sms to the client"
              headsUpContent:
                type: string
                description: "text to send a short time before a call"
          pickup:
            type: object
            properties:
              alternateName:
                type: string
                description: "alternate text to display on call display if pickup of documents is required"
              isDefault:
                type: boolean
                description: "a pickup of documents is default, this scope is preselected for pickup"
          queue:
            type: object
            properties:
              callCountMax:
                type: integer
                description: "number of calls before a process is removed from the queue"
              callDisplayText:
                type: string
                description: "text displayed at the right side on the call display"
              fistNumber:
                type: integer
                description: "fist possible waiting number for ticket printer"
              lastNumber:
                type: integer
                description: "last possible waiting number for ticket printer"
              publishWaitingTimeEnabled:
                type: boolean
                description: "true if waiting times are allowed to be published for public use"
              processingTimeAverage:
                type: integer
                description: "minutes average for completing a process, used to estimate waiting time"
              statisticsEnabled:
                type: boolean
                description: "true if statistics are enabled"
          survey:
            type: object
            properties:
              emailContent:
                type: string
                description: "content of an email to send to a client if he accepted to participate in a survey"
              enabled:
                type: boolean
                description: "true if clients should be asked to participate in a survey"
              label:
                type: string
                description: "text to display next to the checkbox asking the client to participate in the survey"
          ticketprinter:
            type: object
            properties:
              confirmationEnabled:
                type: boolean
                description: "true if client should get a notification to confirm that notifications are enabled for him/her"
              deactivatedText:
                type: string
                description: "text to display on the ticket printer, if all ticket printers are disabled"
              notificationsEnabled:
                type: boolean
                description: "true if notifications for calling up clients are enabled"
              notificationsAmendmentEnabled:
                type: boolean
                description: "true if a client is allowed to enter a notfication address after getting his waiting number"
              notificationsDelay:
                type: integer
                description: "minutes waiting before a client is able to enter a notification address"
          workstation:
            type: object
            properties:
              emergencyEnabled:
                type: boolean
                description: "true if an emergency button should be displayed on workstation screens"
      provider:
        properties:
          contact:
            $ref: "#/definitions/contact"
          id:
            type: string
            description: "reference to an id"
          name:
            type: string
            description: "name of the referenced service (explicit redundant)"
          source:
            type: string
            description: "source of provider to resolve reference id"
      shortName:
        type: string
        description: "short identifier to differentiate between nearly identical scopes"
      status:
        type: object
        properties:
          emergency:
            type: object
            properties:
              acceptedByWorkstation:
                type: string
                description: "name of workstation which accepted the emergency call"
              activated:
                type: boolean
                description: "true in case of emergency"
              calledByWorkstation:
                type: string
                description: "name of workstation where the emergency occured"
          queue:
            type: object
            properties:
              givenNumberCount:
                type: integer
                description: "counter for given waiting numbers for the current day"
              ghostWorkstationCount:
                type: integer
                description: "a fictive number of workstations to calculate waiting times, if zero, the real number of workingstations is used"
              lastGivenNumber:
                type: integer
                description: "last given waiting number"  
              lastGivenNumberTimestamp:
                type: integer
                description: "unix timestamp of the last given waiting number"
          ticketprinter:
            type: object
            properties:
              deactivated:
                type: boolean
                description: "true if all ticket printers are disabled"
  ticketprinter:
    type: object
    description: system to print waiting numbers for clients
    properties:
      enabled: 
        type: boolean
        description: true if browser is allowed to hand out waiting numbers to the client
      hash:
        type: string
        description: identifier for a browser (usually cookie content)
      id:
        type: integer
      lastUpdate:
        type: integer
        description: unix timestamp
      name:
        type: string
        description: only for internal identification
      organisation:
        $ref: "#/definitions/organisation"
  useraccount:
    type: object
    properties:
      department:
        $ref: "#/definitions/department"
      lastLogin:
        type: integer
        description: unix timestamp
      loginName:
        type: string
      password:
        type: string
        description: this field is only used on changing the password
      rights:
        type: object
        properties:
          availability:
            type: boolean
          cluster:
            type: boolean
          department:
            type: boolean
          organisation:
            type: boolean
          scope:
            type: boolean
          sms:
            type: boolean
          superuser:
            type: boolean
          ticketprinter:
            type: boolean
          useraccount:
            type: boolean
      workstation:
        $ref: "#/definitions/workstation"
  workstation:
    type: object
    description: room or place to process a service for a client
    properties:
      hint:
        type: string
        description: used for displaying in the calldisplay
      id:
        type: integer
        description: id of the workstation
      name:
        type: string
        description: usually number of place or room where the workstation is located
      queue:
        type: object
        properties:
          appointmentsOnly:
            type: boolean
            description: true if only appointments should be shown in queue
          clusterEnabled:
            type: boolean
            description: true if the complete cluster should be shown in queue
      useraccount:
        $ref: "#/definitions/useraccount"
  errorModel:
    type: object
    required:
      - code
      - message
    properties:
      code:
        type: integer
        format: int32
      message:
        type: string
