swagger: '2.0'
info:
  version: 1.0.0
  title: ZMS Neo API
  description: Access to the backend function of the time management system called ZMS
  termsOfService: 'http://service.berlin.de/terminvereinbarung/'
  contact:
    name: Mathias Fischer
    email: mathias.fischer@berlinonline.de
    url: 'http://www.berlinonline.net/unternehmen/team/'
  license:
    name: Commercial
    url: 'http://www.berlinonline.net'
host: api.service.berlin.de
basePath: /v1
schemes:
  - https
consumes:
  - application/json
produces:
  - application/json
paths:
  '/process/{id}':
    get:
      description: Return a process by ID2
      operationId: readProcessById
      produces:
        - application/json
      parameters:
        - name: id
          in: path
          type: integer
          required: true
      responses:
        '200':
          description: get a process
          schema:
            $ref: '#/definitions/process'
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/errorModel'
definitions:
  appointment:
    $ref: "schema/appointment.json"
  appointmenttypes:
    $ref: "schema/appointmenttypes.json"
  availability:
    $ref: "schema/availability.json"
  calendar:
    $ref: "schema/calendar.json"
  client:
    $ref: "schema/client.json"
  cluster:
    $ref: "schema/cluster.json"
  contact:
    $ref: "schema/contact.json"
  day:
    $ref: "schema/day.json"
  department:
    $ref: "schema/department.json"
  dayoff:
    $ref: "schema/dayoff.json"
  process:
    $ref: "schema/process.json"
  organisation:
    $ref: "schema/organisation.json"
  owner:
    $ref: "schema/owner.json"
  queue:
    $ref: "schema/queue.json"
  request:
    $ref: "schema/request.json"
  scope:
    $ref: "schema/scope.json"
  ticketprinter:
    $ref: "schema/ticketprinter.json"
  useraccount:
    $ref: "schema/useraccount.json"
  workstation:
    $ref: "schema/workstation.json"
  errorModel:
    type: object
    required:
      - code
      - message
    properties:
      code:
        type: integer
        format: int32
      message:
        type: string
