                <div class="metalinks">
                    <ul>
                        <li class="support">
                            <h4 class="title">Support</h4>
                            <p>
                                <a href="mailto:hotline@itdz-berlin.de">hotline@itdz-berlin.de</a>
                                <span>(030) 9222-2000</span>
                            </p>
                        </li>
                        <li class="manual">
                            <h4 class="title">Benutzerhandbuch</h4>
                            <a href="{{ urlGet('testpage', {}, {}) }}">Web-Seite</a><br/>
                            <a href="{{ urlGet('testpage', {}, {}) }}">PDF-Download</a>
                        </li>
                        <li class="logo">
                            bereitgestellt von
                            <a href="https://www.berlinonline.net/"><img class="logo" alt="BerlinOnline" src="{{ includeUrl() }}/_css/images/bo_logo.png"></a>
                            <a href="http://www.itdz-berlin.de/"><img class="logo" alt="ITDZ-Berlin" src="{{ includeUrl() }}/_css/images/itdz_berlin.gif"></a></span>
                        </li>
                    </ul>
                </div>
