//@import "node_modules/bo-layout-admin/source/scss/zms-styles.scss"; // <- ToDo: do this work again

// Settings & Mixins
@import "node_modules/bo-layout-admin/source/scss/default-settings"; 
@import "node_modules/bo-layout-admin/source/scss/zms-settings"; 
@import "node_modules/bo-layout-admin/source/scss/mixins";

// Template 
//@import "node_modules/bo-layout-admin/source/scss/template/**/*.scss";
@import 'node_modules/bo-layout-admin/source/scss/template/aural.scss';
@import 'node_modules/bo-layout-admin/source/scss/template/body.scss';
@import 'node_modules/bo-layout-admin/source/scss/template/content-wrapper.scss';
@import 'node_modules/bo-layout-admin/source/scss/template/flatpickr.scss';
$fa-font-path: "../node_modules/@fortawesome/fontawesome-free/webfonts/";
@import 'node_modules/bo-layout-admin/source/scss/template/font.scss';
@import 'node_modules/bo-layout-admin/source/scss/template/grids.scss';
@import 'node_modules/bo-layout-admin/source/scss/template/html.scss';
@import 'node_modules/bo-layout-admin/source/scss/template/js-collapse-me.scss';
@import 'node_modules/bo-layout-admin/source/scss/template/js-is_palm.scss';
@import 'node_modules/bo-layout-admin/source/scss/template/normalize.scss';
@import 'node_modules/bo-layout-admin/source/scss/template/page-wrapper.scss';
@import 'node_modules/bo-layout-admin/source/scss/template/print.scss';
@import 'node_modules/bo-layout-admin/source/scss/template/responsive-tools.scss';

// Atoms
//@import "node_modules/bo-layout-admin/source/scss/atoms/**/*.scss";
@import 'node_modules/bo-layout-admin/source/scss/atoms/blockquote.scss';
@import 'node_modules/bo-layout-admin/source/scss/atoms/button.scss';
@import 'node_modules/bo-layout-admin/source/scss/atoms/headings.scss';
@import 'node_modules/bo-layout-admin/source/scss/atoms/icons.scss';
@import 'node_modules/bo-layout-admin/source/scss/atoms/image.scss';
@import 'node_modules/bo-layout-admin/source/scss/atoms/links.scss';
@import 'node_modules/bo-layout-admin/source/scss/atoms/list.scss';
@import 'node_modules/bo-layout-admin/source/scss/atoms/paragraph.scss';
@import 'node_modules/bo-layout-admin/source/scss/atoms/table.scss';
@import 'node_modules/bo-layout-admin/source/scss/atoms/spinner.scss';

// Molecules
//@import "node_modules/bo-layout-admin/source/scss/molecules/**/*.scss";
@import 'node_modules/bo-layout-admin/source/scss/molecules/block/accordion.scss';
@import 'node_modules/bo-layout-admin/source/scss/molecules/block/tabs.scss';
@import 'node_modules/bo-layout-admin/source/scss/molecules/block/block.scss';
@import 'node_modules/bo-layout-admin/source/scss/molecules/block/calendar.scss';
@import 'node_modules/bo-layout-admin/source/scss/molecules/block/panel.scss';
@import 'node_modules/bo-layout-admin/source/scss/molecules/block/board.scss';
@import 'node_modules/bo-layout-admin/source/scss/molecules/block/legend.scss';
@import 'node_modules/bo-layout-admin/source/scss/molecules/block/message.scss';
@import 'node_modules/bo-layout-admin/source/scss/molecules/block/searchfilter.scss';
@import 'node_modules/bo-layout-admin/source/scss/molecules/form/extended-search.scss';
@import 'node_modules/bo-layout-admin/source/scss/molecules/form/form--profile.scss';
@import 'node_modules/bo-layout-admin/source/scss/molecules/form/form--search.scss';
@import 'node_modules/bo-layout-admin/source/scss/molecules/form/form-actions--sticky.scss';
@import 'node_modules/bo-layout-admin/source/scss/molecules/form/form-alerts.scss';
@import 'node_modules/bo-layout-admin/source/scss/molecules/form/form-infotext.scss';
@import 'node_modules/bo-layout-admin/source/scss/molecules/form/form.scss';
@import 'node_modules/bo-layout-admin/source/scss/molecules/navigation/breadcrumb.scss';
@import 'node_modules/bo-layout-admin/source/scss/molecules/navigation/footer-servicelinks.scss';
@import 'node_modules/bo-layout-admin/source/scss/molecules/navigation/header-hamburger.scss';
//@import 'node_modules/bo-layout-admin/source/scss/molecules/navigation/metanavi-popup.scss';
@import 'node_modules/bo-layout-admin/source/scss/molecules/navigation/navigation-primary.scss';
@import 'node_modules/bo-layout-admin/source/scss/molecules/navigation/pagination.scss';
//@import 'node_modules/bo-layout-admin/source/scss/molecules/swiper/swiper.scss';

// Organisms
//@import "node_modules/bo-layout-admin/source/scss/organisms/**/*.scss";
@import 'node_modules/bo-layout-admin/source/scss/organisms/page-footer.scss';
@import 'node_modules/bo-layout-admin/source/scss/organisms/page-header.scss';


// -----------------------------------------------------------------------


// ZMS special css
@import 'node_modules/bo-layout-admin/source/scss/themes/zms/availability-timetable.scss';
@import 'node_modules/bo-layout-admin/source/scss/themes/zms/form-input-counter.scss';
@import 'node_modules/bo-layout-admin/source/scss/themes/zms/pickup-keyboard-handheld.scss';
@import 'node_modules/bo-layout-admin/source/scss/themes/zms/emergency.scss';
@import 'node_modules/bo-layout-admin/source/scss/themes/zms/icon-char-circle.scss';
@import 'node_modules/bo-layout-admin/source/scss/themes/zms/button-callnextclient.scss';
@import 'node_modules/bo-layout-admin/source/scss/themes/zms/queue-table.scss';
@import 'node_modules/bo-layout-admin/source/scss/themes/zms/queue-info.scss';
@import 'node_modules/bo-layout-admin/source/scss/themes/zms/owner-list.scss';
@import 'node_modules/bo-layout-admin/source/scss/themes/zms/checkboxselect.scss';
@import 'node_modules/bo-layout-admin/source/scss/themes/zms/lightbox.scss';
@import 'node_modules/bo-layout-admin/source/scss/themes/zms/add-date-picker.scss';
@import 'node_modules/bo-layout-admin/source/scss/themes/zms/period-list.scss';

// ToDo: Build new or move to themes/zms 
//@import "node_modules/react-datepicker/dist/react-datepicker";
@import "element/lightbox";
