{% extends "exception/embeddedException.twig" %}

{% block content %}
{% embed "block/scaffholding/board.twig" with {'class': 'exception', } %}
    {% from 'element/helper/form.twig' import errormessage %}
    {% block board_title %}{% trans %}Formulareingabefehler{% endtrans %}{% endblock %}
    {% block board_body %}
        <p>
            {{ exclamationIcon|raw }} {{ errorPrefix }}: {% trans %}Bei der Eingabe der Daten scheint Ihnen ein Fehler unterlaufen zu sein. Bitte prüfen Sie die Hinweise an den markierten Formularfeldern.{% endtrans %}
        </p>
        <div class="schema-validation-errors">
        {% for pointer, item in data %}
            {# Filter out noisy schema pointer messages #}
            {% set filteredMessages = [] %}
            {% for message in item.messages %}
                {% if 'The properties must match schema' not in message %}
                    {% set filteredMessages = filteredMessages|merge([message]) %}
                {% endif %}
            {% endfor %}
            {% if filteredMessages is not empty %}
                <ul class="list--clean">
                    {% for message in filteredMessages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endfor %}
        </div>
    {% endblock %}

{% endembed %}
{% endblock %}
