{% embed "block/scaffholding/board.twig" with {'class': 'exception'} %}

    {% block board_title %}Es ist ein Fehler aufgetreten.{% endblock %}

    {% block board_body %}
        <h2 class="exceptionData-headline">
            {% if exception.data.queue.number < 10000 %}<dt>Die Wartenummer {% else %}<dt>Die Vorgangsnummer {% endif %}
            {{ exception.data.queue.number }} gehört nicht zum Standort
        </h2>
        <p>
            {{ exclamationIcon|raw }} {{ errorPrefix }}: {% trans %}Diesem Arbeitsplatz ist es nicht erlaubt den Vorgang zu bearbeiten oder zu löschen. Der aufgerufene Vorgang gehört nicht zu diesem Standort.{% endtrans %}
        </p>
        <div class="form-actions">
            <a class="btn button-cancel button-callback right" data-callback="onCancelForm" href="{{ urlGet('workstationProcessCancel', {}, {}) }}">Ok</a>
        </div>
    {% endblock %}

{% endembed %}
