{% extends "layout/main.twig" %}
{% block title %}{% trans %}Ein Fehler ist aufgetreten{% endtrans %}{% endblock %}

{% block pageid %}exception{% endblock %}
{% block content %}
    <div class="textile">
        <h1>Entschuldigung, es ist ein Fehler aufgetreten.</h1>
        <p>
            Die gewünschte Seite kann derzeit nicht angezeigt werden. Dies kann durch technische Probleme verursacht werden, die kurzfristig behoben werden.<br/>
            Versuchen Sie bitte zunächst, dieses Gerät neu zu starten. Sollte das Problem weiterhin bestehen, melden Sie die Störung bitte unter:
            <strong><a href="https://it-services.muenchen.de" target="_blank">https://it-services.muenchen.de</a></strong>
        </p>
    </div>
{% endblock %}
