{% set showList = "complete-list" %}
{% if shortchangelog %}
{% set showList = "short-list" %}
{% endif %}

<div class="{{ showList }}">

<h2> Release Muc-16 <small>(08.11.2024)</small></h2>

<h3>        Aufgabe</h3>
<ul>
	<li>[<a href='https://jira.muenchen.de/browse/ZMS-2563'>ZMS-2563</a>] -         Performanceoptimierung von ZMS Berlin - Fetching freier Termine</li>
	<li>[<a href='https://jira.muenchen.de/browse/ZMS-2778'>ZMS-2778</a>] -         Logged IN Benutzer monitoren</li>
	<li>[<a href='https://jira.muenchen.de/browse/ZMS-3141'>ZMS-3141</a>] -         Performanceoptimierung von ZMS Berlin - UseraccountByDepartment listing Optimierung</li>
</ul>
<h3>        Bug</h3>
<ul>
	<li>[<a href='https://jira.muenchen.de/browse/ZMS-1802'>ZMS-1802</a>] -         umgebuchter Termin kann aufgerufen werden - Fehlermeldung</li>
	<li>[<a href='https://jira.muenchen.de/browse/ZMS-2970'>ZMS-2970</a>] -         Die ausgewählte Dienstleistung wird nach Tagänderung nicht mehr angezeigt DEMO VA</li>
	<li>[<a href='https://jira.muenchen.de/browse/ZMS-3112'>ZMS-3112</a>] -         Umbuchung von Termin mit Freitextfeld als Pflichtfeld für Bürger nicht möglich</li>
	<li>[<a href='https://jira.muenchen.de/browse/ZMS-3139'>ZMS-3139</a>] -         Bei der Umbuchung eines Termins wird die vorherige ausgewählte Behörde nicht automatisch ausgewählt</li>
</ul>
<h3>        Story</h3>
<ul>
	<li>[<a href='https://jira.muenchen.de/browse/ZMS-2215'>ZMS-2215</a>] -         Benutzersuche</li>
</ul>

<h2> Release Muc-15 <small>(18.10.2024)</small></h2>

<h3>        Bug</h3>
<ul>
	<li>[<a href='https://jira.muenchen.de/browse/ZMS-2972'>ZMS-2972</a>] -         Browser Tabs wechseln auf dem Ekiosk führt zur Fehlermeldung</li>
	<li>[<a href='https://jira.muenchen.de/browse/ZMS-2975'>ZMS-2975</a>] -         Notfallfunktion bleibt stehen bei nicht-integer Platznummer</li>
	<li>[<a href='https://jira.muenchen.de/browse/ZMS-3063'>ZMS-3063</a>] -         Bürgerfrontend: Ändern des Termins über Schritt 2-Feld nicht möglich</li>
	<li>[<a href='https://jira.muenchen.de/browse/ZMS-3073'>ZMS-3073</a>] -         Erstellen einer neuen Öffnungszeit ohne Eingabe von Details führt zu einem endlosen Spinner</li>
	<li>[<a href='https://jira.muenchen.de/browse/ZMS-3080'>ZMS-3080</a>] -         Calldisplay greift auf nichtexistierende Properties zu</li>
	<li>[<a href='https://jira.muenchen.de/browse/ZMS-3109'>ZMS-3109</a>] -         Öffnungszeit - &quot;Datum von&quot; oder &quot;Datum bis&quot; = leer -&gt; Fehler</li>
	<li>[<a href='https://jira.muenchen.de/browse/ZMS-3164'>ZMS-3164</a>] -         Öffnungszeiten - Ausnahme am ersten Tag einer Serie führt zu Fehler</li>
	<li>[<a href='https://jira.muenchen.de/browse/ZMS-3166'>ZMS-3166</a>] -         Ekiosk Layout funktioniert auf dem Internet Explorer 11 nicht</li>
	<li>[<a href='https://jira.muenchen.de/browse/ZMS-3170'>ZMS-3170</a>] -         Fehlende Ausnahme im Gewerbeamt Bereich KVR III/21</li>
</ul>
<h3>        Aufgabe</h3>
<ul>
	<li>[<a href='https://jira.muenchen.de/browse/ZMS-3140'>ZMS-3140</a>] -         Performanceoptimierung von ZMS Berlin - Optimierungen für DepartmentUseraccountList</li>
</ul>
<h3>        Story</h3>
<ul>
	<li>[<a href='https://jira.muenchen.de/browse/ZMS-2534'>ZMS-2534</a>] -         Customized E-Mail Templates sind über eigenen Link neben den Öffnungszeiten aufrufbar</li>
	<li>[<a href='https://jira.muenchen.de/browse/ZMS-2962'>ZMS-2962</a>] -         Logtabelle erweitern</li>
	<li>[<a href='https://jira.muenchen.de/browse/ZMS-2969'>ZMS-2969</a>] -         E-Mail Template für &quot;Termin Drucken&quot; von Customized Templates nehmen</li>
	<li>[<a href='https://jira.muenchen.de/browse/ZMS-3088'>ZMS-3088</a>] -         Auswahlwahlfeld ist nicht benannt</li>
	<li>[<a href='https://jira.muenchen.de/browse/ZMS-3228'>ZMS-3228</a>] -         CLONE - Customized E-Mail Templates sind über eigenen Link neben den Öffnungszeiten aufrufbar</li>
</ul>

<h2> Release Muc-14 <small>(27.09.2024)</small></h2>

<h3>        Aufgabe</h3>
<ul>
	<li>[<a href='https://jira.muenchen.de/browse/ZMS-2404'>ZMS-2404</a>] -         Parallelisierung des E-Mail-Versand Cronjobs</li>
</ul>
<h3>        Bug</h3>
<ul>
	<li>[<a href='https://jira.muenchen.de/browse/ZMS-1920'>ZMS-1920</a>] -         Beim erstellen einer neuen Öffnungszeit erscheint initial eine Fehlermeldung</li>
	<li>[<a href='https://jira.muenchen.de/browse/ZMS-2149'>ZMS-2149</a>] -         ZMS-LOAD Daily Cron Deadlock Exception</li>
	<li>[<a href='https://jira.muenchen.de/browse/ZMS-2816'>ZMS-2816</a>] -         Template für ICS Datei lässt sich nicht über &quot;Mail Templates&quot; ändern</li>
	<li>[<a href='https://jira.muenchen.de/browse/ZMS-2966'>ZMS-2966</a>] -         E-Kiosk: Fehler bei Auswahl einer einzelnen Dienstleistung</li>
	<li>[<a href='https://jira.muenchen.de/browse/ZMS-2995'>ZMS-2995</a>] -         Passworthash vom Sachbearbeiter ist Sichtbar</li>
	<li>[<a href='https://jira.muenchen.de/browse/ZMS-3037'>ZMS-3037</a>] -         Schlechte Performance bei LuP Test</li>
	<li>[<a href='https://jira.muenchen.de/browse/ZMS-3097'>ZMS-3097</a>] -         Zeitschlitz in Verbindung mit Termindauer und gleiche DL an mehreren Standorten</li>
</ul>
<h3>        Story</h3>
<ul>
	<li>[<a href='https://jira.muenchen.de/browse/ZMS-1911'>ZMS-1911</a>] -         Öffnungszeiten-Erstellung - Akkordeon automatisch aufklappen</li>
	<li>[<a href='https://jira.muenchen.de/browse/ZMS-2427'>ZMS-2427</a>] -         Preview für Anpassung E-Mail Templates</li>
	<li>[<a href='https://jira.muenchen.de/browse/ZMS-2634'>ZMS-2634</a>] -         Hinweis auf Überschreitung der max. erlaubten Slots bei internen Terminbuchungen</li>
	<li>[<a href='https://jira.muenchen.de/browse/ZMS-2988'>ZMS-2988</a>] -         E-Kiosk: Layout für die Anzeige ersetzen</li>
</ul>

<h2> Release Muc-13 <small>(06.09.2024)</small></h2>

<h3>        Bug</h3>
<ul>
	<li>[<a href='https://jira.muenchen.de/browse/ZMS-1646'>ZMS-1646</a>] -         Spaltenbreite für Jahr und Monat sind unterschiedlich</li>
	<li>[<a href='https://jira.muenchen.de/browse/ZMS-1821'>ZMS-1821</a>] -         Bürgerfrontend: Falscher Button am Ende der Umbuchung</li>
	<li>[<a href='https://jira.muenchen.de/browse/ZMS-2338'>ZMS-2338</a>] -         Terminerinnerung Satzanpassung</li>
	<li>[<a href='https://jira.muenchen.de/browse/ZMS-2735'>ZMS-2735</a>] -         Spontankunde löschen_ Ist diese Nachricht  &quot;per SMS benachrichtigt..&quot;  korrekt? </li>
	<li>[<a href='https://jira.muenchen.de/browse/ZMS-2755'>ZMS-2755</a>] -         [PROD] Starker und zeitlich langer Touch-Druckpunkt bei Auswahl DL führt zu Fehlermeldung</li>
	<li>[<a href='https://jira.muenchen.de/browse/ZMS-2756'>ZMS-2756</a>] -         [PROD] Beim verrutschen des Fingers während des Drucks ist die Bedienbarkeit nicht mehr möglich</li>
	<li>[<a href='https://jira.muenchen.de/browse/ZMS-2757'>ZMS-2757</a>] -         [PROD] E-Kiosk fährt trotz Freischaltung zum Beginn von Parteiverkehr nicht hoch</li>
	<li>[<a href='https://jira.muenchen.de/browse/ZMS-2775'>ZMS-2775</a>] -         [PROD] E-Mail Templates - Terminabsage + Terminerinnerung wird nach Anpassung nicht korrekt angezeigt</li>
	<li>[<a href='https://jira.muenchen.de/browse/ZMS-3002'>ZMS-3002</a>] -         Vergangene Time Slots werden ZMS Admin zur Auswahl  ohne Öffnungszeiten angezeigt </li>
	<li>[<a href='https://jira.muenchen.de/browse/ZMS-3035'>ZMS-3035</a>] -         Fehler bei Ausnahme für vorletzten Tag einer Öffnungszeit</li>
</ul>
<h3>        Aufgabe</h3>
<ul>
	<li>[<a href='https://jira.muenchen.de/browse/ZMS-2971'>ZMS-2971</a>] -         E-Kiosk &quot;Apparat ID&quot; entfernen</li>
</ul>
<h3>        Story</h3>
<ul>
	<li>[<a href='https://jira.muenchen.de/browse/ZMS-1765'>ZMS-1765</a>] -         Styleguide_Termin absagen oder stornieren? Termin umbuchen oder ändern?</li>
	<li>[<a href='https://jira.muenchen.de/browse/ZMS-1836'>ZMS-1836</a>] -         Auswahl &quot;Mehrfachtermine&quot; unter Terminbuchung als ausgewählt vorbelegen</li>
	<li>[<a href='https://jira.muenchen.de/browse/ZMS-1848'>ZMS-1848</a>] -         Feld &quot;Anmerkung&quot; von 300 auf 500 Zeichen erweitern</li>
	<li>[<a href='https://jira.muenchen.de/browse/ZMS-1964'>ZMS-1964</a>] -         Wegezeit in Statistik integrieren</li>
	<li>[<a href='https://jira.muenchen.de/browse/ZMS-2693'>ZMS-2693</a>] -         ZMS-Admin: Optimierung Usability &quot;Termin drucken&quot;</li>
	<li>[<a href='https://jira.muenchen.de/browse/ZMS-2699'>ZMS-2699</a>] -         Info zu Terminbuchung im Bürgerfrontend</li>
	<li>[<a href='https://jira.muenchen.de/browse/ZMS-2745'>ZMS-2745</a>] -         Standortauswahl im Bürgerfrontend ermöglichen</li>
	<li>[<a href='https://jira.muenchen.de/browse/ZMS-2848'>ZMS-2848</a>] -         Wochenkalender mit Clusteransicht ermöglichen</li>
	<li>[<a href='https://jira.muenchen.de/browse/ZMS-2915'>ZMS-2915</a>] -         E-Kiosk Sperrbildschirm </li>
	<li>[<a href='https://jira.muenchen.de/browse/ZMS-2933'>ZMS-2933</a>] -         Vorbelegung von &quot;Mit E-Mail Bestätigung&quot; ist konfigurierbar</li>
	<li>[<a href='https://jira.muenchen.de/browse/ZMS-2961'>ZMS-2961</a>] -         Userrolle für Innenrevision</li>
</ul>

<h2> Release Muc-12 <small>(26.07.2024)</small></h2>

<h3>        Bug</h3>
<ul>
	<li>[<a href='https://jira.muenchen.de/browse/ZMS-1150'>ZMS-1150</a>] -         Wert der &quot;Aktivierungsdauer&quot; für den Standort in Aktivierungsmail nicht korrekt</li>
	<li>[<a href='https://jira.muenchen.de/browse/ZMS-1957'>ZMS-1957</a>] -         Ausgabe im Screenreader stimmt nicht mit aktuellem Zustand der Checkbox überein (Datenschutz)</li>
	<li>[<a href='https://jira.muenchen.de/browse/ZMS-2198'>ZMS-2198</a>] -         Die Seitenregionen sind nicht aufeinander abgestimmt </li>
	<li>[<a href='https://jira.muenchen.de/browse/ZMS-2363'>ZMS-2363</a>] -         E-Mails nach extern kommen sehr spät oder gar nicht an</li>
	<li>[<a href='https://jira.muenchen.de/browse/ZMS-2596'>ZMS-2596</a>] -         Zurückbutton enthält ein Pfeil &quot;vorwärts&quot;</li>
	<li>[<a href='https://jira.muenchen.de/browse/ZMS-2614'>ZMS-2614</a>] -         Terminlöschung Cluster</li>
	<li>[<a href='https://jira.muenchen.de/browse/ZMS-2667'>ZMS-2667</a>] -         Passworthash vom Sachbearbeiter ist Sichtbar</li>
</ul>
<h3>        Story</h3>
<ul>
	<li>[<a href='https://jira.muenchen.de/browse/ZMS-1837'>ZMS-1837</a>] -         Löschen von Behörden und Standorte mit Bestätigung hinterlegen</li>
	<li>[<a href='https://jira.muenchen.de/browse/ZMS-2423'>ZMS-2423</a>] -         Erweiterung E-Mail-Standortadmin</li>
	<li>[<a href='https://jira.muenchen.de/browse/ZMS-2532'>ZMS-2532</a>] -         Zusätzliche Layouts für Aufrufanlage</li>
</ul>

<h2> Release Muc-11 <small>(05.07.2024)</small></h2>

<h3>        Aufgabe</h3>
<ul>
	<li>[<a href='https://jira.muenchen.de/browse/ZMS-2160'>ZMS-2160</a>] -         E-Mail Templates in die Datenbank verlegen</li>
	<li>[<a href='https://jira.muenchen.de/browse/ZMS-2221'>ZMS-2221</a>] -         friendlyCaptcha in ZMS</li>
	<li>[<a href='https://jira.muenchen.de/browse/ZMS-2342'>ZMS-2342</a>] -         ♻️ Composer Update</li>
</ul>
<h3>        Bug</h3>
<ul>
	<li>[<a href='https://jira.muenchen.de/browse/ZMS-2344'>ZMS-2344</a>] -         ZMS-Admin: Falsche Öffnungszeiten</li>
	<li>[<a href='https://jira.muenchen.de/browse/ZMS-2405'>ZMS-2405</a>] -         Text für Aufrufanzeige aus Standort-Konfiguration wird nicht angezeigt</li>
	<li>[<a href='https://jira.muenchen.de/browse/ZMS-2694'>ZMS-2694</a>] -         Umbuchen eines Termins nicht möglich - Kalender wird ohne freie Slots angezeigt, obwohl diese verfügbar sind</li>
</ul>
<h3>        Story</h3>
<ul>
	<li>[<a href='https://jira.muenchen.de/browse/ZMS-2161'>ZMS-2161</a>] -         Benutzerdefinierte Standort E-Mail Templates</li>
	<li>[<a href='https://jira.muenchen.de/browse/ZMS-2275'>ZMS-2275</a>] -         friendlyCaptcha je Standort konfigurierbar</li>
	<li>[<a href='https://jira.muenchen.de/browse/ZMS-2406'>ZMS-2406</a>] -         Aufrufsystem - Name der Behörde wird nicht angezeigt, wenn mehr als 1 Standort ausgewählt ist</li>
	<li>[<a href='https://jira.muenchen.de/browse/ZMS-2424'>ZMS-2424</a>] -         Termin ausdrucken</li>
	<li>[<a href='https://jira.muenchen.de/browse/ZMS-2426'>ZMS-2426</a>] -         Mehrfachauswahl von Dienstleistungen bei Buchung über ZMS Admin</li>
</ul>

<h2> Release Muc-10 <small>(14.06.2024)</small></h2>

<h3>        Aufgabe</h3>
<ul>
	<li>[<a href='https://jira.muenchen.de/browse/ZMS-2154'>ZMS-2154</a>] -         zmsticketprinter Header und Footer ausblenden</li>
</ul>
<h3>        Bug</h3>
<ul>
	<li>[<a href='https://jira.muenchen.de/browse/ZMS-2315'>ZMS-2315</a>] -         Anzeige (Layout) von 2x DL im e-Kiosk werden nicht nebeneinander angezeigt </li>
	<li>[<a href='https://jira.muenchen.de/browse/ZMS-2340'>ZMS-2340</a>] -         Ticketprinter Uhr bleibt stehen</li>
	<li>[<a href='https://jira.muenchen.de/browse/ZMS-2341'>ZMS-2341</a>] -         zmsproxymuc pm2 macht Logs kaputt</li>
	<li>[<a href='https://jira.muenchen.de/browse/ZMS-2348'>ZMS-2348</a>] -         Zeitzonen-Bug in der Bürgeransicht</li>
	<li>[<a href='https://jira.muenchen.de/browse/ZMS-2476'>ZMS-2476</a>] -         Dienstleistung wird an falschem Standort gebucht + es werden zu viele Dienstleistungen angezeigt</li>
</ul>
<h3>        Story</h3>
<ul>
	<li>[<a href='https://jira.muenchen.de/browse/ZMS-2335'>ZMS-2335</a>] -         URL für Terminvereinbarung kann nicht verändert werden</li>
	<li>[<a href='https://jira.muenchen.de/browse/ZMS-2336'>ZMS-2336</a>] -         Anpassung Worklfow eKiosk Terminbuchung</li>
	<li>[<a href='https://jira.muenchen.de/browse/ZMS-2356'>ZMS-2356</a>] -         Anpassung Bezeichnung der Anmerkung in den Öffnungszeiten</li>
	<li>[<a href='https://jira.muenchen.de/browse/ZMS-2357'>ZMS-2357</a>] -         Begrenzung der Anzahl an kombinierbaren Dienstleistungen ist in den Standorteinstellungen möglich</li>
	<li>[<a href='https://jira.muenchen.de/browse/ZMS-2359'>ZMS-2359</a>] -         Anpassung E-Mail Templates</li>
	<li>[<a href='https://jira.muenchen.de/browse/ZMS-2407'>ZMS-2407</a>] -         Anpassung der Layouts Aufrufanzeige - ganzen Bildschirm verwenden</li>
</ul>

<h2> Release Muc-9 <small>(24.05.2024)</small></h2>

<h3>        Bug</h3>
<ul>
	<li>[<a href='https://jira.muenchen.de/browse/ZMS-1861'>ZMS-1861</a>] -         Aufrufanlage- alte Layouts werden angezeigt</li>
	<li>[<a href='https://jira.muenchen.de/browse/ZMS-2227'>ZMS-2227</a>] -         Rolle Sachbearbeitung: Fehlermeldung bei Terminlöschung +  Bildschirmaktualisierung</li>
	<li>[<a href='https://jira.muenchen.de/browse/ZMS-2242'>ZMS-2242</a>] -         Fehlermeldung in ZMS-Admin bei maxAnzTermineProMail-Konfiguration für Standort</li>
	<li>[<a href='https://jira.muenchen.de/browse/ZMS-2257'>ZMS-2257</a>] -         zmsproxymuc Pod Absturzbug</li>
	<li>[<a href='https://jira.muenchen.de/browse/ZMS-2314'>ZMS-2314</a>] -         Anzeigen von DL im e-Kiosk führt zu Slim Application Error</li>
	<li>[<a href='https://jira.muenchen.de/browse/ZMS-2328'>ZMS-2328</a>] -         eKiosk druckt mehrere Zettel</li>
	<li>[<a href='https://jira.muenchen.de/browse/ZMS-2329'>ZMS-2329</a>] -         Ticketprinterkonfigurationsmenü öffnet falsche URL</li>
	<li>[<a href='https://jira.muenchen.de/browse/ZMS-2411'>ZMS-2411</a>] -         unbeabsichtigter Aufruf von geparkten und verpassten Terminen bei Standortwechsel</li>
</ul>
<h3>        Aufgabe</h3>
<ul>
	<li>[<a href='https://jira.muenchen.de/browse/ZMS-1905'>ZMS-1905</a>] -         Last- &amp; Performance Test zu Bürgeransicht Szenario 5</li>
	<li>[<a href='https://jira.muenchen.de/browse/ZMS-2321'>ZMS-2321</a>] -         eKiosk Nightly Reboot</li>
	<li>[<a href='https://jira.muenchen.de/browse/ZMS-2326'>ZMS-2326</a>] -         eKioks Reboot Tabelle</li>
	<li>[<a href='https://jira.muenchen.de/browse/ZMS-2327'>ZMS-2327</a>] -         Hostnames für eKioske</li>
</ul>
<h3>        Story</h3>
<ul>
	<li>[<a href='https://jira.muenchen.de/browse/ZMS-1803'>ZMS-1803</a>] -         &quot;Alle Clusterstandorte&quot; auch für Sachbearbeitung ermöglichen</li>
	<li>[<a href='https://jira.muenchen.de/browse/ZMS-1966'>ZMS-1966</a>] -         Parken aufgerufener Termine</li>
	<li>[<a href='https://jira.muenchen.de/browse/ZMS-2217'>ZMS-2217</a>] -         Anpassung Anmeldung ZMS - max. Zeichen bei Platz-Nr. erweitern</li>
	<li>[<a href='https://jira.muenchen.de/browse/ZMS-2368'>ZMS-2368</a>] -         abweichende ZMS Dauer je Standort berücksichtigen</li>
</ul>

<h2> Release Muc-8 <small>(12.04.2024)</small></h2>

<h3>        Aufgabe</h3>
<ul>
	<li>[<a href='https://jira.muenchen.de/browse/ZMS-1568'>ZMS-1568</a>] -         DLDB Mapper - Backup von importierten Dateien</li>
</ul>
<h3>        Bug</h3>
<ul>
	<li>[<a href='https://jira.muenchen.de/browse/ZMS-1767'>ZMS-1767</a>] -         Satzzeichen, Punkt fehlt und &quot;sie&quot; ist klein geschrieben</li>
	<li>[<a href='https://jira.muenchen.de/browse/ZMS-1951'>ZMS-1951</a>] -         Datenanonymisierung funktioniert im buergerarchiv nicht mehr - Bug</li>
	<li>[<a href='https://jira.muenchen.de/browse/ZMS-1955'>ZMS-1955</a>] -         Checkbox zu &quot;Datenschutzhinweise&quot; beim umbuchen mit Funktion</li>
	<li>[<a href='https://jira.muenchen.de/browse/ZMS-1956'>ZMS-1956</a>] -         Termin vorgemerkt - Infotext - Bezeichnung &quot;Sofort&quot; ändern</li>
	<li>[<a href='https://jira.muenchen.de/browse/ZMS-1959'>ZMS-1959</a>] -         Fehlender Hinweis bei Sprachausgabe zur max. Länge/Anzahl der Zeichen in Feldern bei Terminbuchung</li>
	<li>[<a href='https://jira.muenchen.de/browse/ZMS-1960'>ZMS-1960</a>] -         Fehlender Hinweis bei Sprachausgabe zu den Pflichtfeldern bei der Terminbuchung und Cursorfokus zum Hinweistext</li>
	<li>[<a href='https://jira.muenchen.de/browse/ZMS-2190'>ZMS-2190</a>] -         Fehler bei Kundensuche ohne Standortauswahl</li>
	<li>[<a href='https://jira.muenchen.de/browse/ZMS-2193'>ZMS-2193</a>] -         Button &quot;Auswahl bestätigen&quot; als erste mögliche Auswahl (Reihenfolge)</li>
	<li>[<a href='https://jira.muenchen.de/browse/ZMS-2194'>ZMS-2194</a>] -         Cursor fokus ist in der Tresenansicht nicht Benutzerfreundlich gesetzt</li>
	<li>[<a href='https://jira.muenchen.de/browse/ZMS-2195'>ZMS-2195</a>] -         Bei Popups von Fehlermeldungen und Hinweisen ist der Cursor Fokus nicht automatisch gesetzt</li>
	<li>[<a href='https://jira.muenchen.de/browse/ZMS-2196'>ZMS-2196</a>] -         Nach der Kundensuche liegt der Cursor Fokus nicht auf die Überschrift der Suchergebnisse gesetzt</li>
	<li>[<a href='https://jira.muenchen.de/browse/ZMS-2204'>ZMS-2204</a>] -         URL für Aufrufanlage ist responsive</li>
	<li>[<a href='https://jira.muenchen.de/browse/ZMS-2242'>ZMS-2242</a>] -         Fehlermeldung in ZMS-Admin bei maxAnzTermineProMail-Konfiguration für Standort</li>
</ul>
<h3>        Story</h3>
<ul>
	<li>[<a href='https://jira.muenchen.de/browse/ZMS-1784'>ZMS-1784</a>] -         Beschränkung der Buchung auf eine Mailadresse</li>
	<li>[<a href='https://jira.muenchen.de/browse/ZMS-1835'>ZMS-1835</a>] -         Whitelist für E-Mail-Adressen bei der Terminbuchung</li>
	<li>[<a href='https://jira.muenchen.de/browse/ZMS-1958'>ZMS-1958</a>] -         Erweiterung Tresenarbeitsplatz / Information um &quot;Anzahl Vorgänge in Arbeit&quot;</li>
	<li>[<a href='https://jira.muenchen.de/browse/ZMS-1967'>ZMS-1967</a>] -         Anpassung Öffnungszeiten-Übersicht</li>
	<li>[<a href='https://jira.muenchen.de/browse/ZMS-1974'>ZMS-1974</a>] -         Wunschbuttons eKiosk Layout</li>
	<li>[<a href='https://jira.muenchen.de/browse/ZMS-2133'>ZMS-2133</a>] -         Erweiterung der möglichen Zeichen im Freitextfeld bei der Terminbuchung</li>
</ul>

<h2> Release Muc-7 <small>(23.02.2024)</small></h2>

<h3>Bug</h3>
<ul>
	<li>[<a href='https://jira.muenchen.de/browse/ZMS-1268'>ZMS-1268</a>] -         Cursor Fokus auf Anzahl der DL wird im Screenreader als &quot;Überschrift - Ebene - 3 - 1&quot; ausgegeben</li>
	<li>[<a href='https://jira.muenchen.de/browse/ZMS-1270'>ZMS-1270</a>] -         Englische Bezeichnung der Kalenderschalter in der Kalenderview [previous month Schalter] &amp; [next month Schalter]</li>
	<li>[<a href='https://jira.muenchen.de/browse/ZMS-1271'>ZMS-1271</a>] -         Bezeichnung/Sprachausgabe der Tage in Kalenderview verständlich wiedergeben</li>
	<li>[<a href='https://jira.muenchen.de/browse/ZMS-1313'>ZMS-1313</a>] -         Zeitblockelement enthält keine Überschrift</li>
	<li>[<a href='https://jira.muenchen.de/browse/ZMS-1867'>ZMS-1867</a>] -         Fehlendes Komma nach Tagesbezeichnung</li>
	<li>[<a href='https://jira.muenchen.de/browse/ZMS-1868'>ZMS-1868</a>] -         Terminerinnerungsmail: Punkt fehlt und Termin absagen sollte in der neuen Zeile sein</li>
	<li>[<a href='https://jira.muenchen.de/browse/ZMS-1886'>ZMS-1886</a>] -         HTTP Error 404 nach Aufruf des Aktivierungslinks (Java-Update)</li>
	<li>[<a href='https://jira.muenchen.de/browse/ZMS-1895'>ZMS-1895</a>] -         Double Capregistry Url in Imagestream Buergerfrontend CI/CD</li>
	<li>[<a href='https://jira.muenchen.de/browse/ZMS-1908'>ZMS-1908</a>] -         Bürgerfrontend: Anspringen von weiteren Elementen (Zwischenschritte) inkl. Sprachausgabe nicht möglich</li>
	<li>[<a href='https://jira.muenchen.de/browse/ZMS-1935'>ZMS-1935</a>] -         keine Aktivierung bei Ticketprinter</li>
	<li>[<a href='https://jira.muenchen.de/browse/ZMS-1936'>ZMS-1936</a>] -         Durchschnittl. Bearbeitungszeit fehlt in der Dienstleistungsstatistik</li>
	<li>[<a href='https://jira.muenchen.de/browse/ZMS-1937'>ZMS-1937</a>] -         Warteschlange Ansicht fehlerhaft - Einträge unter &quot;Wartezeit&quot; sind verschoben</li>
	<li>[<a href='https://jira.muenchen.de/browse/ZMS-1971'>ZMS-1971</a>] -         slotTimeInMinutes wird falsch übergeben</li>
</ul>
<h3>        Aufgabe</h3>
<ul>
	<li>[<a href='https://jira.muenchen.de/browse/ZMS-632'>ZMS-632</a>] -         Designanpassung: Kioskterminals</li>
	<li>[<a href='https://jira.muenchen.de/browse/ZMS-1379'>ZMS-1379</a>] -          zmscalldisplay Docker Image auf PHP 8.0 heben</li>
	<li>[<a href='https://jira.muenchen.de/browse/ZMS-1574'>ZMS-1574</a>] -         eKiosk mit ZMS</li>
	<li>[<a href='https://jira.muenchen.de/browse/ZMS-1916'>ZMS-1916</a>] -         München Customizations in das Monorepo überführen</li>
	<li>[<a href='https://jira.muenchen.de/browse/ZMS-1975'>ZMS-1975</a>] -         Openshift CronJob Anpassungen gegen das Hängen</li>
</ul>
<h3>        Story</h3>
<ul>
	<li>[<a href='https://jira.muenchen.de/browse/ZMS-815'>ZMS-815</a>] -         Bei der Umbuchung eines Termins wird die vorherige ausgewählte Behörde nicht automatisch ausgewählt</li>
	<li>[<a href='https://jira.muenchen.de/browse/ZMS-876'>ZMS-876</a>] -         Nur intern buchbare Dienstleistungen nicht in Bürgerfrontend buchbar</li>
	<li>[<a href='https://jira.muenchen.de/browse/ZMS-1772'>ZMS-1772</a>] -         Bürgerfrontend &quot;Erfolgreiche&quot; Infobox</li>
	<li>[<a href='https://jira.muenchen.de/browse/ZMS-1794'>ZMS-1794</a>] -         Anpassung Slot-Darstellung</li>
	<li>[<a href='https://jira.muenchen.de/browse/ZMS-1795'>ZMS-1795</a>] -         Kunde nach Aufruf nicht erschienen - Button umbenennen</li>
	<li>[<a href='https://jira.muenchen.de/browse/ZMS-1808'>ZMS-1808</a>] -         Termin-Weiterleitung</li>
	<li>[<a href='https://jira.muenchen.de/browse/ZMS-1882'>ZMS-1882</a>] -         Erweiterung der Benachrichtigungen an Standortadmin</li>
</ul>

<h2> Release Muc-6 <small>(12.01.2024)</small></h2>

<h3>        Aufgabe</h3>
<ul>
	<li>[<a href='https://jira.muenchen.de/browse/ZMS-1579'>ZMS-1579</a>] -         Implementierung Testfall - Terminverschiebung über den Servicetelefon</li>
	<li>[<a href='https://jira.muenchen.de/browse/ZMS-1693'>ZMS-1693</a>] -         Roave SecurityAdvisories wieder einbauen</li>
</ul>
<h3>        Bug</h3>
<ul>
	<li>[<a href='https://jira.muenchen.de/browse/ZMS-1638'>ZMS-1638</a>] -         ZMS Statistic_Überschrift: Auswertung zweimal ausgeschrieben</li>
	<li>[<a href='https://jira.muenchen.de/browse/ZMS-1645'>ZMS-1645</a>] -         Diverse Rechtschreibfehler im Download</li>
	<li>[<a href='https://jira.muenchen.de/browse/ZMS-1702'>ZMS-1702</a>] -         Abnahmetest_Wartestatistik Tagesdurchschnitt wird nicht angezeigt</li>
	<li>[<a href='https://jira.muenchen.de/browse/ZMS-1710'>ZMS-1710</a>] -         Öffnungszeiten werden nicht gespeichert - calculateSlotsLastRun CronJob hängt</li>
	<li>[<a href='https://jira.muenchen.de/browse/ZMS-1727'>ZMS-1727</a>] -         Öffnungszeiten konfigurieren nicht durchführbar und führt zu Fehlermeldung</li>
	<li>[<a href='https://jira.muenchen.de/browse/ZMS-1728'>ZMS-1728</a>] -         Öffnungszeiten löschen nicht möglich</li>
	<li>[<a href='https://jira.muenchen.de/browse/ZMS-1743'>ZMS-1743</a>] -         Bearbeitungszeiten von Terminkunden fehlen in der Dienstleistungsstatistik</li>
	<li>[<a href='https://jira.muenchen.de/browse/ZMS-1846'>ZMS-1846</a>] -         Hotfix Error (Factory +) bei Aufruf des Wochenkalenders</li>
</ul>
a
<h3>        Story</h3>
<ul>
	<li>[<a href='https://jira.muenchen.de/browse/ZMS-1223'>ZMS-1223</a>] -         Mehrere Logins mit der selben Platznummer</li>
	<li>[<a href='https://jira.muenchen.de/browse/ZMS-1498'>ZMS-1498</a>] -         Wiederaufruf erst nach 5 Minuten möglich</li>
	<li>[<a href='https://jira.muenchen.de/browse/ZMS-1629'>ZMS-1629</a>] -         Default Aufrufanzeige anpassen </li>
	<li>[<a href='https://jira.muenchen.de/browse/ZMS-1631'>ZMS-1631</a>] -         Hinweistext - Lauftext durch stationären Text ersetzen</li>
	<li>[<a href='https://jira.muenchen.de/browse/ZMS-1632'>ZMS-1632</a>] -         Aufrufanzeige: Blinken eines neuen Termins</li>
	<li>[<a href='https://jira.muenchen.de/browse/ZMS-1633'>ZMS-1633</a>] -         Aufrufanzeigen: Überlaufbildschirme</li>
	<li>[<a href='https://jira.muenchen.de/browse/ZMS-1711'>ZMS-1711</a>] -         email template für Terminbestätigung passt nicht in allen Konstellationen</li>
	<li>[<a href='https://jira.muenchen.de/browse/ZMS-1804'>ZMS-1804</a>] -         Hinweistext - max. Größe und Refresh nach Speichern</li>
</ul>

<h2> Release Muc-5 <small>(01.12.2023)</small></h2>

<h3>        Aufgabe</h3>
<ul>
	<li>[<a href='https://jira.muenchen.de/browse/ZMS-1594'>ZMS-1594</a>] -         Automatische Datenbankmigrierung bei Deployment</li>
</ul>
<h3>        Bug</h3>
<ul>
	<li>[<a href='https://jira.muenchen.de/browse/ZMS-1591'>ZMS-1591</a>] -         Keycloak Passwörter nicht loggen</li>
	<li>[<a href='https://jira.muenchen.de/browse/ZMS-1603'>ZMS-1603</a>] -         Statistik - Gesamtauswertung für Termin- und Spontankunden wird nicht berechnet/angezeigt</li>
	<li>[<a href='https://jira.muenchen.de/browse/ZMS-1643'>ZMS-1643</a>] -         xlsx- Export  Bearbeitungsdauer fehlt in der Dienstleistungsstatistik </li>
	<li>[<a href='https://jira.muenchen.de/browse/ZMS-1664'>ZMS-1664</a>] -         Keine Verfügbaren Termine - Fehlermeldung erscheint nicht</li>
	<li>[<a href='https://jira.muenchen.de/browse/ZMS-1666'>ZMS-1666</a>] -         Keine Verfügbaren Termine - Fehlermeldung erscheint bei Standortwechsel nicht</li>
</ul>
<h3>        Story</h3>
<ul>
	<li>[<a href='https://jira.muenchen.de/browse/ZMS-817'>ZMS-817</a>] -         Bürgeransicht mehrere Dienstleistungen angeblich buchbar</li>
	<li>[<a href='https://jira.muenchen.de/browse/ZMS-1081'>ZMS-1081</a>] -         Bürgerfrontend Button Design</li>
	<li>[<a href='https://jira.muenchen.de/browse/ZMS-1087'>ZMS-1087</a>] -         Bürgerfrontend: Info- &amp; Warning-Boxen</li>
	<li>[<a href='https://jira.muenchen.de/browse/ZMS-1375'>ZMS-1375</a>] -         Standortbezeichnung</li>
	<li>[<a href='https://jira.muenchen.de/browse/ZMS-1488'>ZMS-1488</a>] -         Abgeschlossene Termine in Sachbearbeiteransicht anzeigen</li>
	<li>[<a href='https://jira.muenchen.de/browse/ZMS-1565'>ZMS-1565</a>] -         Bürgerfrontend: Max. Slotanzahl überschritten - Hinweis</li>
	<li>[<a href='https://jira.muenchen.de/browse/ZMS-1626'>ZMS-1626</a>] -         Bei interner Anpassung der Anmerkung keine Terminbestätigung versenden</li>
	<li>[<a href='https://jira.muenchen.de/browse/ZMS-1628'>ZMS-1628</a>] -         E-Mailadresse bei Benutzerverwaltung zum optionalen Feld machen</li>
	<li>[<a href='https://jira.muenchen.de/browse/ZMS-1681'>ZMS-1681</a>] -         Mobile Skalierbarkeit - Buttons &amp; Schriftgröße</li>
	<li>[<a href='https://jira.muenchen.de/browse/ZMS-1696'>ZMS-1696</a>] -         Eintragung von Vorname bei der Terminbuchung</li>
</ul>

<h2> Release Muc-4 <small>(10.11.2023)</small></h2>

<h3>        Aufgabe</h3>
<ul>
	<li>[<a href='https://jira.muenchen.de/browse/ZMS-1379'>ZMS-1379</a>] -          zmscalldisplay Docker Image auf PHP 8.0 heben</li>
	<li>[<a href='https://jira.muenchen.de/browse/ZMS-1388'>ZMS-1388</a>] -         Review: Löschung ungeänderter München Customizations</li>
	<li>[<a href='https://jira.muenchen.de/browse/ZMS-1495'>ZMS-1495</a>] -         zmscalldisplay Unit Test fixen</li>
</ul>
<h3>        Bug</h3>
<ul>
	<li>[<a href='https://jira.muenchen.de/browse/ZMS-1513'>ZMS-1513</a>] -         Mehrmaliges wechseln des zms-calldisplay Layouts führt dazu dass eine andere URL herangezogen wird und zu http-error 500</li>
</ul>
<h3>        Story</h3>
<ul>
	<li>[<a href='https://jira.muenchen.de/browse/ZMS-474'>ZMS-474</a>] -         Statistik: Bearbeitungszeit von Terminkunden</li>
	<li>[<a href='https://jira.muenchen.de/browse/ZMS-1082'>ZMS-1082</a>] -         Bürgerfrontend Font Anpassung</li>
	<li>[<a href='https://jira.muenchen.de/browse/ZMS-1404'>ZMS-1404</a>] -         ZMS Admin Anmeldemaske Text anpassen </li>
	<li>[<a href='https://jira.muenchen.de/browse/ZMS-1483'>ZMS-1483</a>] -         Absagecode aus der Printversion + Suchergebnissen entfernen</li>
	<li>[<a href='https://jira.muenchen.de/browse/ZMS-1499'>ZMS-1499</a>] -         Kundeninformation direkt nach Aufruf anzeigen</li>
	<li>[<a href='https://jira.muenchen.de/browse/ZMS-1566'>ZMS-1566</a>] -         Aufrufhinweis bei 0 wartenden Kunden</li>
</ul>

<h2> Release Muc-3 <small>(27.10.2023)</small></h2>


<h3>        Bug</h3>
<ul>
	<li>[<a href='https://jira.muenchen.de/browse/ZMS-1476'>ZMS-1476</a>] -         Nicht aktivierte Termine werden über CRON Job nur einzeln gelöscht</li>
	<li>[<a href='https://jira.muenchen.de/browse/ZMS-1479'>ZMS-1479</a>] -         Ohne Tresenangabe wird in den Terminzeiten eine Fehlermeldung angezeigt</li>
	<li>[<a href='https://jira.muenchen.de/browse/ZMS-1494'>ZMS-1494</a>] -         Terminübersicht zeigt bei Buchung mehrere DL nicht alle an</li>
	<li>[<a href='https://jira.muenchen.de/browse/ZMS-1564'>ZMS-1564</a>] -         DEV/ TEST- Aufruf kann nicht abgeschlossen werden</li>
	<li>[<a href='https://jira.muenchen.de/browse/ZMS-1573'>ZMS-1573</a>] -         zmsapi Route löschen</li>
	<li>[<a href='https://jira.muenchen.de/browse/ZMS-1614'>ZMS-1614</a>] -         TEST/DEMO - Kein Versand von Emails</li>
</ul>
<h3>        Story</h3>
<ul>
	<li>[<a href='https://jira.muenchen.de/browse/ZMS-1389'>ZMS-1389</a>] -         Wartezeiten der Terminkunden in ZMS Statistik darstellen</li>
	<li>[<a href='https://jira.muenchen.de/browse/ZMS-1408'>ZMS-1408</a>] -         Kundenaufruf bei Kalendertagen in der Zukunft sollte nicht möglich sein [CR]</li>
	<li>[<a href='https://jira.muenchen.de/browse/ZMS-1441'>ZMS-1441</a>] -         Zusätzliches Feld bei Kontaktdaten (Telefonnummer)</li>
	<li>[<a href='https://jira.muenchen.de/browse/ZMS-1493'>ZMS-1493</a>] -         Mobile Ansicht Bürgerfrontend Button Schritt 3/3</li>
</ul>

<h2> Release Muc-2 <small>(05.10.2023)</small></h2>

<h3>        Aufgabe</h3>
<ul>
	<li>[<a href='https://jira.muenchen.de/browse/ZMS-1378'>ZMS-1378</a>] -         zmsmessaging Docker Image auf PHP 8.0 heben</li>
	<li>[<a href='https://jira.muenchen.de/browse/ZMS-1387'>ZMS-1387</a>] -         PHP Dateien München Customizations in die OpenSource Repos übernehmen</li>
	<li>[<a href='https://jira.muenchen.de/browse/ZMS-1392'>ZMS-1392</a>] -         Kombinierte DLs für Gewerbeamt Verkehr anpassen</li>
	<li>[<a href='https://jira.muenchen.de/browse/ZMS-1407'>ZMS-1407</a>] -         Abgleich der Umgebungen: maximale Slotanzahl</li>
	<li>[<a href='https://jira.muenchen.de/browse/ZMS-1474'>ZMS-1474</a>] -         Sticky Footer ZMS Admin</li>
</ul>
<h3>        Bug</h3>
<ul>
	<li>[<a href='https://jira.muenchen.de/browse/ZMS-1341'>ZMS-1341</a>] -         Mobile Testen_Mobiles Gerät_Beschriftung des Buttons wird abgeschnitten</li>
	<li>[<a href='https://jira.muenchen.de/browse/ZMS-1355'>ZMS-1355</a>] -         Hinweistext Dienstleistung buchen anpassen</li>
</ul>

<h2> Release Muc-1 <small>(13.09.2023)</small></h2>

<h3>        Aufgabe</h3>
<ul>
	<li>[<a href='https://jira.muenchen.de/browse/ZMS-1172'>ZMS-1172</a>] -         Login Logout Log</li>
	<li>[<a href='https://jira.muenchen.de/browse/ZMS-1173'>ZMS-1173</a>] -         Maximale Sessiondauer von 8 Std.</li>
	<li>[<a href='https://jira.muenchen.de/browse/ZMS-1219'>ZMS-1219</a>] -         Doppelte Request in Bürgeransicht ausbauen</li>
	<li>[<a href='https://jira.muenchen.de/browse/ZMS-1263'>ZMS-1263</a>] -         Anpassungen Primärschlüssel der Tabelle `clusterzuordnung` für das Galera Cluster</li>
	<li>[<a href='https://jira.muenchen.de/browse/ZMS-1386'>ZMS-1386</a>] -         zmsadmin Link zu OpenSource Projekt entfernen</li>
</ul>
<h3>        Bug</h3>
<ul>
	<li>[<a href='https://jira.muenchen.de/browse/ZMS-1013'>ZMS-1013</a>] -         Keine Fehlermeldung trotz fehlender Access_ZMS Rolle in Keycloak</li>
	<li>[<a href='https://jira.muenchen.de/browse/ZMS-1286'>ZMS-1286</a>] -         ZMS-Admin: Falsche Versionsnummer wird angezeigt</li>
	<li>[<a href='https://jira.muenchen.de/browse/ZMS-1351'>ZMS-1351</a>] -         ZMS-Admin: Aufruf des Wochenkalenders bei Wochen ohne Öffnungszeiten</li>
	<li>[<a href='https://jira.muenchen.de/browse/ZMS-1357'>ZMS-1357</a>] -         Login Fehlerbehandlung auf ZMS-Admin funktioniert nicht</li>
	<li>[<a href='https://jira.muenchen.de/browse/ZMS-1383'>ZMS-1383</a>] -         Passwort sollte bei Keycloak-Accounts nicht änderbar sein, nur bei Nicht-Keycloak-Accounts</li>
	<li>[<a href='https://jira.muenchen.de/browse/ZMS-1402'>ZMS-1402</a>] -         404 Fehlermeldung nach Klicken auf das Logo</li>
</ul>
<h3>        Story</h3>
<ul>
	<li>[<a href='https://jira.muenchen.de/browse/ZMS-1287'>ZMS-1287</a>] -         Statistik Modul Login - Keycloak</li>
	<li>[<a href='https://jira.muenchen.de/browse/ZMS-1390'>ZMS-1390</a>] -         Kundenstatistik aufräumen/ No Shows für Termin und Spontankunden anzeigen</li>
	<li>[<a href='https://jira.muenchen.de/browse/ZMS-1391'>ZMS-1391</a>] -         Fehlerhandling ZMS Admin &quot;hier melden&quot;</li>
	<li>[<a href='https://jira.muenchen.de/browse/ZMS-1403'>ZMS-1403</a>] -         &quot;Aktuelle Informationen&quot; aus dem ZMS Admin ausblenden</li>
</ul>

<h2> 2.24.12-110-gf1731c4</h2>

<h3>        Bug</h3>
<ul>
	<li>[<a href='https://jira.muenchen.de/browse/ZMS-925'>ZMS-925</a>] -         Link zum Dienstleistungsfinder in Link von Terminbestätigung/Erinnerung nicht vorhanden</li>
</ul>

<h2> 2.24.12-97-6fff38e</h2>

<h3>        Bug</h3>
<ul>
	<li>[<a href='https://jira.muenchen.de/browse/ZMS-890'>ZMS-890</a>] -         Bürgerfrontend: Buchung zu einer Uhrzeit, die fälschlicherweise angezeigt wird, ist möglich</li>
	<li>[<a href='https://jira.muenchen.de/browse/ZMS-918'>ZMS-918</a>] -         Nach Abschluss einer DL-Buchung im Frontend werden keine DL mehr angezeigt</li>
</ul>

<h2> 2.24.12-97-f34b31c</h2>

<h3>        Bug</h3>
<ul>
	<li>[<a href='https://jira.muenchen.de/browse/ZMS-879'>ZMS-879</a>] -         Bürgeransicht - Termine sortierung</li>
</ul>

<h2> 2.24.12-97-g85a1254</h2>

<h3>        Bug</h3>
<ul>
	<li>[<a href='https://jira.muenchen.de/browse/ZMS-786'>ZMS-786</a>] -         Terminnummer wird nicht angezeigt</li>
</ul>

<h2> 2.24.12-87-g85a1254</h2>

<h3>        Bug</h3>
<ul>
	<li>[<a href='https://jira.muenchen.de/browse/ZMS-831'>ZMS-831</a>] -         Fehlermeldung &quot;zum Login&quot; obwohl schon eingeloggt</li>
</ul>

<h2> 2.24.10-75-g1d2fe40</h2>

<h3>        Bug</h3>
<ul>
	<li>[<a href='https://jira.muenchen.de/browse/ZMS-970'>ZMS-970</a>] -         Nach Terminabsage erscheint weiterhin der Hinweistext &quot;Ihr Termin wurde bestätigt&quot;</li>
	<li>[<a href='https://jira.muenchen.de/browse/ZMS-1204'>ZMS-1204</a>] -         Terminerinnerungsmail - Datumsanzeige in Englischer Sprache, inkl. kleinere Korrekturen</li>
</ul>

<h2> 2.24.10-75-9a5e990</h2>

<h3>        Aufgabe</h3>
<ul>
	<li>[<a href='https://jira.muenchen.de/browse/ZMS-928'>ZMS-928</a>] -         [Sammelticket] Fehlgeschlagene Unit Tests beheben</li>
</ul>
<h3>        Bug</h3>
<ul>
	<li>[<a href='https://jira.muenchen.de/browse/ZMS-892'>ZMS-892</a>] -         zmsapi Unittest WorkstationLoginTest::testAlreadyLoggedIn schlägt fehl</li>
	<li>[<a href='https://jira.muenchen.de/browse/ZMS-893'>ZMS-893</a>] -         zmsadmin Unittest DepartmentTest::testSave schlägt fehl</li>
	<li>[<a href='https://jira.muenchen.de/browse/ZMS-894'>ZMS-894</a>] -         zmsadmin Unittest ScopeAvailabilityDayConflictsTest::testRendering schlägt fehl</li>
	<li>[<a href='https://jira.muenchen.de/browse/ZMS-895'>ZMS-895</a>] -         zmsadmin Unittest ScopeAvailabilityDayTest::testRendering schlägt fehl</li>
	<li>[<a href='https://jira.muenchen.de/browse/ZMS-896'>ZMS-896</a>] -         zmsadmin Unittest ScopeAvailabilityDayTest::testNotFound schlägt fehl</li>
	<li>[<a href='https://jira.muenchen.de/browse/ZMS-897'>ZMS-897</a>] -         zmsadmin Unittest ScopeAvailabilityDayTest::testEmptyProcessList schlägt fehl</li>
	<li>[<a href='https://jira.muenchen.de/browse/ZMS-899'>ZMS-899</a>] -         zmsadmin Unittest UseraccountAddTest::testValidation schlägt fehl</li>
</ul>

 <h2>2.24.10-50-gdd5d0aa</h2>

<h3>        Bug</h3>
<ul>
	<li>[<a href='https://jira.muenchen.de/browse/ZMS-762'>ZMS-762</a>] -         Bürgeransicht:  Auf der Seite nach der Terminauswahl fehlt die Standortangabe</li>
	<li>[<a href='https://jira.muenchen.de/browse/ZMS-763'>ZMS-763</a>] -         ZMS-test, Standort Ruppertstraße II/2 (WB03) Nochmaliges Ändern des ausgewählten Termins nicht möglich</li>
</ul>

<h2>INT_MS_30.09_Release-3 <small>(20.09.2022)</small></h2>

<h3>        Aufgabe</h3>
<ul>
	<li>[<a href='https://jira.muenchen.de/browse/ZMS-492'>ZMS-492</a>] -         Anbindung der SADB (Dienstleistungsfinder)</li>
</ul>
<h3>        Initiative</h3>
<ul>
	<li>[<a href='https://jira.muenchen.de/browse/ZMS-491'>ZMS-491</a>] -         Meilenstein 30.09.2022: Auslieferung Testsystem SOZ</li>
</ul>
<h3>        Story</h3>
<ul>
	<li>[<a href='https://jira.muenchen.de/browse/ZMS-141'>ZMS-141</a>] -         Keycloak mit LDAP verknüpfen TEST/ DEMO</li>
	<li>[<a href='https://jira.muenchen.de/browse/ZMS-197'>ZMS-197</a>] -         Hinterlegte Daten durch Anmeldung mit LDAP</li>
	<li>[<a href='https://jira.muenchen.de/browse/ZMS-198'>ZMS-198</a>] -         Anpassung Namensänderungen</li>
</ul>

<h2>INT_MS_30.09_Release-1 <small>(25.07.2022)</small></h2>

<h3>        Aufgabe</h3>
<ul>
	<li>[<a href='https://jira.muenchen.de/browse/ZMS-345'>ZMS-345</a>] -         Prüfung der Outlook Anbindung an TV (primär für SOZ)</li>
</ul>
<h3>        Sub-task</h3>
<ul>
	<li>[<a href='https://jira.muenchen.de/browse/ZMS-346'>ZMS-346</a>] -         Prüfung der Outlook-API (technisch)</li>
	<li>[<a href='https://jira.muenchen.de/browse/ZMS-347'>ZMS-347</a>] -         Beschreibung der fachlichen Use Cases (SOZ)</li>
	<li>[<a href='https://jira.muenchen.de/browse/ZMS-348'>ZMS-348</a>] -         Beschreibung der fachlichen Use Cases für Personalrat und Datenschutz</li>
</ul>

<hr />

    <div class="last-changelog-items">
        {#
        <div class="changelog-item">
            <h3>Version in Vorbereitung <small>(?)</small></h3>
            <ul>
                <li><strong>Kategorie:</strong> <span>Text</span></li>
            </ul>
        </div>
        #}
         <div class="changelog-item">
            <h2>Version 2.25.00 <small>(15. März 2023)</small></h2>
            <ul>
                <li><strong>Sicherheit</strong> <span>Aktualisierung zentraler Bibliotheken für Stabilität und Sicherheit des Systems durchgeführt.</span></li>
                <li><strong>Sachbearbeiter</strong> <span>Die Öffnungszeiten werden nur noch aktualisiert, wenn es Änderungen an diesen gab</span></li>
                <li><strong>Sachbearbeiter</strong> <span>Verbesserte Validierung von Öffnungszeiten, Filterung von Konflikten und Fehlern nach Öffnungszeiten-ID</span></li>
                <li><strong>Sachbearbeiter</strong> <span>Verbesserte Handhabung von Öffnungszeiten für Spontankunden - Speichern von Einzelterminen bei Bedarf anstatt ausschließlich Speichern der kompletten Liste</span></li>
                <li><strong>Sachbearbeiter</strong> <span>Download aller Bürgertermine des Tages auf der Standortauswahlseite korrigiert.</span></li>                
            </ul>
        </div>

        <div class="changelog-item">
            <h2>Version 2.24.14 <small>(15. Februar 2023)</small></h2>
            <ul>
                <li><strong>Sicherheit</strong> <span>Aktualisierung zentraler Bibliotheken für Stabilität und Sicherheit des Systems durchgeführt.</span></li>
                <li><strong>Barrierefreiheit</strong> <span>Weitere W3C Warnungen wurden korrigiert</span></li>
                <li><strong>Administration</strong> <span>Beim Sichern von Öffnungszeitänderungen wird nun eine Ladeanzeige über die Seite gelegt bis die Bearbeitung im Hintergrund abgeschlossen ist</span></li>
                <li><strong>Administration</strong> <span>Wartelisten und Abholerlisten werden nun als CSV-Export angeboten um eine bessere Kompatibilität herzustellen, Umlautprobleme wurden behoben</span></li>
            </ul>
        </div>

        <div class="changelog-item">
            <h2>Version 2.24.13 <small>(14. Dezember 2022)</small></h2>
            <ul>
                <li><strong>Administration</strong> <span>Konfiguration der Webcalldisplay-Url in der Konfiguration mit den zugehörigen Templates.</span></li>
                <li><strong>Sachbearbeiter</strong> <span>Kalenderlegende ist nun unter dem Kalender auf der Sachbearbeiter- und Tresenansicht verfügbar</span></li>
                <li><strong>Barrierefreiheit</strong> <span>Diverse Barrierefreiheitsanpassungen und W3C Warnungen wurden korrigiert sowie Verbesserung der Tastaturbedienung</span></li>
                <li><strong>Administration</strong> <span>Bearbeiten/Auswahl von Öffnungszeiten wurde verbessert und die Anzahl der Konfliktberechnungen reduziert um die Leistung zu verbessern</span></li>
                <li><strong>Sachbearbeiter</strong> <span>Das Aktualisieren der Warteschlange über den Button am Ende der Liste ist nun auch per Tastaturbedienung möglich</span></li>
                <li><strong>Sachbearbeiter</strong> <span>Anzeige einer Fehlermeldung als Dialog, wenn ein Termin mit der aktuellen Auswahl/Änderung nicht mehr möglich ist</span></li>
                <li><strong>Sachbearbeiter</strong> <span>Lightbox-Dialoge für Informations- und Erfolgsmeldungen überarbeitet</span></li>
            </ul>
        </div>

        <div class="changelog-item">
            <h2>Version 2.24.12 <small>(16. November 2022)</small></h2>
            <ul>
                <li><strong>Barrierefreiheit</strong> <span>Verbesserte akustische Aktionsbeschreibungen für Blinde Nutzer; die Darstellung der Öffnungszeiten wurde verbessert und barrierefreier gestaltet; Verbesserungen für Screenreader</span></li>
            </ul>
        </div>

        <div class="changelog-item">
            <h2>Version 2.24.11 <small>(19. Oktober 2022)</small></h2>
            <ul>
                <li><strong>Barrierefreiheit</strong> <span>Überschriften hinzugefügt, Kontrastdarstellung überarbeitet, Fehlermeldungen klar als Fehler gekennzeichnet; Auflistungen werden nun korrekt als Listen ausgegeben; die Kalender- und Uhrzeitenauswahlboxen haben nun ein zusätzliches klickbares Symbol zum Öffnen der Auswahl</span></li>
                <li><strong>Administration</strong> <span>Tabellenaktionen werden nun auch oberhalb der Tabellen platziert, um langes Scrollen zu vermeiden</span></li>
                <li><strong>Administration</strong> <span>Überarbeitung der Darstellung von E-Mail-Vorlagen in der Systemkonfiguration</span></li>
            </ul>
        </div>

        <div class="changelog-item">
            <h2>Version 2.24.10 <small>(21. September 2022)</small></h2>
            <ul>
                <li><strong>Nutzerlogin</strong> <span>OpenID-Connect (OIDC) als zusätzliche Login-Lösung getestet</span></li>
                <li><strong>Administration</strong> <span>Ansicht der Mailing-Konfigurationen wurde um die Terminübersichten erweitert</span></li>
                <li><strong>Sachbearbeiter</strong> <span>Die Berechnung der Benachrichtigungsvorlaufzeit beim Termin erstellen wurde korrigiert</span></li>
            </ul>
        </div>

        {% if not shortchangelog %}

        <div class="changelog-item">
            <h2>Version 2.24.09 <small>(17. August 2022)</small></h2>
            <ul>
                <li><strong>Administration</strong> <span>Links und Feiertage, die einer Behörde zugeordnet werden können, werden nun auf ihre Existenz geprüft.</span></li>
                <li><strong>Sachbearbeiter</strong> <span>Für Spontankunden wird jetzt eine separate SMS-Nachricht gesendet, wenn deren Vorgänge abgesagt bzw. gelöscht werden</span></li>
                <li><strong>Administration</strong> <span>Konfigurationsvariablen können nun vom Superuser geändert werden</span></li>
            </ul>
        </div>

        <div class="changelog-item">
            <h2>Version 2.24.08 <small>(15. Juni 2022)</small></h2>
            <ul>
                <li><strong>Sicherheit</strong> <span>Aktualisierung zentraler Bibliotheken für Stabilität und Sicherheit des Systems durchgeführt.</span></li>
                <li><strong>Warteschlange</strong> <span>Die Berechnung der Wartezeit von Spontankunden wurde korrigiert</span></li>
                <li><strong>Performance</strong> <span>Die Erstellung und Berechnung der Erinnungsmails an Terminkunden wurde verbessert und beschleunigt</span></li>
            </ul>
        </div>

        <div class="changelog-item">
            <h2>Version 2.24.07 <small>(18. Mai 2022)</small></h2>
            <ul>
                <li><strong>Statistik</strong> <span>Zusätzliche statistische Auswertungen für die Eigentümerebene für Dienstleistungen, SMS-Benachrichtigungen, Wartestatistiken</span></li>
                
            </ul>
        </div>

        <div class="changelog-item">
            <h2>Version 2.24.06 <small>(20. April 2022)</small></h2>
            <ul>
                <li><strong>Sicherheit</strong> <span>Aktualisierung zentraler Bibliotheken für Stabilität und Sicherheit des Systems durchgeführt.</span></li>
                <li><strong>Termin E-Mails</strong> <span>Die ausgewählten Dienstleistungen eines Termins sind in den E-Mailbenachrichtigungen nun als Link hinterlegt</span></li>
            </ul>
        </div>

        <div class="changelog-item">
            <h2>Version 2.24.05 <small>(16. März 2022)</small></h2>
            <ul>
                <li><strong>Öffnungszeiten</strong> <span>Verbesserte und erweiterte Prüfung auf Konflikte beim Anlegen und Ändern von Öffnungszeiten</span></li>
                <li><strong>Sachbearbeiter</strong> <span>SlotCount auch für spontane Kunden anzeigen</span></li>
            </ul>
        </div>

        <div class="changelog-item">
            <h2>Version 2.24.04 <small>(19. Januar 2022)</small></h2>
            <ul>
                <li><strong>Sachbearbeiter</strong> <span>Spontankunden können nun korrekt aufgerufen werden und aufgerufene Vorgänge werden nicht bei Abbruch als aufgerufen gezählt</span></li>
                <li><strong>Abholeransicht</strong> <span>In Abholerlisten mit mehr als 500 Einträgen kann nun navigiert werden um weitere Einträge anzuzeigen. Der Download der Abholerliste ist auf 3000 Einträge beschränkt</span></li>
                <li><strong>Performance</strong> <span>Im Adminbereich wurden die Antwort-Inhalte der API-Abfragen reduziert um eine bessere Leistung zu erreichen</span></li>
                <li><strong>Sachbearbeiter</strong> <span>Dem letzte Termin des Tages können nun auch weitere Slots zugeordnet werden, außerdem werden doppelte Konflikte beim aktualisieren eines Termins nicht mehr angezeigt</span></li>
                <li><strong>Sachbearbeiter</strong> <span>Beim Aktualisieren eines Vorgangs wird nun geprüft ob dem Standort die angegebene Dienstleistung zugeordnet ist.</span></li>
            </ul>
        </div>

        <div class="changelog-item">
            <h2>Version 2.24.03 <small>(15. Dezember 2021)</small></h2>
            <ul>
                <li><strong>Sicherheit</strong> <span>Aktualisierung zentraler Bibliotheken für Stabilität und Sicherheit des Systems durchgeführt.</span></li>
                <li><strong>Tresen</strong> <span>In der Tresenansicht funktioniert nun die Auswahl des Standortes bei ausgewähltem Cluster</span></li>
                <li><strong>Sachbearbeiter</strong> <span>Das Löschen eines Nutzers muss nun bestätigt werden und mehrfache Erfolgsmeldungen sind entfernt</span></li>
                <li><strong>Sachbearbeiter</strong> Beim Löschen eines Vorgangs wird geprüft ob der Vorgang SMS oder Email als Bestätigung empfängt</span></li>
            </ul>
        </div>

        <div class="changelog-item">
            <h2>Version 2.24.02 <small>(17. November 2021)</small></h2>
            <ul>
                <li><strong>Sicherheit</strong> <span>Aktualisierung zentraler Bibliotheken für Stabilität und Sicherheit des Systems durchgeführt.</span></li>
                <li><strong>Abholerverwaltung</strong> <span>Abholer können wieder gelöscht werden.</span></li>
                <li><strong>Öffnungszeiten</strong> <span>Öffnungszeiten können wieder gelöscht werden.</span></li>
                <li><strong>Sachbearbeiter</strong> <span>Bei Änderungen einer Terminzeit oder des Datums wird die Vorgangsnummer beibehalten.</span></li>
                <li><strong>Sachbearbeiter</strong> <span>Die Terminzeiten und Buttons im Terminvereinbarungsformular werden wieder korrekt angezeigt.</span></li>
                <li><strong>Sachbearbeiter</strong> <span>Bei der Änderungen der Terminslots im Terminvereinbarungsdialog werden die Slots nun als Folgetermine gespeichert. Bei einer Überbuchung erhält der Sachbearbeiter eine Meldung, die Buchung wird dennoch durchgeführt.</span></li>
                <li><strong>Sicherheit</strong> <span>Passwortsicherheit wurde angehoben. Alle Passwörter werden beim ersten Login eines Sachbearbeiters automatisch sicherer in der Datenbank gespeichert.</span></li>
            </ul>
        </div>

        <div class="changelog-item">
            <h2>Version 2.23.10 <small>(31. März 2021)</small></h2>
            <ul>
                <li><strong>Sachbearbeiter</strong> <span>Die Checkbox zur E-Mail Bestätigung im Terminformular wird bei Auswahl einer Terminzeit standardmäßig aktiviert und für einen Spontankunden deaktiviert.</span></li>
                <li><strong>Sachbearbeiter</strong> <span>Das Kopieren von Spontankunden wurde korrigiert.</span></li>
                <li><strong>Sachbearbeiter</strong> <span>Das Verschieben von Spontankunden als Termin an einem anderen Tag funktioniert nun korrekt.</span></li>
                <li><strong>Abholerverwaltung</strong> <span>Die Sortierung der Abholerlisten erfolgt nun zuerst nach Ankunftszeit gefolgt von einer Namenssortierung.</span></li>
                <li><strong>Öffnungszeiten</strong> <span>Terminslots werden nun gleichmäßig auf einen Tag verteilt.</span></li>
                <li><strong>Sachbearbeiter</strong> <span>Korrektur und Verbesserung der Auswahl von Standorten bei aktivierter Clusteransicht.</span></li>
            </ul>
        </div>

        <div class="changelog-item">
            <h2>Version 2.23.09 <small>(10. Februar 2021)</small></h2>
            <ul>
                <li><strong>Nutzerrechte</strong> <span>Ein Nutzer kann anderen Nutzern nur noch maximal die Rechte gewähren, welche ihm selbst zugewiesen sind.</span></li>
                <li><strong>Sachbearbeiter</strong> <span>Die falsche Mehrfachauswahl von Checkboxen beim Abschluss eines Vorgangs wurde korrigiert.</span></li>
                <li><strong>Abholerverwaltung</strong> <span>Es ist nun möglich Abholer aus allen Standorten einer Behörde anzuzeigen und die Fehler bei der direkten Eingabe von Nummern in der Tabletansicht wurde behoben.</span></li>
            </ul>
        </div>

        <div class="changelog-item">
            <h2>Version 2.23.08 <small>(09. Dezember 2020)</small></h2>
            <ul>
                <li><strong>Nutzerrechte</strong> <span>Ein Nutzer mit den Rechten "Behörden einrichten" kann jetzt auch eine Behörde im Bezirk anlegen.</span></li>
                <li><strong>Tresen</strong> <span>In der Tresen Infobox werden nun die Terminzeiten auch für Nutzer mit Basisrechten angezeigt</span></li>
                <li><strong>Öffnungszeiten</strong> <span>Öffnungszeiten die in der Vergangenheit liegen können beim Anlegen von Ausnahmen nicht mehr verändert werden.</span></li>
            </ul>
        </div>

        <div class="changelog-item">
            <h2>Version 2.23.07 <small>(11. November 2020)</small></h2>
            <ul>
                <li><strong>Allgemein</strong> <span>In der Navigation und den Metalinks sind nun Mouseover Texte zu sehen und die Mouseover Texte in der Kalenderansicht sind aussagekräftiger mit formatierter Datumsausgabe</span></li>
                <li><strong>Nutzerrechte</strong> <span>Einem Nutzer dem die ausgewählte Behörde nicht zugewiesen ist, darf keinen Standort oder ein Cluster für diese Behörde anlegen. Die Buttons sind deaktiviert und mit einem Mouseover-Text versehen</span></li>
            </ul>
        </div>

        <div class="changelog-item">
            <h2>Version 2.23.06 <small>(28. Oktober 2020)</small></h2>
            <ul>
                <li><strong>E-Mail</strong> <span>Eine Mail zur Kundenbefragung wird nur noch verschickt, wenn auch ein Text dafür konfiguriert ist.</span></li>
                <li><strong>Terminvereinbarung</strong> <span>Die Fehlermeldungen "MatchingNotFound" und "ProviderNotFound" werden bei einer berlinweiten Suche nicht mehr ausgelöst.</span></li>
                <li><strong>Tresen/Sachbearbeiter</strong> <span>Es können jetzt auch Abholer aus einem ganzen Cluster angezeigt werden.</span></li>
                <li><strong>Tresen/Sachbearbeiter</strong> <span>Beim Aufruf des nächsten Kunden bei einer leeren Warteschlange wird jetzt eine verständliche Fehlermeldung angezeigt.</span></li>
            </ul>
        </div>

        <div class="changelog-item">
            <h2>Version 2.23.05 <small>(12. August 2020)</small></h2>
            <ul>
                <li><strong>Allgemein</strong> <span>Die Validierung von Telefonnummern wurde auf ein anderes Verfahren umgestellt.</span></li>
                <li><strong>E-Mail</strong> <span>Die Kompatibilität des ICS-Anhangs wurde verbessert und ist jetzt in weiteren E-Mail-Clients nutzbar.</span></li>
                <li><strong>Terminvereinbarung</strong> <span>Die Checkbox für einen Kundenumfrage wird nur noch angezeigt, wenn auch ein Mail-Text angegeben wurde.</span></li>
                <li><strong>Tresen/Sachbearbeiter</strong> <span>Der Aufruf von nur reservierten Terminen wurde unterbunden.</span></li>
                <li><strong>Tresen/Sachbearbeiter</strong> <span>Ist die Warteliste beim Aufruf eine neuen Kunden leer, wird jetzt eine aussagekräftigere Fehlermeldung angezeigt.</span></li>
                <li><strong>Tresen/Sachbearbeiter</strong> <span>Nach dem Freigeben oder Sperren eines Kiosk erscheint jetzt eine Erfolgsmeldung als Bestätigung.</span></li>
                <li><strong>Tresen/Sachbearbeiter</strong> <span>Das Formular zum SMS-Versand kann jetzt auch mit kleineren Bildschirmen verwendet werden.</span></li>
                <li><strong>Tresen/Sachbearbeiter</strong> <span>Die Formulardaten beim Spontankunden werden nur validiert, wenn ein Name oder eine E-Mail-Adresse eingetragen wurde.</span></li>
                <li><strong>Tresen/Sachbearbeiter</strong> <span>Bei Auswahl eines Clusters können nun alle enthaltenen Termine des Clusters aufgerufen werden.</span></li>
            </ul>
        </div>


        <div class="changelog-item">
            <h2>Version 2.23.04 <small>(13. Mai 2020)</small></h2>
            <ul>
                <li><strong>Barrierefreiheit</strong> <span>Korrekturen einzelner Darstellungsfehler.</span></li>
                <li><strong>Terminvereinbarung</strong> <span>Bei Eingabe einer Telefonnummer mit mehr als 17 Ziffern wird jetzt eine Fehlermeldung angezeigt.</span></li>
                <li><strong>Tresen/Sachbearbeiter</strong> <span>Statt eines leeren Namens wird jetzt die Vorgangs- oder Aufrufnummer angezeigt.</span></li>
                <li><strong>Tresen/Sachbearbeiter</strong> <span>Die Option "Mit E-Mail Bestätigung" bei der Terminbestätigung ist jetzt im Standardfall aktiviert.</span></li>
                <li><strong>Tresen/Sachbearbeiter</strong> <span>Sind keine Dienstleistungen auswählbar wird jetzt eine passende Meldung angezeigt.</span></li>
                <li><strong>Tresen/Sachbearbeiter</strong> <span>Nach der Buchung eines Termins erscheint in der Bestätigung ein Button "Termin erneut bearbeiten".</span></li>
                <li><strong>Tresen/Sachbearbeiter</strong> <span>Ein bereits aufgerufener Kunde führt nicht mehr zu einer Fehlermeldung bei einem erneuten Aufruf aus der Tablet-Ansicht</span></li>
                <li><strong>Tresen/Sachbearbeiter</strong> <span>Nach dem Löschen eines Spontankunden wird jetzt die Wartenummer anstatt der Vorgangsnummer als Bestätigung angezeigt.</span></li>
                <li><strong>Tresen/Sachbearbeiter</strong> <span>Bei einer Änderung eines Termins wird jetzt eine Absage-E-Mail für den alten Termin verschickt, aber erst wenn der neue bestätigt ist.</span></li>
                <li><strong>Tresen/Sachbearbeiter</strong> <span>In der Liste der nicht erschienenen Vorgänge wird die Anzahl der Dienstleistungen des Vorgangs nun auch angezeigt.</span></li>
                <li><strong>Allgemein</strong> <span>Bei Bestätigungsmails und Bestätigungs-SMS wird der Zähler für Erinnerungen nicht mehr erhöht.</span></li>
                <li><strong>Terminsuche</strong> <span>Das Absagen eines Termins kann jetzt bei gleichzeitiger Terminsuche in einem anderen Tab erfolgen.</span></li>
            </ul>
        </div>

        <div class="changelog-item">
            <h2>Version 2.23.03 <small>(11. Februar 2020)</small></h2>
            <ul>
                <li><strong>Barrierefreiheit</strong> <span>Weitere Änderungen in Bezug zum Prüfbericht vom 14.11.2019.</span></li>
            </ul>
        </div>

        <div class="changelog-item">
            <h2>Version 2.23.02 <small>(08. Januar 2020)</small></h2>
            <ul>
                <li><strong>Barrierefreiheit</strong> <span>Änderungen in Bezug zum Prüfbericht vom 14.11.2019.</span></li>
            </ul>
        </div>

        <div class="changelog-item">
            <h2>Version 2.23.01 <small>(11. Dezember 2019)</small></h2>
            <ul>
                <li><strong>E-Mail</strong> <span>Bestimmte funktionale E-Mail-Postfächer können nicht mehr angeschrieben werden. Das betrifft vor allem Buchungen durch die 115.</span></li>
            </ul>
        </div>

        <div class="changelog-item">
            <h2>Version 2.23.00 <small>(13. November 2019)</small></h2>
            <ul>
                <li><strong>Barrierefreiheit</strong> <span>Tresen und Sachbearbeiterplatz verwenden jetzt ein auf barrierefreiheit optimiertes Layout</span></li>
                <li><strong>Kundenbefragung</strong> <span>Der automatische Einleitungstext in der Kundenbefragung entfällt, die Anrede muss jetzt selbst im Standort konfiguriert werden.</span></li>
                <li><strong>Terminabsage</strong> <span>Ein versehentlich kopiertes Leerzeichen im Absagecode wird jetzt ignoriert.</span></li>
                <li><strong>Terminbestätigung</strong> <span>Bestätigungen für die erste Woche des nächsten Jahres (30. + 31. Dezember 2019) enthalten jetzt die korrekte Jahreszahl.</span></li>
            </ul>
        </div>

        <div class="changelog-item">
            <h2>Version 2.22.00 <small>(11. September 2019)</small></h2>
            <ul>
                <li><strong>SMS</strong> <span>Ein SMS-Empfänger muss jetzt mindestens 7 Zeichen lang sein.</span></li>
                <li><strong>Terminbuchung</strong> <span>Bei der Verwendung von nicht ganzzahligen Slots von 0,4 und kleiner werden ausgebuchte Terminslots jetzt korrekt erkannt.</span></li>
                <li><strong>API</strong> <span>Der Buchungsweg für Termine wird jetzt erfasst (ServiceApp, Chatbot).</span></li>
            </ul>
        </div>

        <div class="changelog-item">
            <h2>Version 2.21.00 <small>(14. August 2019)</small></h2>
            <ul>
                <li><strong>Tresen</strong> <span>Die Warteliste beim Drucken und der Excel-Export zeigen jetzt auch Standort-Kürzel, wenn die Clusteransicht ausgewählt wurde.</span></li>
                <li><strong>Tresen</strong> <span>Der Excel-Export zeigt jetzt die Uhrzeiten in der korrekten Zeitzone an.</span></li>
                <li><strong>Tresen</strong> <span>Die Sortierung der Termine in der Cluster-Ansicht erfolgt jetzt nach geplanter Aufrufzeit.</span></li>
                <li><strong>Tresen</strong> <span>Der Wochenkalender zeigt jetzt auch Uhrzeiten außerhalb von 7-18 Uhr an.</span></li>
                <li><strong>Tresen</strong> <span>Links zu freien Terminen im Wochenkalender übernehmen beim Buchungsformular jetzt die Uhrzeit.</span></li>
                <li><strong>Administration</strong> <span>Callcenter- und Internet-Arbeitsplätze lassen sich jetzt unabhängig voneinander einstellen.</span></li>
                <li><strong>Administration</strong> <span>Das Pflichtfeld zur E-Mail-Eingabe wird jetzt ignoriert, wenn kein E-Mail-Absenderadresse angegeben wurde.</span></li>
                <li><strong>Terminsuche</strong> <span>Die Auswahl zur Teilnahme an einer Kundenbefragung wird zum Pflichtfeld.</span></li>
                <li><strong>Kundenbefragung</strong> <span>Der Versand einer Kundenbefragung kann jetzt mittels Platzhaltern dynamisch angepasst werden.</span></li>
            </ul>
        </div>

        <div class="changelog-item">
            <h2>Version 2.20.00 <small>(12. Juni 2019)</small></h2>
            <ul>
                <li><strong>Tresen</strong> <span>Über die Kundensuche werden jetzt Kunden aus allen Standorten gefunden, für die Zugriffsrechte bestehen.</span></li>
                <li><strong>Sachbearbeiter</strong> <span>Eine Platz- oder Raumangabe, die nur aus Leerzeichen besteht, ist nicht mehr erlaubt.</span></li>
                <li><strong>Mails</strong> <span>Bestätigungsmails werden an konfigurierte Empfänger ohne Kalender-Anhang verschickt (Auschluss vorerst von outlook.com, hotmail.com und live.com).</span></li>
                <li><strong>Terminsuche</strong> <span>Reservierte Termine werden jetzt bei einem Abbruch sofort wieder freigegeben.</span></li>
                <li><strong>Terminsuche</strong> <span>Die Status-Seite wurde um weitere Eigenschaften ergänzt.</span></li>
                <li><strong>Terminsuche</strong> <span>Weiße Kalender-Seiten können jetzt übersprungen werden, wenn erst Monate später ein Termin verfügbar wird.</span></li>
            </ul>
        </div>

        <div class="changelog-item">
            <h2>Version 2.19.07 <small>(10. April 2019)</small></h2>
            <ul>
                <li><strong>Tresen</strong> <span>Das schnelle Löschen eines abgesagten Termins vor dem SMS-Versand erzeugt keine Wiederholung des SMS-Versands mehr.</span></li>
                <li><strong>Statistik</strong> <span>Das schnelle Löschen eines abgesagten Termins vor dem SMS-Versand verhindert nicht mehr die Zählung der SMS.</span></li>
            </ul>
        </div>

        <div class="changelog-item">
            <h2>Version 2.19.06 <small>(19. März 2019)</small></h2>
            <ul>
                <li><strong>Terminsuche</strong> <span>Nach einer Änderung einer Öffnungszeit und der sofortigen Löschung dieser danach werden die alten gültigen Termine jetzt ohne Verzögerung auch gelöscht.</span></li>
            </ul>
        </div>

        <div class="changelog-item">
            <h2>Version 2.19.05 <small>(13. März 2019)</small></h2>
            <ul>
                <li><strong>Tresen</strong> <span>Der Wochenkalender zeigt keine Abholer der vorangegangenen Tage mehr an.</span></li>
                <li><strong>Tresen</strong> <span>Über den Button "als neu hinzufügen" kann man die Daten eines Spontankunden jetzt für einen neuen Spontankunden wiederverwenden.</span></li>
                <li><strong>Tresen</strong> <span>Eine Änderungen der Dienstleistungen zu einem Termin ändert jetzt immer die Slot-Anzahl, auch wenn man diese zuvor per Hand auf einen anderen Wert gesetzt hatte.</span></li>
                <li><strong>Tresen</strong> <span>Die Wartezeit wird jetzt einheitlich als eine "von ... bis" Zeit dargestellt.</span></li>
                <li><strong>Tresen</strong> <span>Neue Fehlermeldung: Wenn ein Termin mit mehreren Slots nicht buchbar ist, weil ein Zeitslot in der Folge vergeben wurde, wird jetzt eine differenzierte Fehlermeldung angezeigt.</span></li>
                <li><strong>Tresen</strong> <span>Neue Fehlermeldung: Wenn ein Termin auf Grund fehlender Rechte nicht gelöscht werden kann, wird dies jetzt angezeigt.</span></li>
                <li><strong>Öffnungszeiten</strong> <span>Bei Fehlkonfigurationen in den Öffnungszeiten werden jetzt direkt beim Speichern Fehlermeldungen angezeigt.</span></li>
                <li><strong>Terminsuche</strong> <span>Neue Fehlermeldung: Wenn jemand nach dem "Abbrechen"-Button die Zurück-Taste im Browser verwendet wird jetzt korrekt angezeigt, dass die Reservierung nicht mehr besteht.</span></li>
                <li><strong>Aufrufanzeige</strong> <span>Es können jetzt auch Wartende mit der voraussichtlichen Wartezeit angezeigt werden.</span></li>
                <li><strong>Statistik</strong> <span>Die Rohdaten können jetzt auch ohne Auswahl eines Standortes genutzt werden.</span></li>
                <li><strong>Kiosk</strong> <span>Die Wartezeit wird jetzt einheitlich als eine "von ... bis" Zeit dargestellt.</span></li>
            </ul>
        </div>

        <div class="changelog-item">
            <h2>Version 2.19.04 <small>(25. Februar 2019)</small></h2>
            <ul>
                <li><strong>Terminbuchung</strong> <span>Für die Berechnung der Zeitslots eines Termins wird jetzt die Einstellung aus der Öffnungszeit und nicht mehr aus dem Standort verwendet.</span></li>
            </ul>
        </div>

        <div class="changelog-item">
            <h2>Version 2.19.03 <small>(13. Februar 2019)</small></h2>
            <ul>
                <li><strong>Terminsuche</strong> <span>Bestätigungs-SMS verwendet jetzt das 24 Stunden Format für die Uhrzeit.</span></li>
                <li><strong>Öffnungszeiten</strong> <span>Alte Öffnungszeiten werden jetzt 28 Tagen nach Ablaufdatum gelöscht.</span></li>
                <li><strong>Öffnungszeiten</strong> <span>Button "Schließen" wurde in "Abbrechen" umbenannt und bei begonnender Anpassung einer Öffnungszeit kann jetzt auch abgebrochen werden.</span></li>
                <li><strong>Öffnungszeiten</strong> <span>Wenn der Zeitschlitz nicht in die Terminzeit passt, erscheint beim Speichern jetzt eine Fehlermeldung und ein Anlegen oder Verändern von Öffnungszeiten in der Vergangenheit ist nicht mehr möglich.</span></li>
                <li><strong>Administration</strong> <span>Missverständliches "aktiviert" in der Standort-Maske bei den Optionen "SMS-Bestätigung" und "SMS-Erinnerung" entfernt.</span></li>
                <li><strong>Administration</strong> <span>Die grüne Box für Bestätigungen in der Behörden-Übersicht wird jetzt nicht mehr angezeigt, wenn keine Meldungen vorliegen.</span></li>
                <li><strong>Administration</strong> <span>Wird ein Eintrag aus dem Fomrular heraus gelöscht, erscheint jetzt ein Bestätigungsdialog um ein versehentliches Löschen zu vermeiden.</span></li>
                <li><strong>Administration</strong> <span>Wechselt man aus der Warteschlangentabelle heraus den Standort oder wählt die Clusteransicht, wird jetzt ein Bestätigungsdialog-Feld angzeigt, welches darauf hinweist, dass sich das Terminformular aktualisieren wird und alle Eingaben verloren gehen.</span></li>
                <li><strong>Tresen</strong> <span>Bei einem ausgewählten Cluster muss erst der Standort gewählt werden, bevor ein Termin vereinbart werden kann.</span></li>
                <li><strong>Tresen</strong> <span>Die Anzahl der Wartenenden wird jetzt neben der Länge der Warteschlange angezeigt.</span></li>
                <li><strong>Tresen</strong> <span>Im Feld "Informationen" wird jetzt auch die Anzahl Vorgänge vor dem nächsten Spontankunden und die Anzahl Vorgänge mit aktueller Wartezeit angezeigt. </span></li>
                <li><strong>Aufrufanzeige/Kiosk</strong> <span>Wenn die virtuelle Sachbearbeiterzahl auf 0 gesetzt wird, wird für die Wartezeit ein "unbekannt" angezeigt.</span></li>
                <li><strong>Kiosk</strong> <span>Wenn im Vorgang bereits eine Telefonnummer hinterlegt ist, lässt sich diese über den Nachtrag-Mechanismus im Kiosk nicht mehr überschreiben.</span></li>
            </ul>
        </div>

        <div class="changelog-item">
            <h2>Version 2.19.02 <small>(09. Januar 2019)</small></h2>
            <ul>
                <li><strong>Terminsuche</strong> <span>Öffnungszeiten mit Wiederholungen größer einer Woche verwenden jetzt den Montag der Kalenderwoche und nicht das Startdatum der Öffnungszeit zur Berechnung der Serie.</span></li>
                <li><strong>Kundenbefragung</strong> <span>Die Befragung wird jetzt auch versendet, wenn der Standort keinem Cluster zugeordnet ist.</span></li>
            </ul>
        </div>

        <div class="changelog-item">
            <h2>Version 2.19.01 <small>(12. Dezember 2018)</small></h2>
            <ul>
                <li><strong>Terminsuche</strong> <span>E-Mail Texte enthalten nun vollständige Datumsformate in Deutsch.</span></li>
                <li><strong>Terminsuche</strong> <span>E-Mails werden nur noch versendet, wenn eine Absender-Adresse hinterlegt ist. Ohne diesen Absender werden auch keine E-Mail-Adressen abgefragt.</span></li>
                <li><strong>Terminsuche</strong> <span>Nur intern buchbare Termine werden für die Internet-Buchung nicht mehr rot als bereits belegt angezeigt.</span></li>
                <li><strong>Terminsuche</strong> <span>Der Buchungszeitraum wird jetzt in allen Varianten vollständig zur Verfügung gestellt.</span></li>
                <li><strong>Terminsuche</strong> <span>Layout-Anpassung bei der Terminbestätigung wurden vorgenommen. Die Druckversion enthält keine Seitenleiste mehr.</span></li>
                <li><strong>Aufrufanlage</strong> <span>Bei Netzwerkstörungen wird bei Verzögerung von mehr als 5 Sekunden ein Fehler angezeigt.</span></li>
                <li><strong>Tresen</strong> <span>Beim Löschen aus der Tabelle wird jetzt auch eine Absage-Mail verschickt.</span></li>
                <li><strong>Statistik</strong> <span>Beim Monat Januar wird jetzt wieder das richtige Jahr angezeigt.</span></li>
            </ul>
        </div>

        <div class="changelog-item">
            <h2>Version 2.19.00 <small>(14. November 2018)</small></h2>
            <ul>
                <li><strong>Mandantenfähigkeit</strong> <span>Zusätzlich zur Dienstleistungsdatenbank können jetzt eigene Standorte und Dienstleistungen ergänzt werden. Dafür sind erweiterte Rechte notwendig.</span></li>
                <li><strong>Terminsuche</strong> <span>Die Blätter-Funktion im Kalender wurde so angepasst, dass ein zukünftiger Monat solange wählbar bleibt, bis ein Monat nur noch weiße, also nicht buchbare Tage aufweist.</span></li>
                <li><strong>Administration</strong> <span>Beim Löschen von Standorten, Behörden oder Organisationen erscheint jetzt eine Bestätigung bei Erfolg.</span></li>
                <li><strong>Administration</strong> <span>Der maximale Buchungszeitraum kann jetzt wieder dreistellig angegeben werden.</span></li>
                <li><strong>Administration</strong> <span>Die Standort-Einstellungen zu SMS wurden nach oben zu denen der Online-Terminbuchung verschoben.</span></li>
                <li><strong>Administration/Tresen</strong> <span>Buttons und Checkboxen werden jetzt besser hervorgehoben, wenn man den Fokus beispielsweise über die TAB-Taste ändert.</span></li>
                <li><strong>Administration/Tresen</strong> <span>Ein Blättern in die Vergangenheit ist nicht mehr möglich.</span></li>
                <li><strong>Tresen</strong> <span>Spontan- und Terminkunden werden jetzt in Formularen jeweils korrekt ausgewiesen.</span></li>
                <li><strong>Tresen</strong> <span>Fehlender OK-Button bei erfolgreich verschickten SMS ergänzt.</span></li>
                <li><strong>Tresen</strong> <span>Nicht erschienene Kunden werden nicht mehr in die voraussichtliche Wartezeit eingerechnet.</span></li>
                <li><strong>Tresen</strong> <span>Beim Wochenkalender lässt sich jetzt auch beim Jahreswechsel wieder zur vorherigen Woche wechseln.</span></li>
                <li><strong>Öffnungszeiten</strong> <span>Fehler bei nicht zu den Zeitschlitz-Einstellungen passenden Uhrzeiten werden sofort angezeigt.</span></li>
                <li><strong>Öffnungszeiten</strong> <span>Bei neuen Öffnungszeiten wird jetzt ein Abbrechen- statt eines Löschen-Buttons angezeigt.</span></li>
                <li><strong>Statistik</strong> <span>Es werden jetzt auch Standorte ohne Daten mit jeweiligen Null-Werten angezeigt.</span></li>
                <li><strong>Statistik</strong> <span>Der fehlende Tag in Monaten mit Sommer- und Winterzeit-Umstellung wird jetzt wieder angezeigt.</span></li>
                <li><strong>Kiosk</strong> <span>Bei einer Auswahl von mehreren Standorten führt der abschließende OK-Button nicht mehr nur zum ersten Standort.</span></li>
                <li><strong>Kiosk</strong> <span>Bei einem Wechsel eines Kiosk-Terminals in eine andere Organisation wird jetzt ein Reset-Button angeboten um die vormalige Zuordnung zu löschen.</span></li>
                <li><strong>Aufrufanlage</strong> <span>Die aufgerufenen Nummern bleiben jetzt auf dem Bildschirm stehen, bis diese abschließend bearbeitet wurden. So ist ersichtlich, wieviele Sachbearbeiter zur Zeit aktiv sind.</span></li>
            </ul>
        </div>

        <div class="changelog-item">
            <h2>Version 2.18.02 <small>(10. Oktober 2018)</small></h2>
            <ul>
                <li><strong>Administration/Tresen:</strong> <span>Tastaturkürzel wurden angepasst und zum Teil ergänzt (siehe Handbuch)</span></li>
                <li><strong>Tresen:</strong> <span>Es werden wieder mehr als ein freier Termin pro Uhrzeit angezeigt (betraf nur die Darstellung).</span></li>
                <li><strong>Tresen:</strong> <span>Beim Anlegen eines Termins werden bei Fehlern die Eingaben aus anderen Feldern nicht mehr zurückgesetzt.</span></li>
                <li><strong>Administration:</strong> <span>Beim Anlegen eines Standortes ist nicht mehr der erste Standort aus der DLDB vorausgewählt.</span></li>
                <li><strong>Mails:</strong> <span>Bei einer Terminerinnerung wird jetzt das deutsche Datumsformat verwendet.</span></li>
                <li><strong>Statistik:</strong> <span>Zur Abfrage der Dienstleistungsstatistik werden keine erweiterten Rechte mehr benötigt.</span></li>
            </ul>
        </div>

        <div class="changelog-item">
            <h2>Version 2.18.00 <small>(12. September 2018)</small></h2>
            <ul>
                <li><strong>Allgemein:</strong> <span>Die Bezeichnung der Standorte wird jetzt immer aus der Dienstleistungsdatenbank übernommen. Sollte ein "nicht zugeordnet" erscheinen, fehlt eine Verknüpfung mit einem Standort in der Dienstleistungsdatenbank oder der Standort wurde dort zwischenzeitlich gelöscht.</span></li>
                <li><strong>Allgemein:</strong> <span>Tasturkürzel lassen sich nun verwenden. Eine Liste der möglichen Kürzel findet man im Handbuch.</span></li>
                <li><strong>Terminsuche:</strong> <span>Nach einem Wechsel der IP-Adresse wird jetzt ein Captcha abgefragt.</span></li>
                <li><strong>Tresen:</strong> <span>Fiktive Arbeitsplätze können wieder auf 0 gestellt werden.</span></li>
                <li><strong>Tresen:</strong> <span>Die Angabe einer Telefonnummer zur Terminvereinbarung wird nur noch verlangt, wenn eine Bestätigung per Checkbox ausgewählt wurde.</span></li>
                <li><strong>Administration:</strong> <span>Fiktive Arbeitsplätze können wieder auf 0 gestellt werden.</span></li>
                <li><strong>Statistik:</strong> <span>Die doppelte Verlinkung von Jahren wurde korrigiert</span></li>
                <li><strong>Statistik:</strong> <span>Standorte ohne SMS-Statistik können jetzt ohne Fehlermeldung angeschaut werden.</span></li>
                <li><strong>Statistik:</strong> <span>Wenn kein HTTPS verwendet wird, erscheint jetzt vor dem Login bereits eine Meldung, die automatisch weiterleitet.</span></li>
                <li><strong>Statistik:</strong> <span>Eine Liste der Nutzerkonten kann nun exportiert werden, so dass alle Nutzerinnen und Nutzer per E-Mail angeschrieben werden können. Der Zugriff auf diese Liste ist auf wenige Personen beschränkt.</span></li>
            </ul>
        </div>

<div class="changelog-item">
            <h2>Version 2.17.03 <small>(27. Juni 2018)</small></h2>
            <ul>
                <li><strong>Allgemein:</strong> <span>Eine Änderung an einer Öffnungszeit kann sich erst nach bis zu zu 10 Minuten auf freie Termine auswirken.</span></li>
                <li><strong>Standort:</strong> <span>Die Beschreibung einiger Felder im Formular wurde angepasst.</span></li>
                <li><strong>Status:</strong> <span>Es wurde eine Anzeige zur Status der Berechnung von Termin-Slots hinzugefügt.</span></li>
                <li><strong>Öffnungszeiten:</strong> <span>Unter bestimmten Umständen wurden nicht alle Spontankunden-Zeiten angezeigt. Das wurde behoben.</span></li>
            </ul>
        </div>

        <div class="changelog-item">
            <h2>Version 2.17.00 <small>(06. Juni 2018)</small></h2>
            <ul>
                <li><strong>Allgemein:</strong> <span>Die Suche nach freien Terminen wurde optimiert und ist jetzt schneller. Dabei werden freie Termine, die sich aus den Einstellungen zu den Öffnungszeiten ergeben, vorberechnet. Daher kann es passieren, dass eine Änderung, zum Beispiel an einer Öffnungszeit, einem Standort oder das Hinzufügen eines neuen freien Tages, sich erst nach ein paar Minuten auf freie Termine auswirkt.</span></li>
                <li><strong>Allgemein:</strong> <span>Ein Termin muss mindestens 10 Minuten vor Beginn gebucht werden. Zuvor gab es keine Beschränkung für Tresenmitarbeiter und 30 Minuten für Internet-Buchungen.</span></li>
                <li><strong>Aufrufanlage:</strong> <span>Es können jetzt auch Bilder im SVG-Format hochgeladen werden. Damit kann eine bessere Bildqualität bei hochauflösenden Bildschirmen erreicht werden. (Tipp: Bei Wikipedia gibt es die Bezirkswappen als SVG zur freien Verwendung.)</span></li>
                <li><strong>Handbuch:</strong> <span>Das Layout des Handbuchs wurde in weiten Teilen angepasst und gliedert sich nun besser in die Anwendung ein.</span></li>
                <li><strong>Statistik:</strong> <span>Rohdaten einer Behörde werden jetzt zusammen mit den Organisationsnamen aufgelistet, so dass Behörden wie "Bürgeramt" auch ohne Kenntnis der internen ID unterscheidbar werden.</span></li>
                <li><strong>Terminsuche:</strong> <span>Zu Fehlermeldungen werden jetzt mehr Informationen angezeigt um schneller Hilfe anbieten zu können.</span></li>
                <li><strong>Kiosk:</strong> <span>Das Feld "Name zur internen Identifikation" benennt jetzt jeden Kiosk und macht diesen in der Organisations-Verwaltung identifizierbar ohne die kryptische ID kennen zu müssen.</span></li>
            </ul>
        </div>

        <div class="changelog-item">
            <h2>Version 2.16.02 <small>(16. Mai 2018)</small></h2>
            <ul>
                <li><strong>Umfrage:</strong> <span>In der Bestätigung einer Terminbuchung wie in der dazugehörigen Mail wird eine Online-Umfrage verlinkt.</span></li>
            </ul>
        </div>

        <div class="changelog-item">
            <h2>Version 2.16.00 <small>(25. April 2018)</small></h2>
            <ul>
                <li><strong>Allgemein:</strong> <span>Wenn im Browser keine sichere Verbindung verwendet wird (HTTPS), erscheint jetzt eine Warnung gefolgt von einem automatischen Redirect zur korrekten URL.</span></li>
                <li><strong>Handbuch:</strong> <span>Eine Nutzerhandbuch ist jetzt verfügbar.</span></li>
                <li><strong>E-Mail-Erfassung:</strong> <span>Feld für E-Mail-Adressen im Formular für Nutzerkonten ist jetzt Pflicht</span></li>
                <li><strong>Fehlermeldungen:</strong> <span>Fehlermeldungen beim Tresen/Sachbearbeiter lassen sich jetzt immer schließen.</span></li>
                <li><strong>Externe Anwendungen:</strong> <span>Schnittstellen für externe Anwendungen werden umgestellt</span></li>
                <li><strong>Öffnungszeiten:</strong> <span>Monatsansicht: Bei der Berechnung von Gesamtkontingenten werden das aktuelle Datum und die Uhrzeit nicht mehr beachtet. Es wird jetzt das maximal mögliche Kontingent für einen Monat angezeigt.</span></li>
                <li><strong>Öffnungszeiten:</strong> <span>Umlautprobleme in Monatsnamen wurden behoben.</span></li>
                <li><strong>Öffnungszeiten:</strong> <span>Tagesansicht: Bei der Berechnung verfügbarer Slots werden Termine mit mehreren Slots jetzt korrekt mehrfach in die Summer der belegten Slots eingerechnet.</span></li>
                <li><strong>Standort:</strong> <span>Die Abwahl der Optionen per Checkbox wie "Mehrfachtermine" oder "Notruf" ist wieder möglich.</span></li>
                <li><strong>Standort:</strong> <span>Eine Mindestgröße von 25 bei Wartenummer-Kreisen ist nicht mehr erforderlich.</span></li>
                <li><strong>Standort:</strong> <span>SMS-Einstellungen zur Bestätigung und Erinnerung werden jetzt korrekt in Bezug zu den Behörden-Einstellungen angezeigt.</span></li>
                <li><strong>Behörde:</strong> <span>Für Favoriten und freie Tage wurde das Layout verbessert, damit Formular-Felder besser zuzuordnen sind.</span></li>
                <li><strong>Cluster:</strong> <span>Der Löschen-Button taucht nicht mehr beim Erstellen eines Clusters auf.</span></li>
                <li><strong>Tresen:</strong> <span>Terminvereinbarung: Die Slots der Dienstleistungen werden jetzt je nach Standorteinstellung korrekt summiert.</span></li>
                <li><strong>Tresen:</strong> <span>Die Reihenfolge der Formular-Elemente, wenn man mit der &lt;TAB&gt;-Taste navigiert, wurde optimiert.</span></li>
                <li><strong>Tresen:</strong> <span>Der fehlende Button zum Drucken eines Termins nach einer erfolgreichen Reservierung wurde ergänzt.</span></li>
                <li><strong>Tresen:</strong> <span>Bei Auswahl eines Clusters kann man bei der Terminvereinbarung jetzt einen Cluster-Standort wählen, um eine automatische Zuordnung zu umgehen.</span></li>
                <li><strong>Tresen:</strong> <span>In der Suche werden jetzt auch unvollständige Telefonnummern gefunden.</span></li>
                <li><strong>Sachbearbeiter:</strong> <span>Bei Eingabe eines Wortes als Platznummer wie "Azubi" wird jetzt nach einem abgeschlossenen Termin korrekt zum Sachbearbeiterplatz weitergeleitet (vorher zum Tresen).</span></li>
                <li><strong>Sachbearbeiter:</strong> <span>Nimmt man eine nicht erschienene Kundin oder Kunden wieder in die Warteschlange auf und bearbeitet diesen, erhält dieser jetzt eine korrekt formatierte E-Mail.</span></li>
                <li><strong>Sachbearbeiter:</strong> <span>Die Erhebung der Statistik nach der Bearbeitung einer Kundin oder eines Kunden kann wieder deaktiviert werden.</span></li>
                <li><strong>Terminsuche:</strong> <span>Fehlende Hinweise zur Zahlungsarten werden wieder angezeigt.</span></li>
                <li><strong>Terminsuche:</strong> <span>Wenn die Reservierung eines Termins fehlschlägt, wird jetzt eine nutzerfreundliche Fehlermeldung angezeigt.</span></li>
                <li><strong>Terminsuche:</strong> <span>Fehlerberichte enthalten jetzt für den Support auch die ausgewählten Dienstleistungen und Standorte.</span></li>
                <li><strong>Terminsuche:</strong> <span>Ein Fehler wurde korrigiert, bei dem trotz Einstellung unter Umständen keine Weiterleitung zu einer externen Terminvereinbarung stattfand.</span></li>
                <li><strong>Terminsuche:</strong> <span>Der ICS-Anhang in Terminbestätigungs-Mails trägt jetzt die korrekte Uhrzeit nach Mitteleuropäischer Winter-/Sommerzeit ein.</span></li>
                <li><strong>Nutzerkonto:</strong> <span>Nur noch Superuser sind systemweite Nutzerkonten. Für normale Nutzerkonten müssen jetzt zwingend Behörden ausgewählt werden.</span></li>
                <li><strong>Kiosk:</strong> <span>Bei der Zusammenstellung einer Kiosk-URL wird nicht mehr ein Cluster mit ausgewählt, wenn dieser die selbe ID hat, wie ein gerade ausgewählter Standort.</span></li>
                <li><strong>Kiosk:</strong> <span>Die eingegebene StartUrl geht nicht mehr verloren, wenn der Kiosk nur für einen Standort genutzt wird.</span></li>
                <li><strong>Kiosk:</strong> <span>Auch bei vergebenen Wartenummern größer 1000 funktioniert jetzt der Nachtrag von SMS.</span></li>
                <li><strong>Kiosk:</strong> <span>Im Formular "Wartenummerausgabe am Kiosk" zum freigeben/sperren wurde der Abbrechen-Button entfernt.</span></li>
                <li><strong>Statistik:</strong> <span>Ruft man eine Seite ohne erforderliche Zugriffsrechte auf, erscheint eine entsprechende Meldung und kein Fehlerreport mehr.</span></li>
                <li><strong>Statusseite:</strong> <span>Es werden jetzt Informationen über den letzten Import der Dienstleistungsdatenbank angezeigt.</span></li>
            </ul>
        </div>

        <div class="changelog-item">
            <h2>Version 2.15.06 <small>(26. März 2018)</small></h2>
            <ul>
                <li><strong>E-Mail-Erfassung:</strong> <span>Ermöglicht die Erfassung von E-Mail-Adressen für Nutzerkonten</span></li>
            </ul>
        </div>

        <div class="changelog-item">
            <h2>Version 2.15.04 <small>(26. März 2018)</small></h2>
            <ul>
                <li><strong>Terminsuche:</strong> <span>Öffnungszeiten mit der Einstellung "einmaliger Termin" werden jetzt korrekt als belegt angezeigt.</span></li>
            </ul>
        </div>


        <div class="changelog-item">
            <h2>Version 2.15.00 <small>(31. Januar 2018)</small></h2>
            <ul>
                <li><strong>Statistik:</strong> <span>Korrektur des Tagesdurchschnittwertes für die gemessenen Wartezeit.</span></li>
                <li><strong>Kiosk:</strong> <span>Die Auswahl von Clustern zur Wartenummernvergabe wurde entfernt.</span></li>
                <li><strong>Öffnungszeiten:</strong> <span>Einmalige Termine können wieder angelegt werden.</span></li>
                <li><strong>Öffnungszeiten:</strong> <span>Wochentage werden jetzt auf Deutsch angezeigt.</span></li>
                <li><strong>Aufrufbildschirm:</strong> <span>Aufrufbildschirme aktualisieren sich jetzt auch nach einem Server-Fehler wieder.</span></li>
                <li><strong>Administration:</strong> <span>Formular zur Einrichtung von Standorten wurde korrigiert, einige Beschreibungen waren fehlerhaft.</span></li>
                <li><strong>Terminbestätigung:</strong> <span>Die versendete E-Mail wurde leicht überarbeitet.</span></li>
                <li><strong>Captcha:</strong> <span>Redirect nach einem Captcha geht im Zweifel auf die Tagesauswahl.</span></li>
                <li><strong>Terminsuche:</strong> <span>Wenn zwei gleichzeitig den selben Termin buchen erhält der langsamere jetzt eine lesbare Fehlermeldung.</span></li>
            </ul>
        </div>

        <div class="changelog-item">
            <h2>Version 2.14 <small>(29. November 2017)</small></h2>
            <ul>
                <li><strong>SMS-Versand:</strong> <span>Fehlerhafte SMS werden nicht mehr versendet.</span></li>
                <li><strong>Administration:</strong> <span>Passwörter können auch wieder durch den Admin vergeben werden</span></li>
                <li><strong>Tresen:</strong> <span>Hinzufügen von Spontankunden funktioniert wieder.</span></li>
            </ul>
        </div>

        <div class="changelog-item">
            <h2>Version 2.13.00 <small>(27. September 2017)</small></h2>
            <p>Erste Version des überarbeiteten Zeitmanagementsystems. In den ersten Monaten werden sowohl das alte wie das neue System parallel betrieben. Ein Wechsel zwischen den Systemen ist jederzeit möglich, um die Eingewöhnung zu erleichtern. Folgende sichtbare Änderungen ergeben sich durch die neue Version:</p>
            <ul>
                <li><strong>Layout und Benuteroberfläche:</strong> <span>Das Layout wurde komplett überarbeitet. Bedienelemente wie Buttons und Formulare bleiben weitestgehend gleich. Über Änderungen in der Bedienung wird gesondert informiert.</span></li>
                <li><strong>Login:</strong> <span>Der Login findet nun in zwei Schritten statt. Loggen Sie sich zuerst ein und auf der folgenden Seite wählen Sie nun Standort und Platz- oder Raum-Nummer aus.</span></li>
                <li><strong>Sachbearbeiter:</strong> <span>Der Aufruf einer Kundin oder eines Kunden erfolgt nun ohne Popup. Ein Wechsel der Seite ist während des Aufrufs möglich. Beachten Sie, dass vor einem Abmelden am System der Aufruf einer Kundin oder eines Kunden abeschlossen sein muss.</span></li>
                <li><strong>Versand von E-Mail und SMS:</strong> <span>E-Mails und SMS können nur noch für eingetragene Termine verschickt werden. Eine freie Eingabe einer Telefonnummer oder E-Mail-Adresse ist nicht mehr möglich.</span></li>
                <li><strong>Notruf:</strong> <span>Ein Notruf kann nun ausgeblendet werden.</span></li>
                <li><strong>Gruppierung von Dienstleistungen:</strong> <span>Die Auswahl von Dienstleistungen werden nun nach den aktuellen Themen aus dem Service-Portal gruppiert.</span></li>
                <li><strong>Browser-Kompatibilität und Klang-Ereignisse:</strong> <span>Für das Abspielen von Klang-Ereignissen (Notruf, Aufrufbildschirm) wird kein Quicktime-Plugin mehr benötigt. Eine aktuelle Browser-Version wird vorausgesetzt.</span></li>
                <li><strong>Öffnungszeiten:</strong> <span>Die Administration der Öffnungszeiten wurde komplett überarbeitet.</span></li>
                <li><strong>Konfiguration Kiosk-System und Aufrufanlage:</strong> <span>Die Erstellung einer URL für ein Kiosk-System zur Ziehung von Wartenummern oder einer Aufrufanlage erfordert nun einen Login im System. Die fertige URL kann aber weiterhin kopiert und ohne Login genutzt werden.</span></li>
                <li><strong>Templates für Kiosk-System und Aufrufanlage:</strong> <span>Es können nun aus einer Liste vorgefertigte Templates ausgewählt und innerhalb eines Standorts auch unterschiedliche Ansichten realisiert werden.</span></li>
                <li><strong>Startseite des Kiosk-System:</strong> <span>Für ein Kiosk-System können nun abweichende Startseiten angegeben werden. Damit ist eine Integration in digitale Informationssysteme möglich.</span></li>
                <li><strong>Berechnung der Wartezeit:</strong> <span>Die Berechnung der Wartezeit erfolgt nun durch eine andere Formel und es kann zu Abweichungen kommen. Passen Sie falls nötig in den Standort-Einstellungen die "Durchschnittliche Bearbeitungszeit" an.</span></li>
                <li><strong>Suche:</strong> <span>Durch Eingabe einer Vorgangsnummer kann nun eine kurze Historie dieser Nummer eingesehen werden.</span></li>
                <li><strong>Externe Datenquellen:</strong> <span>Die Dienstleistungsdatenbank der Berliner Behörden ist nun nicht mehr die einzige Datenquelle. Einstellungen zu Standorten erfordern nun die Auswahl einer vorgegebenen Datenquelle.</span></li>
                <li><strong>Darstellung von Dienstleistungen:</strong> <span>Voraussetzungen und erforderliche Unterlagen werden jetzt wie in der Dienstleistungsdatenbank getrennt dargestellt (z.B. in Terminbestätigungen).</span></li>
                <li><strong>Fehlerbehebung Internetbuchung:</strong> <span>Eine Fehlbuchung eines Termins durch eine gleichzeitige Buchung über mehrere Tabs im Browser ist nun nicht mehr möglich.</span></li>
                <li><strong>Systemumgebung:</strong> <span>Softwarekomponenten sowie Servertechnik wurden umfangreich erneuert.</span></li>
            </ul>
        </div>
    </div>

    <div class="changelog-item">
        <h2>Version 1.6.12 <small>(2017)</small></h2>
        <p>Letzte Version des Vorgänger-Systems.</p>
    </div>

{% endif %}
</div>
