
.magictime {
    -webkit-animation-duration: $magicAnimationTimeDefault;
    -moz-animation-duration: $magicAnimationTimeDefault;
    -o-animation-duration: $magicAnimationTimeDefault;
    animation-duration: $magicAnimationTimeDefault;
}
