{% block advanceInfoClient %}
{% endblock %}

{% block advancedInfoWaiting %}
    <p>Angegeben sind die beim Ziehen der Wartenummer berechneten Wartezeiten und die tatsächlichen Wartezeiten der im angegebenen Zeitraum erschienenen Bürger. </p>
    <p>Die Zeitangaben erfolgen in Minuten.</p>
{% endblock %}
