{% extends "block/scaffholding/board.twig" %}

{% block board_title %}
    {% set tableName = workstation.scope.contact.name %}
    {% set tablePeriod = period|format_date(pattern="MMMM y") %}
    {% if 4 == period|length %}
        {% set periodName = "Kalenderjahr " %}
        {% set tablePeriod = periodName|trans ~ period %}
    {% endif %}

    {% if dateRange %}
        {% set tablePeriod = dateRange.from|date("d.m.Y") ~ " bis " ~ dateRange.to|date("d.m.Y") %}
    {% endif %}

    {% if activeDepartment %}
        {% set tableName = department.name %}
    {% elseif activeOrganisation %}
        {% set tableName = organisation.name %}
    {% endif %}

    {# TODO: Can be deleted when all other statistic components are migrated #}
    {% if selected and not dateRange %}
        {% trans %}Auswertung f체r{% endtrans %} {{ tableName }} {% trans %}im Zeitraum{% endtrans %} {{ tablePeriod }}
    {% endif %}

    {% if dateRange %}
        {% trans %}Auswertung f체r die ausgew채hlten Standorte im Zeitraum{% endtrans %} {{ tablePeriod }}
    {% endif %}
{% endblock %}

{% block board_header_right %}
    {% if selected or dateRange or download %}
        {% set downloadParams = {'type':'xlsx'} %}
        {% if dateRange %}
            {% set downloadParams = downloadParams|merge({'from': dateRange.from, 'to': dateRange.to}) %}
        {% endif %}
        {% if selectedScopeIds %}
            {% set downloadParams = downloadParams|merge({'scopes': selectedScopeIds}) %}
        {% endif %}
        <a href="{{ urlGet(currentRoute().name, currentRoute().params, downloadParams) }}" target="_blank" title="Download" class="button button--diamond"><i class="fas fa-download" aria-hidden="true"></i></a>
    {% endif %}
{% endblock %}

{% block board_body_noperiod %}
    <table class="report-board--table report-board--text">
        <tbody>
            <tr><td>{% trans %}Bitte w채hlen Sie einen Zeitraum aus.{% endtrans %}</td></tr>
        </tbody>
    </table>
{% endblock %}
