<td class="platznummer">
	{% if queue.status == "called" %}
	    <div class="aufrufanzeigeneuenummer">
	{% else %}
	    <div class="aufrufanzeigeplatz">
	{% endif %}
	{% if queue.destinationHint %}
	<span class="terminkundenanzeige">{{ queue.destinationHint | raw }}</span><br/>
	{% endif %}

	{% set destination = queue.destination %}
    <span class="destination terminkundennummer{% if not isNumeric(queue.destination) and queue.destination|length > 6 %} abholeranzeige{% endif %}">
        {{ queue.destination | raw }}
    </span>
	</div>
</td>