
<div id="waitingClients" style="display:none">
    {{ waitingClients }}
</div>
<div id="waitingTime" style="display:none">
    {% if waitingTime > 120 %}
        mehr als {{ (waitingTime / 60)|round(0, 'floor') }} Stunden
    {% else %}
        {{ waitingTimeOptimistic }} - {{ waitingTime }} Minuten
    {% endif %}
</div>

