{% block head %}
<head>
	<title>{% block title %}ZMS Ticketprinter{% endblock %}</title>
	<meta http-equiv="pragma" content="no-cache" />
    <meta http-equiv="expires" content="0" />
    <meta http-equiv="cache-control" content="no-cache" />
	<meta title="{% trans %}Anmeldung an Warteschlange{% endtrans %}">
    <meta name="robots" content="NOINDEX NOFOLLOW">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    {% if refreshInSeconds %}
    <meta http-equiv="refresh" content="{{ refreshInSeconds }}" />
    {% endif %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8" />
    <link rel="stylesheet" type="text/css" href="{{ includeUrl() }}/_css/ticketprinter.css">
    <link rel="stylesheet" type="text/css" media="print, embossed" href="{{ includeUrl() }}/_css/print.css" />
    <link rel="canonical" href="http://service.berlin.de/">
</head>
{% endblock %}
