<thead>
<tr>
    <th class="wartenummer">
            <span class="description_de">{{ leftHead }}
                {% if leftHeadEn is defined %}
                    <span class="description_eng">/ {{ leftHeadEn }}</span>
                {% endif %}
            </span>

    </th>
    <th class="platznummer">
            <span class="description_de">{{ rightHead }}
                {% if rightHeadEn is defined %}
                    <span class="description_eng">/ {{ rightHeadEn }}</span>
                {% endif %}
            </span>

    </th>
</tr>
</thead>