vendor
vendor.zmsbase
node_modules
config.php
**.swp
.sass-cache
.DS_Store
package-lock.json
cache/
vendor.old
vendor.update
VERSION
public/_tests
public/_js/
public/_libs/
public/_css/statistic.css
public/_css/statistic.css.map
composer.*.lock
.cache
.phpunit.result.cache
.idea
.parcel-cache
