vendor
vendor.zmsbase
node_modules
config.php
**.swp
.sass-cache
.DS_Store
cache/
vendor.old
vendor.update
VERSION
package-lock.json
public/_tests
public/_js/index.js
public/_js/index.js.map
public/_libs/
public/_css/statistic.css
public/_css/statistic.css.map
composer.*.lock
composer.lock
.cache
.phpunit.result.cache
.idea
.parcel-cache
