vendor
vendor.zmsbase
node_modules
config.php
**.swp
.sass-cache
.DS_*
cache/
vendor.old
vendor.update
VERSION
public/_tests
public/_js/index.js
public/_js/index.js.map
public/_libs/
public/_css/statistic.css
public/_css/statistic.css.map
.cache
.phpunit.result.cache
.idea
.parcel-cache
