.availability-monthtable {
    @extend 
        .board;
    > .body {
        @extend 
            //.board_body--noBorder,
            //.board_body--white,
            .board_body--noPadding;
    }
}


$calendarDayTodayBackgroundColor:               #E5F5FC; //#FCFCEF;
$calendarDayOutofrangeBackgroundColor:          #F8F8F8;
$calendarDayClosedBackgroundColor:              #F4F4F4;
$calendarDayHolidayBackgroundColor:             #EFC10F;
$calendarDayFreeBackgroundColor:                #D0EACA;
$calendarDayBusyBackgroundColor:                #FFACAA;

$calendarCircleOpenColor:                       #A3CA3E;
$calendarCircleAppointmentColor:                #009FE3;
$calendarCircleConflictColor:                   #BE1522;

.availability-monthtable_calendar {
    @extend 
        .table--cells,
        .table;
    background-color:               $white;
    thead {
        background-color:           $tableHeadBackground;
    }
    th {
        height:                     2em;
        border-width:               1px 0;
        position:                   relative;
        .day {
            font-size:              1.1em;
            position:               absolute;
            top:                    0.2em;
            right:                  0.5em;
        }
    }
    td {
        height:                     7em;
        width:                      percentage(1 / 7);

        &.closed {
            background-color:       $calendarDayClosedBackgroundColor;
        }
        &.holiday {
            box-shadow:             inset 0px 5px 0px $calendarDayHolidayBackgroundColor;
        }
        &.free {
            box-shadow:             inset 0px 5px 0px $calendarDayFreeBackgroundColor;
        }
        &.busy {
            box-shadow:             inset 0px 5px 0px $calendarDayBusyBackgroundColor;
        }
        &.today {
            background-color:       $calendarDayTodayBackgroundColor;
        }
        &.out-of-range.last {
            background-color:       $white;
            border:                 0 none;
        }
        &.out-of-range.first {
            background-color:       $white;
            border-top:             0 none;
            border-left:            0 none;
        }
    }
    .month-item {
        display:                    block;
        position:                   relative;
        top:                        0;
        left:                       0;
        width:                      100%;
        height:                     100%;
        text-decoration:            none;
        &:hover {
            outline:                1px dotted $black;
            outline-offset:         -1px;
        }
        .day {
            color:                  $baseTextColor;
            font-size:              1.3em;
            position:               absolute;
            top:                    0.3em;
            right:                  0.5em;
        }
        .circles {
            position:               absolute;
            right:                  0.5em;
            top:                    2.1em;
            .circle-conflict {
                @extend .circle--upsize;
                color:              $calendarCircleConflictColor;
            }
            .circle-open {
                @extend .circle--upsize;
                color:              $calendarCircleOpenColor;
            }
            .circle-appointment {
                @extend .circle--upsize;
                color:              $calendarCircleAppointmentColor;
            }
        }
        .icons {
            color:                  #575757;
            font-size:              1.0em;
            position:               absolute;
            top:                    3.8em;
            right:                  0.5em;
        }
        .holiday {
            position:               absolute;
            bottom:                 0.2em;
            left:                   0.5em;
            font-size:              0.8em;
            line-height:            1.0em;
            width:                  60%;
        }
    }
}

.availability-monthtable_legend {
    margin-bottom:                  $gridGutter * 2;
    ul {
        @extend .list-bare;
        margin-bottom:  1em;
        li {
            display:        inline;
            margin-right:   2em;
        }
    }
    .circle-conflict {
        @extend .circle--upsize;
        color:              $calendarCircleConflictColor;
    }
    .circle-open {
        @extend .circle--upsize;
        color:              $calendarCircleOpenColor;
    }
    .circle-appointment {
        @extend .circle--upsize;
        color:              $calendarCircleAppointmentColor;
    }
    .box-holiday {
        display:            inline-block;
        width:              1em;
        height:             0.5em;
        content:            "";
        background-color:   $calendarDayHolidayBackgroundColor;
        vertical-align:     text-top;
        border:             0 none;
    }
    .box-free {
        display:            inline-block;
        width:              1em;
        height:             0.5em;
        content:            "";
        background-color:   $calendarDayFreeBackgroundColor;
        vertical-align:     text-top;
        border:             0 none;
    }
    .box-busy {
        display:            inline-block;
        width:              1em;
        height:             0.5em;
        content:            "";
        background-color:   $calendarDayBusyBackgroundColor;
        vertical-align:     text-top;
        border:             0 none;
    }
    .box-today {
        display:            inline-block;
        width:              1em;
        height:             1em;
        content:            "";
        background-color:   $calendarDayTodayBackgroundColor;
        vertical-align:     text-top;
        border:             1px solid $inuit-table-border-color;
    }
    .box-closed {
        display:            inline-block;
        width:              1em;
        height:             1em;
        content:            "";
        background-color:   $calendarDayClosedBackgroundColor;
        vertical-align:     text-top;
        border:             1px solid $inuit-table-border-color;
    }
    [class^="icon-"]::before {
        font-size:          1em;
        line-height:        1em;
        vertical-align:     baseline;
    }
}


.availability-capacity {
    margin:                 $gridGutter 0;
    table {
        @extend
            .table--cells,
            .table--oddeven;
        width:      auto;
    }
}

/* Modifier */
.circle--upsize {
    font-size:          2.5em;
    line-height:        20px;
    line-height:        1.4rem;
    vertical-align:     bottom;
}
