.availability-form {
  form {
    @extend .form--horizontal;
  }

  h2.title:before {
    content: "✎ ";
    padding-right: 1em;
  }

  input[type=text][name=description] {
    width: 100%;
  }
  
}

#availability-abort {
  color: #000;
}

.message-error {
  background-color: #fadcdc;
  border: 1px solid #f4afaf;
  line-height: 1em; 
  padding-left: 1em;
  margin: 10px;
}

.message-error>p {
  margin: 0.7em;
} 

