.warteschlangebutton_gross button.eintragen {
    background: url(img/wartenummer_anfordern.png) 0 24px no-repeat;
    border: 0;
    color: #fff;
    font-size: 42px;
    font-family: Arial, sans-serif;
    font-weight: bold;
    height: 195px;
    width: 657px;
}

div.wartebuttonbereich_einzeilig {
    position: absolute;
    top: 295px;
    width: 875px;
    left: 160px;
}