.calendar {
    @extend 
        .board;
    > .header {
        padding-right:  0;
    }
    > .body {
        padding:        0.5em 0.4em;
    }
}



/**
 * CSS for small calendarpages display free/busy days and the day of the month
 */
$backgroundColorDayFree:        #CFE9C9;
$backgroundColorDayBusy:        #FFAAA9;
$textColorDateLocked:           #CCCCCC;
$textColorDateSunday:           $red;

.calendar-page {
    background-color:           $white;
    font-size:                  0.9em; 
    margin-bottom:              1em;
    > .header {
        border-bottom:          1px solid $grey;
        margin:                 0 0 0.2em 0;
        padding:                0.2em 0.5em;
        .title {
            margin:             0;
            padding:            0;
            font-size:          1em;
            font-wight:         bold;
        }
    }
    > .body {
        font-size:              0.873em;
        table {
            @extend 
                .table; 
            th {
                padding:            0 0.1em;
                text-align:         center;
            }
            td {
                padding:            0 0.1em;
                text-align:         center;
                border-bottom:      3px solid white;
                line-height:        1.5em;
            }
            color:                  $baseTextColor;
            a {
                color:              $baseTextColor;
                display:            block;
                &:hover {
                    outline:     1px dotted $baseTextColor;
                }
            }
            .date-free {
                background-color:   $backgroundColorDayFree;
            }
            .date-busy {
                background-color:   $backgroundColorDayBusy;
            }
            .date-locked {
                color:              $textColorDateLocked;
                cursor:             default;
            }
            .sunday {
                color:              $textColorDateSunday;
                cursor:             default;
            }
        }
    }
}
