.calendar-weektable {
    @extend 
        .board;
    > .body {
        @extend 
            //.board_body--noBorder,
            //.board_body--white,
            .board_body--noPadding;
    }
}

$border-color:                      $inuit-table-border-color;

.calendar-weektable_calendar {
    @extend 
        .table--cells,
        .table--compact,
        .table;
    background-color:               $white;
    th {
        min-height:                 2em;
        border-width:               1px 0;
        position:                   relative;
    }
    td {
        background-color:           $backgroundColorDateDisabled;
    }
    th {
        width: 14%;
    }
    .timeslot {
        font-size:                  0.9em;
        min-height:                 2em;
        background-color:           transparent;
        border:                     0 none;
        border-bottom:              1px solid $border-color;
        .timeslot__time {
            display:                inline-block;
            padding:                0.1em 0.3em 0.1em 0.2em;
            border-right:           1px solid $border-color;
        }
        .timeslot__item {
            display:                inline-block;
            padding:                0.1em 0;
            margin-left:            0.4em;
        }
        &.timeslot--disabled {
            background-color:       $backgroundColorDateDisabled;
        }
        &.timeslot--free {
            background-color:       $backgroundColorDateFree;
        }
        &.timeslot--busy {
            background-color:       $backgroundColorDateBusy;
        }
    }
}



