.calendar-navigation {
    display:    inline-block;
    .icon {
        @extend 
            .calendar-navigation__item,
            .calendar-navigation__icon;
            padding:        0.1em 0.5em;
    }
    .today {
        @extend 
            .calendar-navigation__item;
        padding:            0.5em 0.0em;
    }
    .prev {
        padding:            0.1em 0.2em 0.1em 0.4em;
    }
    .next {
        padding:            0.1em 0.4em 0.1em 0.2em;
    }
}

.calendar-navigation__item {
    font-weight:        bold;
    vertical-align:     middle;
    margin:             0;
    &:hover,
    &:focus {
        //color:              $black;
        text-decoration:        underline;
    }
}

.calendar-navigation__icon {
    font-size:          1.6em;
}
