.calendar-weektable {
    @extend
        .board;
    > .body {
        @extend
            //.board_body--noBorder,
            //.board_body--white,
            .board_body--noPadding;
    }
}

$border-color:                      $inuit-table-border-color;

.calendar-weektable_calendar {
    @extend
        .table--cells,
        .table--compact,
        .table;
    background-color:               $white;
    border-spacing:                 1px;
    th {
        min-height:                 2em;
        border-width:               1px 0;
        position:                   relative;
        padding:                    0 5px;
        width: 14%;
        border-color:               darken($border-color, 25%);
        &.legend-hour {
            width:                  auto;
        }
    }
    td {
        background:         -moz-linear-gradient(top, rgba(240,240,240,0) 0%, rgba(240,240,240,0.3) 50%, rgba(240,240,240,0.78) 100%); /* FF3.6-15 */
        background:         -webkit-linear-gradient(top, rgba(240,240,240,0) 0%,rgba(240,240,240,0.3) 50%,rgba(240,240,240,0.78) 100%); /* Chrome10-25,Safari5.1-6 */
        background:         linear-gradient(to bottom, rgba(240,240,240,0) 0%,rgba(240,240,240,0.3) 50%,rgba(240,240,240,0.78) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter:             progid:DXImageTransform.Microsoft.gradient( startColorstr='#00dddddd', endColorstr='#94dddddd',GradientType=0 ); /* IE6-9 */
        box-shadow:         inset 1px 1px rgba(245, 245, 245, 0.5);
        border:                     0px;
        &.legend-hour {
            width:auto;
            background-color:       $grey;
            .timeslot__time {
                color:              $black;
            }
        }
    }
    .calendar-weektable_day {
        border-spacing:             0 !important;
        td {
            border:                 0px !important;
        }
    }
    .timeslot {
        font-size:                  0.8em;
        line-height:                1.2em;
        min-height:                 1em;
        background-color:           transparent;
        border:                     0 none;
        display:                    block;
        .timeslot__time {
            display:                table-cell;
            padding:                0.1em 0.3em 0.1em 0.2em;
            background:             rgba(255, 255, 255, 0.2) none repeat scroll 0 0;
            vertical-align:         top;
            color:                  $white;
            a {
                color:                  $white;
                text-decoration:        none;
            }
        }
        .timeslot__items {
            display: table-cell;
            .item {
                background:         rgba(215, 215, 215, 0.9) none repeat scroll 0 0;
                border-radius:      2px;
                box-shadow:         0 0 2px rgba(45, 45, 45, 0.5);
                display:            inline-block;
                margin:             2px;
                padding:            0 3px 1px;
            }
        }
        &.timeslot--disabled {
            background-color:           $backgroundColorDateDisabled;
            color:                      #666666;
        }
        &.timeslot--free {
            .timeslot__time {
                background-color:       $backgroundColorDateFree;
                border-color:           darken($backgroundColorDateFree, 20%);
                font-weight:            bold;
            }
        }
        &.timeslot--busy {
            .timeslot__time {
                background-color:       $backgroundColorDateBusy;
                border-color:           #D89191;
                font-weight:            bold;
            }
        }
    }
}
