.client-precall {
    @extend
        .board_body--maxHeight,
        .board;
    .body {
        @extend
            .align-center;
            min-height: 182px;
        .title {
            margin:         1em 0 1em 0;
            font-size:      1.1em;
            font-weight:    bold;
        }
    }
    .form-actions {
        margin-bottom:      0;
    }
}

.client-precall_button-skip {
    @extend
        .btn;
}

.client-precall_button-abort {
    @extend
        .btn,
        .btn--alert;
}

.client-precall_button-success {
    @extend
        .btn--success,
        .btn;
    margin-bottom:          1em;
}
