
.client-next {
    @extend
        //.board_body--minHeight,
        .board_body--maxHeight,
        .board;
    .body {
        @extend
            .align-center;
        min-height: 182px;
    }
}
