.emergency {
  &[data-state=clear] {
    .emergency__overlay {
      display: none;
    }
  }

  &[data-state=triggered] {
  }

  &[data-source=other] {
    .emergency__end {
      display: none;
    }
  }

  &[data-source=self] {
    .emergency__help {
      display: none;
    }
  }

  &[data-state=help-coming] {
    .emergency__help-coming {
      display: block;
    }
    .emergency__help {
      display: none;
    }
  }

  &[data-minimized] {
    .emergency__overlay {
      height: 0;
      overflow: visible;
    }

    .emergency__display-box {
      position: fixed;
      top: 100%;
      left: 0;
      right: 0;
      width: auto;
      padding: 0;

      transform: translateY(-42px);
    }

    .emergency__show {
      display: inline;
    }
  }
}

.emergency__overlay {
  position: fixed;

  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  background-color: rgba(0, 0, 0, 0.4);
}

.emergency__overlay-layout {
  display: flex;

  width: 100%;
  height: 100%;

  align-items: center;
  justify-content: center;
}

.emergency__display-box {
  @extend .board, .board--red !optional;

  width: 600px;
  padding: 32px;
}

.emergency__message {
  font-weight: 600;
}

.emergency__show {
  display: none;
}

.emergency__help-coming {
  display: none;
}

.emergency__button-trigger {
  @extend .button-emergency !optional;
}

.emergency__button-hide {
  @extend .button-default !optional;
}

.emergency__button-show {
  @extend .button-default !optional;
}

.emergency__button-help {
  @extend .button-submit !optional;
}

.emergency__button-end {
  @extend .button-submit !optional;
}
