// Page Header
.pageheader {
    @extend .grid, .grid--full;
    color:              $white;
    background-color:   $pageheaderBackgroundColor;
    padding:            ($gridGutter / 2) $gridGutter;
    margin:             0 0 $gridGutter 0;
    .pageheader_logo {
        @extend .grid__item, .one-sixth, .palm--one-whole;
    }
    .pageheader_sitename {
        @extend .grid__item, .two-sixths, .palm--one-whole;
    }
    .pageheader_userinfo {
        @extend .grid__item, .three-sixths, .palm--one-whole;
    }
}

