$navElementPadding:         $baseBoxElementPadding;

.navigation {
    background-color:       $grey;
    border:                 1px solid $greyDark;
    .navigation__title {
        font-size:          1em;
        line-height:        1.2em;
        font-weight:        bold;
        display:            block;
        color:              $black;
        background-color:   $greyDark;
        margin:             0;
        padding:            $navElementPadding;
    }
    ul {
        @extend .list-bare;
    }
    .nav {
        .nav__item {
            border-top:             1px solid $greyDark;
            padding:                $navElementPadding;
            display:                block;
            text-decoration:        none;
            font-weight:            normal;
            &.active {
                border-left:        9px solid $blue;
                font-weight:        bold;
            }
        }
        a {
            text-decoration:        none;
            &:hover {
                text-decoration:    underline;
            }
        }
    }
}

.navigation_clientsearch {
    padding:                $baseBoxElementPadding;
}

.nav__item--active {
    border-left:        9px solid $blue;
    font-weight:        bold;
}
