$navElementPadding:         0.5em 0em 0.5em 1.1em;
$navElementActivePadding:   0.5em 0em 0.5em 0.5em;
$navElementTitlePadding:    0.5em 0em 0.5em 0.6em;

.navigation {
    background-color:       $grey;
    border:                 1px solid $greyDark;
    margin-bottom:          $gridGutter;
    ul {
        @extend .list-bare;
        li {
            margin:         0;
        }
    }
    .nav {
        .nav__item {
            border-top:             1px solid $greyDark;
            padding:                $navElementPadding;
            display:                block;
            text-decoration:        none;
            font-weight:            normal;
            color:                  $baseTextColor;
            &.active {
                border-left:        0.6em solid $blue;
                font-weight:        bold;
                padding:            $navElementActivePadding;
            }
        }
        a {
            text-decoration:        none;
            &:hover,
            &:focus {
                text-decoration:    underline;
            }
        }
    }
    + .search-mask {
        margin-top: -$gridGutter;
    }
}

.navigation__title {
    font-size:          1em;
    line-height:        1.2em;
    font-weight:        bold;
    display:            block;
    color:              lighten($black, 25%);
    background-color:   $greyDark;
    margin:             0;
    padding:            $navElementTitlePadding;
}
