.owner-overview { 
    ul {
        @extend
            .list-bare;
    }
    li {
        margin:                         0;
    }
    .owner-title { 
        font-size:                      1.2em;
        .pull-right {
            margin-right:               $gridGutter / 2;
            font-size:                  1rem;
        }
    }
    .button-edit-availabilty {
        @extend 
            .pull-right;
    }
}


.owner-overview_organisation-list_title {
    @extend 
        .board_header;
    font-size:                  1em;
}

.owner-overview_department-list {
    .owner-overview_department-list_title {
        font-size:              1em;
        background-color:       $grey;
        border-bottom:          1px solid $greyBorder;
        padding:                $boardElementPadding;
        margin:                 0;
        
    }
    > li {
        border:                 1px solid $greyBorder;
        border-width:           0px 1px 0px 1px;
    }
}

.owner-overview_scope-list {
    > li {
        @extend 
            .clearfix;
        padding:                $boardElementPadding;
        border-top:             1px solid lighten($greyBorder,12%);
        border-bottom:          1px solid $greyBorder;
    }
}

.owner-overview_cluster-list {
    .owner-overview_cluster-list_title {
        font-weight:            bold;
        font-size:              1em;
    }
    > li {
        border-bottom:          1px solid $greyBorder;
    }
    .owner-overview_scope-list {   
        > li {
            border-bottom: 1px solid #f1f1f1;
            border-top: 0 none;
            margin: $boardElementPadding;
            padding: 0;
        }
        
        > li:last-child {
        	border-bottom:0 none;
        }
    }
}

