.pickup-keyboard-handheld {
    @extend 
        .board;
    font-size:                  1.3em;
    form {
        @extend 
            .form--horizontal;
        input.number {
            font-size:          1.8em;
            padding:            0.3em 0.4em;
            text-align:         center;
        }
        .actions {
            margin-top:         1em;
        }
    }
    .keyboard {
        text-align: center;
        table {
            @extend 
                .table,
                .table--compact;
            background:             transparent;
            width:                  auto;
            margin:                 0 auto;
            td,th {
                vertical-align:     middle;
                text-align:         center;
            }
        }
    }
    .btn {
        font-size:              1em;
        padding:                1em 1.5em;
        &.button-submit {
            padding:            1.5em 2em;
        }
        &.disabled {
            background: #ccc;
        }
    }
    .note {
        font-size:              1rem;
    }
    
}


@include media-query(palm) {
    .pickup-keyboard-handheld {
        form {
            .actions {
                text-align:         center; 
                margin-top:         3em;
            }
        }
    }
}
