.pickup-table {
    @extend .board;
    > .body {
        @extend
            .board_body--noPadding;
    }
    table {
        @extend
            .table,
            .table--cells;
        thead {
            th {
                border:         0 none;
            }
        }
        td {
            vertical-align:     middle;
            padding:            0 0.5em;
        }
    }
    
    p {
        padding:                0.5em;
    }
}
