$queuePastColor:                #E6E6E6 !default;
$queueFutureColor:              #74CAF0 !default;
$queueMissedColor:              $red !default;

.queue {
    @extend 
    .board;
         > .header {
        .title {
            margin-right:           0.7em;
        }
        .right {
            .btn {
                margin-right:       0;
                margin-left:        0.5em;
            }
            .form-group {
                margin:       0 2em;
            }
        }
    }
    table {
        @extend 
            .table, 
            .table--cells;
        background-color:       $white;
        margin-bottom:          $gridGutter;
        thead {
            background-color:   $tableHeadBackground;
            th {
                border:         0 none;
                padding:        0.4em 0.5em;
            }
        }
        td {
            padding:            0.5em;
        }
        tbody {
            tr:first-child {
                .queue-status {
                    border-top:     1px solid $greyBorder;
                }
            }
        }
        .queue-status {
            border:             0 none;
            padding-left:       0;
            padding-right:      0;
            width:              0.4em;
        }
        tr.past {
            .queue-status {
                background-color:       $queuePastColor;
            }
            + tr.future {
                .queue-status {
                    border-top:         1px solid $white;
                    position:           relative;
                    /*
                    &:before {  
                        display:            block;
                        width:              10px;
                        height:             10px;
                        content:            "🕓";
                        left:               -16px;
                        position:           absolute;
                        top:                -10px;
                        color:              $greyDark;
                    }
                    */
                }
                
            }     
        }
        tr.future {
            background-color:       $white;
            .queue-status {
                background-color:   $queueFutureColor;
            }
        }
        tr.missed {
            background-color:       $queuePastColor;
            color:                  #666666;
            a {
                color:              $linkColor;
            }
        }
        &.queue-missed {
            margin-top:                 1em;
            margin-bottom:              0;
        }
    }
    .form-actions > * {
        margin-bottom:          0;
    }
   
}
