.selectdate-form {
    @extend
        .board,
        .board--minHeight !optional;

    > .body {
      padding:        0.5em 0.4em;
    }
    .form-group {
      margin-bottom:      0.4em !important;
    }
    .form-actions {
        margin-bottom:      0;
    }
    label {
        font-size:          0.8566em; //12px;
    }
    .split {
        @extend .grid;
        .split_left {
            @extend
                .grid__item,
                .five-twelfths,
                .palm--one-whole;
        }
        .split_right {
            @extend
                .grid__item,
                .seven-twelfths,
                .palm--one-whole;
        }
    }
}
