/* ----------------------------------------------
    Aufruf-Tabelle
---------------------------------------------- */

div.aufrufanzeige_anzeigebereich_einzeilig
{
	float:none;
	margin: auto;
    margin-left:80px;
    width: 200px;
   	cursor: url(../img/invisible_Mauszeiger.cur),crosshair;
}
div.aufrufanzeige_anzeigebereich_zweizeilig
{
	float:left;
	margin-top: auto;
/*    margin-right:3%;*/
   	cursor: url(../img/invisible_Mauszeiger.cur),crosshair;
}


.aufrufanzeige .aufrufanzeige_main
{
    left: 340px;
    position: absolute;
    top:115px;
}
.aufrufanzeige table.aufrufanzeige_aufruf
{
    border-spacing:0;
    table-layout:fixed;
    width:570px;
}
.aufrufanzeige table.aufrufanzeige_aufruf th
{
    background: #fff;
    border-right: 20px solid #C8D5E6;
    border-top: 3px solid #C8D5E6;
    font-size: 36px;
    font-family: Arial, sans-serif;
    font-weight: bold;
    line-height: 45px;
    text-align:center;
}
.aufrufanzeige table.aufrufanzeige_aufruf th.wartenummer {
    width:50%;
}
.aufrufanzeige table.aufrufanzeige_aufruf td
{
    background: #E0E9F2;
    color: #000;
    border-right: 20px solid #C8D5E6;
    border-top: 3px solid #C8D5E6;
    /*font-size: 70px;
    line-height: 108px;*/
    font-family: Arial, sans-serif;
    font-weight: bold;
    text-align:center;
    padding:8px 0px;
}
.aufrufanzeige table.aufrufanzeige_aufruf .wartenummer div
{
/*    width: 330px;*/
}
.aufrufanzeige table.aufrufanzeige_aufruf .platznummer div
{
/*    width: 160px;*/
}


.aufrufanzeige table.aufrufanzeige_aufruf td div.newprocess
{
    color: #D60C22 !important;
    font-size: 70px;
    line-height:0;
}

span.terminkundenanzeige
{
	font-weight: normal;
	font-size: 30px;
   line-height: 35px;
}
span.terminkundennummer
{
	font-size: 60px;
   line-height: 60px;
}
span.abholeranzeige
{
	font-size: 40px;
   line-height: 60px;
}

/* ----------------------------------------------
    Aufruf-Tabelle, zweispaltig
---------------------------------------------- */

div.aber_zweispaltig {
    margin-left:0px;
}
.aufrufanzeige table.zweispaltig {
    width:350px;
}
.aufrufanzeige table.zweispaltig th.wartenummer {
    width:60%;
}
.aufrufanzeige table.zweispaltig th,
.aufrufanzeige table.zweispaltig td {
    border-right:4px solid #C8D5E6;
}
.aufrufanzeige table.zweispaltig td {
    font-size: 60px;
}
.zweispaltig span.terminkundennummer {
    font-size:50px;
}
.puffer {padding-left:10px;}

/* ----------------------------------------------
    Bei mehr als 2 Spalten
---------------------------------------------- */

div.columns-3 {
	margin-left:-300px !important;
	width:100% !important;
}

div.columns-3 table {
	width:100% !important;
}

@media screen and (min-width:1820px) { /* 1920 * 1080 */
	div.columns-3 {
		margin-left:-500px !important;
	}
}

@media screen and (min-width:900px) and (max-width:1180px) { /* 1080 * 1920 */
	div.columns-3 {
		width:130% !important;
	}
}

/* ----------------------------------------------
    Bei langen Wartenummern Font verkleinern
---------------------------------------------- */
.smallerFont8Chars {
	font-size:0.55em !important;
}
.smallerFont7Chars {
	font-size:0.7em !important;
}