.ticketprinterhash {

    position:       absolute;
    left:           36px;
    top:            740px;
    z-index:        0;
    color:          darken(#c8d5e6, 10%);
    font-size:      0.4em;
    font-weight:    normal;
}
