.wartenummern {
    height: 	758px;
    //left: 		0;
    //position: 	absolute;
    //top: 		0;
    width: 		1014px;
}

.hiddencursor {
    //cursor: url(../img/invisible_Mauszeiger.cur),crosshair;
}

.wartenummern .werbeblock_oben {
    position: absolute;
    top: 150px;
}

.wartenummern .werbeblock_mehrfachkiosk_oben {
    position: absolute;
    top: 130px;
    left: 95px;
    width: 800px;
}