{% block notification_amendment_canceled %}
	<h1>Abbruch</h1>
	<p>
		Sie haben den Nachtrag Ihrer Handynummer abgebrochen.<br />
		Sie erhalten keine Erinnerung vor Ihrem Termin.
    </p>
{% endblock %}

