{% block notification_amendment_canceled %}
	<h1>Abbruch</h1>
	<p>
		Der gewählte Termin enthält schon eine Telefonnummer. Aus Sicherheitsgründen wurde der Vorgang abgebrochen.
		<br /><br />
		Wenden Sie sich zur Änderung der Telefonnummer bitte an einen Mitarbeiter.
    </p>
{% endblock %}

