{% use "block/timer/time.twig" %}
{% block pageheader %}

<div id="main-header">
	<span class="noprint">
    	<div class="adressangabe">
            <div class="adressangabe_behoerde">{{ organisation.name }}</div>
    		<div class="adressangabe_name"> {{ organisation.departments|first.name }}</div>
        </div>
    </span>
    {% block timer %}
        {{ parent() }}
    {% endblock %}
</div>

{% endblock %}