{% use "block/default/head.twig" %}

<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="{{ currentLang() }}" lang="{{ currentLang() }}">
    {% block head %}
    	{{ parent() }}
    {% endblock %}
    <body class="locale_{{ currentLang() }}" id="{% block pageid %}{% endblock %}">
        <div class="wartenummern hiddencursor">
			<div class="content">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </body>
</html>
