{% extends "layout/main.twig" %}
{% block title %}{% trans "Ein Fehler ist aufgetreten" %}{% endblock %}
{% block pageid %}{% if task %}{{ task }}{% else %}exception{% endif %}{% endblock %}
{% block pageheader %}
	<div id="main-header">
		<span class="noprint">
			<div class="adressangabe">
				{% if header %}
				{% trans header %}
				{% else %}
                {% block adressangabe %}
					Ein Fehler ist aufgetreten
				{% endblock %}
				{% endif %}
            </div>
        </span>
    </div>
{% endblock %}
{% block content %}
	<div class="alert alert-error noprint textile">
        <h1>{% trans title %}</h1>

        {% if message %}
        	<p>
        	{% trans message %}
        	</p>
        {% endif %}
        {% if showlinks %}
        <ul>
        	{% for link, name in showlinks %}
        	<li><a href="{{ urlGet(link) }}">{% trans name %}</a></li>
        	{% endfor %}
        </ul>
        {% endif %}
	</div>
{% endblock %}
