{% extends "layout/main.twig" %}

{% block title %}404{% endblock %}

 {% block headline %}
    <h1>{% trans %}Entschuldigung - 404{% endtrans %}</h1>
{% endblock %}
{% block content %}
<p>
Die von Ihnen aufgerufene Seite wurde nicht gefunden
</p>
{% endblock %}
