<div class="dialog message message-success">
    <div class="header">
        <h2 class="title">{{ successTitle|default("Abholer archiviert")|trans }}</h2>
    </div>
    <div class="body">
        {% if deleteList %}
            <p>Alle Termine wurden erfolgreich aus der Liste entfernt.</p>
        {% else %}
            <p>Der Abholer mit der Wartenummer {{ process.queue.number }} wurde erfolgreich aus der Liste entfernt.</p>
        {% endif %}
        <div class="form-actions">
            <a data-action-abort class="button-ok btn right" href="#">OK</a>
        </div>
    </div>
</div>
