{% block pageheader %}

<div id="main-header" class="noprint">
	<span>
    	<div class="adressangabe">
			<div class="adressangabe_name_right" style="position:fixed;right:54px;font-size: 1em;margin-top: 8px;font-weight:normal;"><span class="digital-datum">{{ "now"|format_datetime(pattern="EEEE, d.M.Y", locale='de') }}</span> <span style="font-size: 1.2em;font-weight: bold"><span class="digital-clock">{{ "now"|date("H:i") }}</span> Uhr</span></div>
    		<div class="adressangabe_name" style="font-size: 1.2em;margin-top: 8px;">{{ calldisplay.contact.name }}</div>
        </div>
    </span>
</div>

{% endblock %}
