{% block pageheader %}

<div id="main-header" class="noprint">
	<span>
    	<div class="adressangabe">
            <div class="adressangabe_behoerde">{{ calldisplay.organisation.name }}</div>
    		<div class="adressangabe_name">{{ calldisplay.contact.name }}</div>
        </div>
    </span>
</div>

{% endblock %}
