{% embed "block/scaffholding/board.twig" with {'class': 'versioninfo'} %}

        {% block board_title %}
            Aktuelle Informationen
        {% endblock %}

        {% block board_body %}
            <p>An dieser Stelle informieren wir Sie über wichtige Änderungen im System:</p>
            {% include "block/changelog/changelogitem.twig" with {'shortchangelog': 1} %}
        	<a href="{{ urlGet('changelog', {}, {}) }}" target="_self">Mehr anzeigen</a>
        {% endblock %}


{% endembed %}
