{% block IntroMultiButtonText %}
<div class="werbeblock_mehrfachkiosk_oben">
{% trans %}Bitte fordern Sie eine Wartenummer an für{% endtrans %}:<br />
</div>
{% endblock %}

{% block IntroButtonText %}
{% trans %}Bitte fordern Sie eine Wartenummer an für{% endtrans %}:<br />
{% endblock %}