{% block numberpad %}
<div class="nummernblock">
	<button type="button" class="ziffer" id="digit1" >1</button>
	<button type="button" class="ziffer" id="digit2" >2</button>
	<button type="button" class="ziffer" id="digit3" >3</button><br />
	<button type="button" class="ziffer" id="digit4" >4</button>
	<button type="button" class="ziffer" id="digit5" >5</button>
	<button type="button" class="ziffer" id="digit6" >6</button><br />
	<button type="button" class="ziffer" id="digit7" >7</button>
	<button type="button" class="ziffer" id="digit8" >8</button>
	<button type="button" class="ziffer" id="digit9" >9</button><br />
	<button type="button" class="ziffer" id="removelastdigit" title="das letzte Zeichen löschen" >&lt;</button>
	<button type="button" class="ziffer" id="0" >0</button>
	<button type="button" class="ziffer" id="removealldigitsphone" >C</button>
</div>
{% endblock %}