{% block print %}
<div class="print" media="print">
	<span class="printausgabe msg_ihre_wartenummer">Ihre Wartenummer:</span>
    <div class="printausgabe msg_ihre_nummernanzeige nummernanzeige">{{ process.queue.number }}</div>
    <span class="printausgabe msg_stdname">
    	<span class="printausgabe msg_ihre_wartenummer">
    		{{ process.scope.contact.name }}<br>
    		{{ process.queue.arrivalTime|format_date(pattern="EE dd. MMMM Y") }}, {{ process.queue.arrivalTime|format_date(pattern="HH:mm") }} {% trans %}Uhr{% endtrans %}<br>
		</span>
	</span>
</div>
{% endblock %}


